<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/client/layout}"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <th:block layout:fragment="content">
    <link rel="stylesheet" th:href="@{/client/css/mainCategory.css}">


    <section>
        <div id="main_category_bed_contents">

            <ul class="route_list">
                <li><img src="/client/images/icon/home.png" alt=""></li>
                <li>&gt;</li>
                <li th:if="${type == 'bed' or type == 'wardrobe' or type == 'dressingTable'}">침실</li>
                <li th:if="${type == 'sopa' or type == 'table' or type == 'closet'}">거실</li>
                <li th:if="${type == 'desk' or type == 'bookcase' or type == 'chair'}">서재</li>
                <li th:if="${type == 'kitchenTable' or type == 'kitchenCloset'}">주방</li>
                <li>&gt;</li>
                <li th:if="${type == 'bed'}">침대</li>
                <li th:if="${type == 'wardrobe'}">옷장</li>
                <li th:if="${type == 'dressingTable'}">화장대</li>
                <li th:if="${type == 'sopa'}">소파</li>
                <li th:if="${type == 'table'}">테이블</li>
                <li th:if="${type == 'closet'}">수납장</li>
                <li th:if="${type == 'desk'}">책상</li>
                <li th:if="${type == 'bookcase'}">책장</li>
                <li th:if="${type == 'chair'}">의자</li>
                <li th:if="${type == 'kitchenTable'}">식탁</li>
                <li th:if="${type == 'kitchenCloset'}">수납장</li>
            </ul>
<!-- ${product.attachmentList[0].getThumbnailPath()} -->
            <th:block th:each="product : ${productList}">
                <ul class="gallery_list">
                    <li>
                        <img th:src="@{|/thumbPath|}" width="200px" height="150px" alt="섬네일 이미지">
                    </li>
                    <li class="gallery_list_text">
                        <ul class="gallery_list_text1">
                            <li>1인가구</li>
                            <li>리뷰</li>
                        </ul>
                        <ul class="gallery_list_text2">
                            <li th:text="${product.adminProductDTO.productName}"></li>
                            <li th:text="${product.adminProductDTO.price}"></li>
                        </ul>
                    </li>
                </ul>
            </th:block>

                <ul class="page_number">
                <li>1</li>
                <li>2</li>
                </ul>
        </div>
    </section>

    </th:block>
</html>