
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');



#contents {
  padding-top: 80px;
}

/* 여기부터 시작 */

.home_logo {
  display: flex;

}
.homeimg{
  width: 30px;
  height: 25px;
}
.character{
  font-size: 12px;
  margin-top: 10px;
}
.cart_text{
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}

#cart_write{
  text-decoration: underline;
  text-underline-offset: 5px;
}

.cart_order {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 120px;
  text-align: center;

}


.cart_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 100px;
}


th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: #f2f2f2;
}

td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.total {
  font-weight: bold;
  text-align: right;
}


.select_cart{
  text-align: right;

}
.select_cart input[type="submit"] {
  width: 100px;
  height: 30px;
  align-items: center;
}

.total_price {
  display: flex;
  min-width: 100%;
  background-color: #f2f2f2;
  border: 1px solid #d09191;
  border-radius: 10px;
  padding: 5px;
  width: 450px;
  height: 120px;
  justify-content: center;


}



.select_cart{
  display: grid;
  grid-template-columns: auto auto  ;
  box-sizing: border-box;


}
.select_order_btn{
  display: grid;
  border: 2px solid #d09191;
  border-radius: 30px;
  padding: 5px;
  width: 180px;
  background-color: #fff;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;


}
.select_order_btn2{
  display: grid;
  justify-self: end;

}

.select_del_btn{
  display: grid;
  border: 1px solid #d09191;
  border-radius: 10px;
  padding: 5px;
  width: 150px;
  height: 30px;
  justify-content: center;
  align-items: center;

}
.select_delete_btn{
  display: grid;
  border: 1px solid #d09191;
  border-radius: 10px;
  padding: 5px;
  width: 150px;
  height: 30px;
  justify-content: center;
  align-items: center;

}

.select_all_btn{
  display: grid;
  border: 2px solid #d09191;
  border-radius: 30px;
  padding: 5px;
  width: 180px;
  background-color: #fff;
  height: 40px;
  color: #F5F5F5;
  align-items: center;
  background-color: #A7727D;
  text-align: center;

}
.select_all_btn:hover{
  cursor: pointer;
  background-color: #c59e9e;

}
.select_all_btn2{
  display:flex;
  justify-content: flex-end;
}

.sum_text{
  display: grid;
  align-items: center;
  justify-content: left;
  padding-right: 20px;
}
.sum_text2{
  display: grid;
  align-items: center;
}
.sum_text3{
  display: grid;
  align-items: center;

}
.sum_text_contain{

  display: flex;
  justify-content: flex-end;
}

#quantity-display {
  margin: 0 10px;
  font-size: 18px;
}

.quantity-button {
  cursor: pointer;
  font-size: 18px;
  width: 20px;
  height: 25px;

}

.cart_numbrt_btn{

  align-items: center;


}

/* 퀵 메뉴 조절 */
div, ul, li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:0;
  margin:0}

a {
  text-decoration:none;}

.quickmenu {
  position:absolute;
  width:90px;
  top:50%;
  margin-top:-50px;
  right:10px;
  background:#fff;}

.quickmenu {position:absolute;width:90px;top:50%;margin-top:-50px;right:10px;background:#fff;}
.quickmenu ul {position:relative;float:left;width:100%;display:inline-block;display:inline;border:1px solid #ddd;}
.quickmenu ul li {float:left;width:100%;border-bottom:1px solid #ddd;text-align:center;display:inline-block;display:inline;}
.quickmenu ul li a {position:relative;float:left;width:100%;height:30px;line-height:30px;text-align:center;color:#999;font-size:9.5pt;}
.quickmenu ul li a:hover {color:#000;}
.quickmenu ul li:last-child {border-bottom:0;}

.content {position:relative;min-height:1000px;}