
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');


#contents {
  padding-top: 80px;
  width: 80%;
}

.home_logo {
  display: flex;
}
.homeimg{
  width: 30px;
  height: 25px;
}
.character{
  
  font-size: 12px;
  margin-top: 10px;
}
.cart_text{
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}

#order_write{
  text-decoration: underline;
  text-underline-offset: 5px;
}

.cart_order {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 120px;
  text-align: center;
 
}


.order_info{
  display: flex;
  width: 1200px;
  font-size: 20px;
  border: 1px solid #d09191;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
}


.cart_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 100px;
  text-align: center;
}

.total {
  font-weight: bold;
  text-align: right; 
}


.select_cart{
text-align: right; 

}
.select_cart input[type="submit"] {
width: 100px;
height: 30px;
align-items: center; 
}

.total_price {
display: flex;
justify-self: center;
min-width: 450px;
background-color: #f2f2f2;
border: 1px solid #d09191;
border-radius: 10px; 
padding: 5px;
width: 450px; 
justify-content: center;
align-items: center;


}
.total_price_contain{
display: flex;
justify-content: flex-end;

}


.cart_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 100px;
}


.total {
  font-weight: bold;
  text-align: right; 
}


caption {
  display: table-caption;
  margin-bottom:30px;
  font-size:2em;
}

table {
  border-collapse: collapse;
  width: 100%
}

tr {
  border-bottom: 1px solid rgb(223, 220, 220);

}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  
}

th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: #f2f2f2;
  
}

br {
  display: block;
  margin-bottom: 10px;
  content: "\0020";
}

tr:last-child {
  border-bottom: 0px;
}
/* 밑으로 내리는법 */
.sum_box{
  display: grid;
  bottom: 10px;
  border: 1px solid #e1dbdb;
  background-color: #d8d0d2;
  border-radius: 30px; 
  grid-template-columns: auto auto auto ;
  box-sizing: border-box;
  height: 140px;
  
  
  color: #FFFFFF;
  }
  .sum_text{
  display: grid;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  }
  .sum_text2{
  display: grid;
  align-items: center;
  }
  .sum_text3{
  display: grid;
  align-items: center;
  
  }
  .sum_text_contain{
  
  display: flex;
  justify-content: flex-end;
  }


.main_payment{
  
  width: 1200px;
  border: 2px solid rgb(179, 177, 173);
  border: 2px solid #d09191;
    border-radius: 30px; 
}

  .payment {
    display: grid;
    width: 100px;
    padding: 30px;
  
  }

  .payment2 {
    display: flex;
    border: 2px solid #d09191;
    border-radius: 30px; 
    width: 100px;
    justify-content: center;
    
  }
  .payment3{
    cursor: pointer;
  }

  .buying {
    display: grid;
    justify-content: flex-end;
    padding: 20px;
      
  }

  .buying2 {
    display: flex;
    border: 2px solid #ad7474;
    border-radius: 30px; 
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: background-color 0.3s ease;
    
  }

  .buying2:hover {
    background-color: #d5d4d4;
    cursor: pointer;
  }

  
  #shipping_info{
    padding-left: 35px;
    background-color: #dccfcf;
  }

#name-input-label,
#birth-input-label,
#id-input-label,
#password-input-label,
#password2-input-label,
#email-input-label,
#phone1-input-label,
#phone2-input-label,
/* #home-input1-label, */
#home-input2-label
/* #home-input3-label */

{
  display: none;
}

footer{
  background-color: rgb(196, 196, 196);
  width: 100%;
  display: flex;
  justify-content: center;
  

}
#footer_wrap{
  width: 70%;
  display: flex;
  flex-direction: column;
}

.footer_text1{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer_text2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footer_text2 ul{
  margin: 20px;
}



