

section{
  padding-top: 150px;
}


#main_category_bed_contents{
  width: 70%;  
}

/* 경로 텍스트 */

.route_list{
  display: flex;
  font-size: 14px;
}

.route_list img{
  width: 20px;
}

.route_list li{
  padding: 0 5px;
}


/* 갤러리 컨텐츠 */

.gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px, auto));
  grid-column: 10px;
  grid-gap: 10px;
  padding: 30px 0;


  margin-bottom: 50px;
}

.gallery_list {
  border: 1px solid lightgray;
  margin: 5px 0;
}

.gallery_list img{
  width: 100%;
}

.gallery_list_text{
  padding: 0 5px;
}

.gallery_list_text ul li{
  padding: 3px 0;
}
.gallery_list_text1{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}


.page_number{
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 150px;
}

.page_number li{
  padding: 0 10px;
  cursor: pointer;
  margin: 0 5px;
}





















