
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 경로 텍스트 */

.route_list{
  display: flex;
  font-size: 14px;
}

.route_list img{
  width: 20px;
}

.route_list li{
  padding: 0 5px;
}

/* 헤더 */



html, body{
  width: 100%;
}

a:link , a:visited {
  text-decoration: none;
  color: inherit;
}

li{
  list-style-type: none;
}

section{
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: fixed;
  font-size: 20px;
  z-index: 9999;
}

/* 햄버거/로고/로그인 */
.gnb{  
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  z-index: 9999;
  background-color: white;
}


.gnb div{
  grid-column: span 3;
}
.gnb h1{
  grid-column: span 2;
  line-height: 30px;
}

.gnb .login_list{
  grid-column: span ;
  margin-left: 60px;
  z-index: 99;
}


.login_list{
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;

}
.login_list li{
  padding: 10px 5px;
  margin: 0 5px;
  flex-shrink: 0;
}

.login_list li a{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.login_list li a img{
  width: 18px;
  transform: translate(0,-5px);

}
.login_list li:nth-child(1){
  transform: translate(0px, 2px);
}

.login_list li:nth-child(1) img{
  transform: translate(-3px,-6px);
  width: 20px;
}


.logo img{
  transform: translate(8px);
}

/* 햄버거메뉴 */

.hamburger_button{
  width: 34px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  transition: 800ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 9999;
}

.hamburger_button span{
  border-bottom: 3px solid black;
  width: 100%;
  border-radius: 20px;
  transition: transform 0.3s, opacity 0.3s;
}

.hamburger_button.active {
  transform: translateX(170px);
}

.hamburger_button.active  span:nth-child(1){
  position: absolute;
  transform: rotate(45deg);
  top: 50%;
  left: 0;
}

.hamburger_button.active  span:nth-child(2){
  opacity: 0;
}

.hamburger_button.active  span:nth-child(3){
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;

}



/* 햄버거 클릭시 사이드메뉴 */

.side_nenu{
  width: 250px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 105px;
  background-color: #F8F4F4;
  transform: translateX(-300px);
  transition: 800ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 999;
}

.side_nenu.active {
  transform: translateX(0);
}

.side_nenu li a{
  display: inline-block;
  width: 100%;
  height: 80px;
  line-height: 80px;
  margin-bottom: 16px;
  transition: transform 300ms;
}

.side_nenu li a:hover {
  color: #A7727D;
  font-weight: bold;
  transform: scale(1.1);
}

/* ========== 메인카테고리 */


nav{
  /* display: flex;
  justify-content: center;
  grid-template-rows: 150px repeat(2, 1fr); */
  background-color: white;
}

nav > div{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
}

.gnb_list{
  font-family: 'Gugi', sans-serif;
  font-size: 22px;
  background-color: white;
  width: 70%;
  justify-content: space-around;
  z-index: 99;
  display: flex;

}

.gnb_list li:hover {
  color: #A7727D;
}

.gnb_list_box{
  width: 100%;
  display: flex;
  justify-content: center;
}






.gnb_list li{
  flex-shrink: 0;
}

.line{
  height: 1px;
  width: 100%;
  z-index: 9;
  background-color: rgb(155, 155, 155);
}

.gnb_list li a{
  display: inline-block;
  padding: 10px 30px;
}

/* ======== 서브카테고리 */

.gnb_sub_box{
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(-250px);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  position: absolute;
  top: 50px;

}

.gnb_sub_list{
  font-family: 'Diphylleia', serif;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 70%;
  background-color: #F8F4F4;
  border-left: 1px solid rgb(175, 175, 175);
  border-right: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);
  z-index: -999;
}

.detail_list li:hover .gnb_list li{
  color: #A7727D;

}


.gnb_sub_list .detail_list li:last-child{
  margin-bottom: 0;
}

.gnb_sub_list .detail_list li{
  margin-bottom: 10px;

}


.gnb_sub_list .detail_list li a{
  display: inline-block;
  height: 40px;
  width: 140px;
  line-height: 40px;
  position: relative;

}

.gnb_sub_list .detail_list li a::after{
  content: "";
  height: 2px;
  position: absolute;
  width: 0;
  background-color: #A7727D;
  bottom: 0;
  left: 50%;
  transform: translateX(0px);
  transition: 500ms;
}

.gnb_sub_list .detail_list li a:hover::after {
  color: #A7727D;
  width: 35px;
}
.gnb_sub_list .detail_list li a::before{
  content: "";
  height: 2px;
  position: absolute;
  width: 0;
  background-color: #A7727D;
  bottom: 0;
  left: 50%;
  transition: 500ms;
  
}

.gnb_sub_list .detail_list li a:hover::before {
  color: #A7727D;
  width: 30px;
  transform: translateX(-30px);

  
}


/* 스크롤 버튼 */


.top{
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.top a{
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('../image/btn.png');
  background-repeat: no-repeat;
  transition: 0.5s;
}
.top a:hover{
  background-image: url('../image/btn2.png');
  height: 70px;
}





/* ========== 메인카테고리 */


nav{
  display: flex;
  justify-content: center;
  grid-template-rows: 150px repeat(2, 1fr);

}

nav > div{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.gnb_list{
  font-family: 'Gugi', sans-serif;
  font-size: 22px;
  background-color: white;
  width: 100%;
  justify-content: space-around;

}

.gnb_list li:hover {
  color: #A7727D;
}

.gnb_list_box{
  width: 100%;
  display: flex;
  justify-content: center;
}

.gnb_list{
  width: 70%;
  z-index: 9999;
  display: flex;
}




.gnb_list li{
  flex-shrink: 0;
}

.line{
  height: 1px;
  width: 100%;
  z-index: 9;
  background-color: rgb(155, 155, 155);
}

.gnb_list li a{
  display: inline-block;
  padding: 10px 30px;
}

/* ======== 서브카테고리 */

.gnb_sub_box{
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(-250px);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.gnb_sub_list{
  font-family: 'Diphylleia', serif;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 70%;
  background-color: #F8F4F4;
  border-left: 1px solid rgb(175, 175, 175);
  border-right: 1px solid rgb(175, 175, 175);
  border-bottom: 1px solid rgb(175, 175, 175);

}

.detail_list li:hover .gnb_list li{
  color: #A7727D;

}


.gnb_sub_list .detail_list li:last-child{
  margin-bottom: 0;
}

.gnb_sub_list .detail_list li{
  margin-bottom: 10px;

}


.gnb_sub_list .detail_list li a{
  display: inline-block;
  height: 40px;
  width: 140px;
  line-height: 40px;
  position: relative;

}

.gnb_sub_list .detail_list li a::after{
  content: "";
  height: 2px;
  position: absolute;
  width: 0;
  background-color: #A7727D;
  bottom: 0;
  left: 50%;
  transform: translateX(0px);
  transition: 500ms;
}

.gnb_sub_list .detail_list li a:hover::after {
  color: #A7727D;
  width: 35px;
}
.gnb_sub_list .detail_list li a::before{
  content: "";
  height: 2px;
  position: absolute;
  width: 0;
  background-color: #A7727D;
  bottom: 0;
  left: 50%;
  transition: 500ms;
  
}

.gnb_sub_list .detail_list li a:hover::before {
  color: #A7727D;
  width: 30px;
  transform: translateX(-30px);

  
}

/* 경로 텍스트 */

.route_list{
  display: flex;
  font-size: 14px;
}

.route_list img{
  width: 20px;
}

.route_list li{
  padding: 0 5px;
}


section {
  display: grid;
  justify-content: center;
  padding-top: 120px;
  height: 100;

}

#contents {
  width: 1400px;
  padding-top: 10px;
}


/* 여기부터 */

.home_logo {
  width: 500px;
  display: flex;
  padding: 0 50px;
  break-after: blue;
}
.homeimg{
  width: 30px;
  height: 25px;
  background-color: red;

}
.character{
  font-size: 12px;
  margin-top: 10px;
}
.cart_text{
  font-size: 12px;
  margin-left: 10px;
  margin-top: 10px;
}







 .order_complete{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;
 }
.order_txtbox{
  align-items: center;
  justify-content: center;
  text-align: center;

}

.complete_comment{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.complete_comment2 {
  display: flex;
  border: 1px solid #ad7474;
  border-radius: 5px;
  width: 80%;
  height: 100px;
  background-color: #d8d0d2;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.oreder_number{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.order_number5 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

hr{
  width: 80%;
  margin: 0 auto; 
}



.order_box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.sum_box{
  display: grid;
  border: 1px solid #e1dbdb;
  background-color: #d8d0d2;
  border-radius: 30px; 
  grid-template-columns: auto auto auto ;
  box-sizing: border-box;
  width: 80%;
  height: 100px;
  color: #000000;
  
  }

  .sum_text{
  display: grid;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  }
  .sum_text2{
  display: grid;
  align-items: center;
  }
  .sum_text3{
  display: grid;
  align-items: center;
  
  }
  .sum_text_contain{
  
  display: grid;
  justify-content: flex-end;
  }

  .main_btn {
    display: grid;
    justify-content: center;
      
  }

  .main_btn2 {
    display: inline-block;
    border: 2px solid #ad7474;
    border-radius: 30px; 
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
  }

  footer{
    background-color: rgb(196, 196, 196);
    width: 100%;
    display: flex;
    justify-content: center;
    
  
  }
  #footer_wrap{
    width: 70%;
    display: flex;
    flex-direction: column;
  }
  
  .footer_text1{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .footer_text2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  
  .footer_text2 ul{
    margin: 20px;
  }




