section {
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 이준경 */
    justify-content: flex-start;
    min-height: 80.2vh;
}

#contents {
    align-self: center;
    /* min-width는 선택 */
    /* max-width는 선택 */
    padding-bottom: 30px;
}

#bottom_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

#contents td {
    padding-top: 0.2em;
    padding-bottom: 0.3em;
}


#input_title {
    width: calc(100% - 5px);
    border: 1px solid gray;
    border-radius: 0.3em;
    height: 1.7em;
}

#title {
    width: 6em;
    padding-left: 5px;
}

#title,
#input_title {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

#review_body_title {
    display: flex;
}

#review_body_title:first-child {
    padding-top: 0.3em;
}

#photo_and_ratings {
    display: grid;
    grid-template-columns:0.8fr 1fr;
    padding-top: 0.5em;
    padding-bottom: 1em;
    
}

#productName_and_ratings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}


#empty_star,
#full_star {
    display: none;
}

.star {
    width: 3em;
}

#contents {
    align-self: center;
}

/* summernote */
.note-editor.note-frame {
    margin-right: 5px;
}

#product_img {
    height: 100px;
    padding-left: 300px;
}

#bottom_buttons {
    padding: 5px;
    margin-top: 2em;

}

#bottom_buttons>button:first-child {
    border: 1.5px solid #A7727D;
    border-radius: 0.7em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    width: 6em;
    background-color: white;
    color: black;
    font-size: 15px;
}

#bottom_buttons>button:last-child {
    border-radius: 0.7em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    width: 7em;
    border: 0;
    background-color: #A7727D;
    color: white;
        font-size: 15px;

}
#contents_table{
    padding-top:3em;
    width: 1200px;

}

#top_title{
    font-size: 20px;
    text-align: center;
    padding-bottom: 1em;
}


#info{
    font-size: 15px;
    color: #707070;
}