<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 메인페이지</title>
    <link rel="stylesheet" th:href="@{/admin/css/adminmain.css}" type="text/css">
</head>
<body>
        <th:block layout:fragment="content">
            <div class="page-body">
                <div class="totalWrapper">
                <div id="topWrapper">
                    <div class="todayhd">
                    <b>오늘현황</b>
                    </div>
                    <div class="top"><a th:href="@{/statistics/statistics}">
                        매출
                        <span class="fontRed">3,000,000원</span>
                        </a></div>
                    <div class="top"><a th:href="@{/statistics/statistics}">
                        방문자수
                        <span class="fontRed">300명</span>
                        </a></div>
                    <div class="top"><a th:href="@{/statistics/statistics}">
                        한줄리뷰
                        <span class="fontRed">40건</span>
                        / 포토리뷰
                        <span class="fontRed">20건</span>
                        </a></div>
                    <div class="top"><a th:href="@{/statistics/statistics}">
                        판매량
                        <span class="fontRed">300개</span>
                        </a></div>
                    <div class="top"><a th:href="@{/statistics/statistics}">
                        신규회원수
                        <span class="fontRed">20명</span>
                        </a></div>
                    <div class="top"><a th:href="@{/statistics/statistics}">
                        상품 문의 등록
                        <span class="fontRed">20건</span>
                        </a></div>
                </div>
                <div class="blank">&nbsp;</div>
                <div id="middleWrapper">
                    <div class="middlehd"><b>주문현황</b></div>
                    <div class="middle"><a href="#">
                        미입금
                        <span class="fontRed">0건</span></a></div>
                    <div class="middle"><a href="#">
                        배송대기
                        <span class="fontRed">23건</span></a></div>
                    <div class="middle"><a href="#">
                        구매확정 대기
                        <span class="fontRed">300건</span></a></div>
                    <div class="middle"><a href="#">
                        구매확정
                        <span class="fontRed">50건</span></a></div>
                </div>
                <div class="bottom">
                    <table class="=bottomTable">
                        <tr>
                            <td colspan="4" style="border-right: #d8d8d8 1px solid;"><a href="#">상품 문의</a></td>
                            <td colspan="4"><a href="#">상품 후기</a></td>
                        </tr>
                        <tr>
                            <td class="tableProduct">상품명</td>
                            <td class="tableTitle">제목</td>
                            <td class="tableWriter">작성자</td>
                            <td class="tableDate">작성일자</td>
                            <td class="tableProduct">상품명</td>
                            <td class="tableTitle">제목</td>
                            <td class="tableWriter">작성자</td>
                            <td class="tableDate">작성일자</td>
                        </tr>
                        <tr>
                            <td class="tableProduct">&nbsp;</td>
                            <td class="tableTitle"></td>
                            <td class="tableWriter"></td>
                            <td class="tableDate"></td>
                            <td class="tableProduct"></td>
                            <td class="tableTitle"></td>
                            <td class="tableWriter"></td>
                            <td class="tableDate"></td>
                        </tr>
                        <tr>
                            <td class="tableProduct">&nbsp;</td>
                            <td class="tableTitle"></td>
                            <td class="tableWriter"></td>
                            <td class="tableDate"></td>
                            <td class="tableProduct"></td>
                            <td class="tableTitle"></td>
                            <td class="tableWriter"></td>
                            <td class="tableDate"></td>
                        </tr>
                        <tr>
                            <td class="tableProduct">&nbsp;</td>
                            <td class="tableTitle"></td>
                            <td class="tableWriter"></td>
                            <td class="tableDate"></td>
                            <td class="tableProduct"></td>
                            <td class="tableTitle"></td>
                            <td class="tableWriter"></td>
                            <td class="tableDate"></td>
                        </tr>
                        <tr>
                            <td class="tableProduct">&nbsp;</td>
                            <td class="tableTitle"></td>
                            <td class="tableWriter"></td>
                            <td class="tableDate"></td>
                            <td class="tableProduct"></td>
                            <td class="tableTitle"></td>
                            <td class="tableWriter"></td>
                            <td class="tableDate"></td>
                        </tr>
                    </table>
                </div>
                </div>
                </div>

            </div>
        </th:block>
    </div>

</body>
</html>