<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/client/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <th:block layout:fragment="content">
    <link rel="stylesheet" th:href="@{/client/css/cartOrder.css}">
        <script th:src="@{/client/js/jquery-3.6.3.min.js}"></script>
        <script th:src="@{/client/js/cartOrder.js}"></script>
        <section>

            <div id="contents">

                <ul class="route_list">
                    <li><img src="/client/images/icon/home.png" alt=""></li>
                    <li>&gt;</li>
                    <li>장바구니</li>
                    <li>&gt;</li>
                    <li>주문서작성</li>
                </ul>

                <div class="cart_order">
                    <div></div>
                    <div><h2>장바구니</h2></div>
                    <div id="order_write"><h2>주문서작성</h2></div>
                    <div><h2>결제하기</h2></div>
                    <div><h2>완료</h2></div>
                    <div></div>
                </div>

                <div class="order_info">주문내역</div>

<form id="orderForm" action="/clientOrder/cartOrder" method="post">
            <table class="cart_table" id="orderTable">

                <thead>
                    <tr>
                        <th>이미지</th>
                        <th>상품명</th>
                        <th>판매가</th>
                        <th>적립포인트</th>
                        <th>수량</th>
                        <th>배송비</th>
                        <th>합계</th>
                    </tr>
                </thead>

                <tbody id="orderTableBody" >
                    <tr th:each="item , index : ${cartList}">
                        <td><img th:src="@{/client/images/{imgCode}(imgCode=${item.imgCode})}" width="70px"  height="70px" onerror="this.src='/client/images/event.png'"></td>
                        <td th:text="${item.productName}">상품명</td>
                        <td th:text="${item.price}">판매가</td>
                        <td th:text="${item.savedMoney * hdAmountList[index.index]}">적립포인트</td>
                        <td>
                            <input type="hidden" th:name="'hdAmount_' + ${index.index}" th:id="'hdAmount_' + ${index.index}" th:value="${hdAmountList[index.index]}">
                            <span th:text="${hdAmountList[index.index]}"></span>
                        </td>
<!--                        <td th:text="${item.deliveryCharge}">배송비</td>-->
                        <td > <span th:if="${totalSum > 100000}">(배송비 무료)</span>
                            <span th:unless="${totalSum > 100000}" th:text="${item.deliveryCharge} + '원'">배송비</span>
                        </td>

                        <td th:text="(${item.price * hdAmountList[index.index]} + (${totalSum > 100000 ? 0 : item.deliveryCharge}))">
                        </td>


                    </tr>
                </tbody>
            </table>


                <hr>
    <br>


    <div class="total_price" >

        <div class="sum_text">
            <h1>합계</h1>
            <h3>고객님의 총 주문 금액 입니다.</h3>
        </div>

        <div class="sum_text2">
            <h4>상품 합계금액</h4>
            <h4>배송비</h4>
            <h4>결제 예정 금액 &nbsp;&nbsp;&nbsp;</h4>
        </div>

        <div class="sum_text3" >
            <span id="totalPrice" >0원</span>
            <div id="deliveryCharge">0원</div>
            <span id="totalOrder">0원</span>
        </div>

    </div>

    <br>

</form>
                <br>
                <hr>

                <br>


                <form action="" class="cart_order_form">
                    <table id="info-table">
                        <caption>주문정보</caption>
                        <tbody>
                        <tr></tr>
                        <td id="shipping_info">- 주문정보 -</td>
                        <tr>
                            <th id="oreder_name">주문하시는분</th>

                            <td id="name-data">

                                <input type="text" id="name-input" name="name">
                            </td>
                        </tr>


                        </tr>

                        <tr>
                            <th id="phone1-header">휴대전화</th>
                            <td id="phone1-data">
                                <label for="phone1-input" id="phone1-input-label">전화1</label>
                                <input type="phone" name="phone1" id="phone1-input">
                            </td>
                        </tr>

                        <tr>
                            <th id="email-header">이메일</th>
                            <td id="email-data">
                                <label for="email-input" id="email-input-label">이메일</label>
                                <input type="email" name="email" id="email-input"></td>

                        </tr>

                        <td id="shipping_info2">- 배송정보 -</td>
                        <tr></tr>


<!--                        <tr>-->
<!--                            <th id="select_shipping">배송지 선택</th>-->
<!--                            <td>-->
<!--                                <label><input id="shipcheckbox1" type="checkbox" name="shipcheckbox"> 주문자와 정보 동일</label>-->
<!--                                <label><input id="shipcheckbox2" type="checkbox" name="shipcheckbox"> 새로운 배송지 추가</label>-->
<!--                            </td>-->
<!--                        </tr>-->

                        <tr>
                            <th id="ship_name">받으시는 분</th>

                            <td id="name-data2">

                                <input type="text" id="name-input2" name="name">
                            </td>
                        </tr>

                        <tr>
                            <th id="home-header">주소</th>
                            <td id="home-data">

                                <br>
                                <label for="home-input2" id="home-input2-label">주소</label>
                                <input type="text" name="home2" id="home-input2" readonly>
                                <br>
                                <label for="home-input3" id="home-input3-label">자세한주소</label>
                                <input type="text" name="home3" id="home-input3" place>
                            </td>
                        </tr>

                        <tr>
                            <th id="phone2-header">휴대전화</th>
                            <td id="phone2-data">
                                <label for="phone1-input" id="phone2-input-label">전화1</label>
                                <input type="phone" name="phone1" id="phone2-input">
                            </td>
                        </tr>
                        <tr>
                            <th id="reqest-header">배송요청사항</th>
                            <td id="reqest-header2">
                                <input type="text" name="request">
                            </td>

                        </tr>
                        <td id="sale-header">- 적립금 -</td>


                        <tr>
                            <th id="savedMoney-order">예상 적립금</th>
                            <td >1000원</td>
                        </tr>

                        <tr>
                            <th id="savedMoney-header">보유 적립금</th>
                            <td id="savedMoney-header2">
                                <input type="text" name="savedMoney">
                                <button type="button" id="usePointsButton" onclick="usePoints()">사용</button>

                            </td>
                        </tr>



                        <tr></tr>

                        </tbody>
                    </table>
                </form>

                    <br><br>

                    <br>
                    <div class="main_payment">
                        <div class="payment">
                            <h4 class="payment2">결제수단</h4>
                            <br>
                            <button class="payment3">카카오페이</button>
                        </div>
                        <br>

                        <div class="buying">
                            <button class="buying2">결제하기</button>
                        </div>


                    </div>
                    <br>

            </div>
            <br><br>


            </div>

        </section>

        <script>
            $(document).ready(function () {
                $("#submitOrderBtn").click(function () {
                    var formData = new FormData($("#orderForm")[0]);

                    // hdAmount 값을 가져와서 FormData에 추가
                    var hdAmountArray = [];
                    $(".quantity-display").each(function () {
                        hdAmountArray.push($(this).text());
                    });
                    formData.append("hdAmount", hdAmountArray.join(','));

                    $.ajax({
                        url: "/clientOrder/cartOrder",
                        type: "POST",
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            console.log(response);
                        },
                        error: function (error) {
                            console.error(error);
                        }
                    });
                });
            });
        </script>


    </th:block>
</html>