<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/board.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/footer.css">
  <script src="../js/header.js" defer></script>
</head>

<body>

  <header>
    <div class="gnb">
      <div class="hamburger_button" onclick="toggleHamburger()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- 사이드메뉴 -->
      <div class="side_nenu" onclick="toggleHamburger()">
        <ul class="side_nenu_List">
          <li><a href="#">베스트 상품</a></li>
          <li><a href="mainCategoryBed.html">침실</a></li>
          <li><a href="mainCategorySopa.html">거실</a></li>
          <li><a href="mainCategoryDesk.html">서재</a></li>
          <li><a href="mainCategoryTable.html">주방</a></li>
          <li><a href="#">게시판</a></li>
        </ul>
      </div>
      <h1 class="logo"><a href="main.html"><img src="../image/logo.png" alt="logo"></a></h1>
      <ul class="login_list">
        <li><a href="#"><img src="../image/icon/login.png">로그인</a></li>
        <li><a href="#"><img src="../image/icon/join.png">회원가입</a></li>
        <li><a href="$"><img src="../image/icon/mypage.png">마이페이지</a></li>
        <li><a href="#"><img src="../image/icon/cart.png">장바구니</a></li>
      </ul>
    </div>


    <nav>
      <div>
        <div class="line"></div>
        <ul class="gnb_list" onmouseover="applyHoverEffect(true)" onmouseout="applyHoverEffect(false)">
          <li><a href="mainCategoryBed.html">침실</a></a></li>
          <li><a href="mainCategorySopa.html">거실</a></li>
          <li><a href="mainCategoryDesk.html">서재</a></li>
          <li><a href="mainCategoryTable.html">주방</a></li>
        </ul>
        <div class="line"></div>
        <div class="gnb_sub_box" onmouseover="applyHoverEffect(true)" onmouseout="applyHoverEffect(false)">
          <div class="gnb_sub_list">
            <ul class="detail_list">
              <li><a href="mainCategoryBed.html">침대</a></li>
              <span></span>
              <li><a href="#">옷장</a></li>
              <span></span>
              <li><a href="#">화장대</a></li>
            </ul>
            <ul class="detail_list">
              <li><a href="mainCategorySopa.html">소파</a></li>
              <span></span>
              <li><a href="#">테이블</a></li>
              <span></span>
              <li><a href="#">수납장</a></li>
            </ul>
            <ul class="detail_list">
              <li><a href="mainCategoryDesk.html">책상</a></li>
              <span></span>
              <li><a href="#">책장</a></li>
              <span></span>
              <li><a href="#">의자</a></li>
            </ul>
            <ul class="detail_list">
              <li><a href="mainCategoryTable.html">식탁</a></li>
              <span></span>
              <li><a href="#">수납장</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <section class="main_section">
    <div id="contents">

      <ul class="route_list">
        <li><img src="../image/icon/home.png" alt=""></li>
        <li>&gt;</li>
        <li>침실</li>
        <li>&gt;</li>
        <li>침대</li>
      </ul>
      <br><br><br><br>

      <div class="start_board">

        <div class="board">
          <h1>게시판</h1>
          <hr>
          <div class="board_title">
            <div class="board_title2">제목</div>
            <div class="board_title3">배송관련문의</div>
          </div>
          <hr>
          <div class="board_write">
            <div class="board_write2">작성자</div>
            <div class="board_write3">홍길동</div>
          </div>
          <hr>
          <div class="board_date">
            <div class="board_date2">날짜</div>
            <div class="board_date3">2023-11-06 09:24:56</div>
          </div>
          <hr>
          <div class="board_click">
            <div class="board_click2">조회수</div>
            <div class="board_click3">1503</div>
          </div>
          <hr>
          <br><br>

          <div class="writing">
            <div class="event_img"> <img src="../image/event.png" , alt="홈로고" width="80%" style="margin-left: 10px;">
            </div>


            <br>
            <br>
            <div class="reading">How could my day be bad
              When I'm with you?
              You're the only one who makes me laugh
              So how can my day be bad?
              It's a day for you
              Lately, life's so boring
              I've been watching Netflix all day long
              I thought there would be
              No things left to watch
              So I let myself out
              When I went to the park
              I recognised you at a glance
              Face to face, we just smiled
              We already know that we'll be together (we'll be together)
              How could my day be bad when I'm with you?
              You're the only one who makes me laugh
              So how can my day be bad?
              It's a day for you
              Oh, babe
              Coffee in the morning, you and the sun
              There's a brown hue in your eyes
              How pretty it is
              I think I'm in love
              When I went to the park
              I recognised you at a glance
              Face to face, we smiled
              And I finally held your hands
              How could my day be bad when I'm with you?
              You're the only one who makes me laugh
              So how can my day be bad?
              It's a day for you
              Oh, babe
              How could my day be bad when I'm with you?
              You're the only one who gives me love
              So how can my day be bad?
              It's a day for you</div>
          </div>
          <br>

          <br>

          <hr class="comment_hr">

          <div class="main_comment">

            <div class="main_comment2">작성날짜 : &nbsp;</div>
            <div class="main_comment3">2023-12-02 &nbsp;&nbsp;</div>
            <div class="main_comment4">작성자 : &nbsp;</div>
            <div class="main_comment5">홍길동 &nbsp;</div>

          </div>

          <hr>

          <p class="comment_space">댓글이 있는 공간입니다.</p>
          <hr class="comment_hr">

          <br>


          <div class="password_input">
            <form action="/submit" method="post">
              <label for="password">비밀번호</label>
              <input type="password" id="password" name="password" placeholder="삭제히시려면 비밀번호를 입력하세요" required>

            </form>
          </div>
          <br>
          <br>



          <div class="board_btn">
            <button onclick="Backboard" class="back_btn">뒤로 가기</button>
            <button onclick="deleteboard" class="delete_btn">삭제하기</button>
          </div>

        </div>

        <br><br><br>


      </div>


    </div>
  </section>

  <footer>
    <div id="footer_wrap">
      <ul class="footer_text1">
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">공지사항</a></li>
      </ul>
      <div class="footer_text2">
        <ul >
          <li>고객센터 이용안내</li>
          <li>평일 오전 9:00 ~ 18:00</li>
          <li>(일요일,공휴일 휴무)</li>
        </ul>
        <ul>
          <li><a href="# ">1인가구 문의</a></li>
          <li>상품/배송문의</li>
          <li>1688-0000</li>
        </ul>
        <ul>
          <li><a href="#">Q&A</a></li>
          <li>자주하는 질문</li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="js/header.js"></script>
</body>

</html>