<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/footer.css">
  <script src="../js/header.js" defer></script>


  <script src="../js/cancelPaybackInfo.js" defer></script>
  <link rel="stylesheet" href="../css/cancelPaybackInfo.css">
</head>

<body>

  <header>
    <div class="gnb">
      <div class="hamburger_button" onclick="toggleHamburger()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- 사이드메뉴 -->
      <div class="side_nenu" onclick="toggleHamburger()">
        <ul class="side_nenu_List">
          <li><a href="#">베스트 상품</a></li>
          <li><a href="mainCategoryBed.html">침실</a></li>
          <li><a href="#">거실</a></li>
          <li><a href="#">서재</a></li>
          <li><a href="#">주방</a></li>
          <li><a href="#">게시판</a></li>
        </ul>
      </div>
      <h1 class="logo"><a href="./index1.html"><img src="../image/logo.png" alt="logo"></a></h1>
      <ul class="login_list">
        <li><a href="#"><img src="../image/icon/login.png">로그인</a></li>
        <li><a href="#"><img src="../image/icon/join.png">회원가입</a></li>
        <li><a href="$"><img src="../image/icon/mypage.png">마이페이지</a></li>
        <li><a href="#"><img src="../image/icon/cart.png">장바구니</a></li>
      </ul>
    </div>


    <nav>
      <div>
        <div class="line"></div>
        <ul class="gnb_list" onmouseover="applyHoverEffect(true)" onmouseout="applyHoverEffect(false)">
          <li><a href="mainCategoryBed.html">침실</a></a></li>
          <li><a href="#">거실</a></li>
          <li><a href="#">서재</a></li>
          <li><a href="#">주방</a></li>
        </ul>
        <div class="line"></div>
        <div class="gnb_sub_box" onmouseover="applyHoverEffect(true)" onmouseout="applyHoverEffect(false)">
          <div class="gnb_sub_list">
            <ul class="detail_list">
              <li><a href="mainCategoryBed">침대</a></li>
              <span></span>
              <li><a href="#">옷장</a></li>
              <span></span>
              <li><a href="#">화장대</a></li>
            </ul>
            <ul class="detail_list">
              <li><a href="#">소파</a></li>
              <span></span>
              <li><a href="#">테이블</a></li>
              <span></span>
              <li><a href="#">수납장</a></li>
            </ul>
            <ul class="detail_list">
              <li><a href="#">책상</a></li>
              <span></span>
              <li><a href="#">책장</a></li>
              <span></span>
              <li><a href="#">의자</a></li>
            </ul>
            <ul class="detail_list">
              <li><a href="#">식탁</a></li>
              <span></span>
              <li><a href="#">의자</a></li>
              <span></span>
              <li><a href="#">수납장</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <section>
    <!-- 여기에 작성 -->
    <div id="main_category_route">
      <ul class="route_list">
        <li id="route_home" onclick="goHome()"><img src="../image/icon/home.png" alt="메인화면"></li>
        <li>&gt;</li>
        <li id="route_mypage" onclick="goMyPage()">MY페이지</li>
        <li>&gt;</li>
        <li>취소/환불내역</li>
      </ul>
      <div id="contents">
        <div id="contents_menu">
          <div onclick="location.href='./orderDeliveryinfo.html'">주문/배송내역</div>
          <div>취소/환불내역</div>
        </div>
        <!-- action태그 수정 -->
        <form action="/url" id="search">
          <div id="form_wrap">
            <label for="state_select">주문상태선택</label>
            <select name="state" id="state_select">
              <option value="default">선택하기</option>
              <option value="cancel">취소</option>
              <option value="payback">환불</option>
            </select>
            <div id="quick_date_buttons">
              <input type="radio" name="date_button" id="date_button_1"><label for="date_button_1">오늘</label>
              <input type="radio" name="date_button" id="date_button_2"><label for="date_button_2">1주일</label>
              <input type="radio" name="date_button" id="date_button_3"><label for="date_button_3">1개월</label>
              <input type="radio" name="date_button" id="date_button_4" checked><label for="date_button_4">3개월</label>
              <input type="radio" name="date_button" id="date_button_5"><label for="date_button_5">6개월</label>
            </div>
            <div id="date_setting">
              <label for="date_start">날짜시작</label>
              <input type="date" id="date_start">
              <span>~</span>
              <label for="date_end">날짜끝</label>
              <input type="date" id="date_end">
            </div>
          </div>
          <div id="submit_button">
            <img src="../image/searchButton/magnifier.png" alt="돋보기">
            <input type="submit" value="검색" id="real_submit_button" name="search">
          </div>
        </form>
        <ul id="notice">
          <li>기본적으로 최근 3개월의 결과가 조회되며, 기간 검색시 지난 주문 내역을 확인할 수 있습니다.</li>
          <li>주문번호를 클릭하면 해당 주문에 대한 상세내역을 확인하실 수 있습니다.</li>
          <li></li>
        </ul>
        <table id="product_table">
          <thead>
            <tr>
              <th>주문일자<br>[주문번호]</th>
              <th>이미지</th>
              <th>상품정보</th>
              <th>판매가</th>
              <th>배송비</th>
              <th>적립포인트</th>
              <th>상태</th>
            </tr>
          </thead>
          <tbody>
            <tr onclick="showDetails(this)">
              <td>2023.01.01<br>0000001</td>
              <td><img src="../image/bedroom.jpg" alt="제품이미지"></td>
              <td>라클아리너 1인소파<br>색상 그레이 534524h3<span> 외 3개</span></td>
              <td>300,000 원</td>
              <td>무료</td>
              <td>3,000 p</td>
              <td>배송준비중</td>
            </tr>
            <tr onclick="showDetails(this)">
              <td>2023.01.01<br>0000001</td>
              <td><img src="../image/bedroom.jpg" alt="제품이미지"></td>
              <td>라클아리너 1인소파<br>색상 그레이 534524h3<span> 외 3개</span></td>
              <td>300,000 원</td>
              <td>무료</td>
              <td>3,000 p</td>
              <td>배송준비중</td>
            </tr>
            <tr onclick="showDetails(this)">
              <td>2023.01.01<br>0000001</td>
              <td><img src="../image/bedroom.jpg" alt="제품이미지"></td>
              <td>라클아리너 1인소파<br>색상 그레이 534524h3<span> 외 3개</span></td>
              <td>300,000 원</td>
              <td>무료</td>
              <td>3,000 p</td>
              <td>배송준비중</td>
            </tr>
            <tr onclick="showDetails(this)">
              <td>2023.01.01<br>0000001</td>
              <td><img src="../image/bedroom.jpg" alt="제품이미지"></td>
              <td>라클아리너 1인소파<br>색상 그레이 534524h3<span> 외 3개</span></td>
              <td>300,000 원</td>
              <td>무료</td>
              <td>3,000 p</td>
              <td>배송준비중</td>
            </tr>
            <tr onclick="showDetails(this)">
              <td>2023.01.01<br>0000001</td>
              <td><img src="../image/bedroom.jpg" alt="제품이미지"></td>
              <td>라클아리너 1인소파<br>색상 그레이 534524h3<span> 외 3개</span></td>
              <td>300,000 원</td>
              <td>무료</td>
              <td>3,000 p</td>
              <td>배송준비중</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="bottom_buttons">
        <input type="button" onclick="" value="&lt;&lt;">
        <input type="button" onclick="" value="&lt;">
        <input type="button" onclick="" value="1">
        <input type="button" onclick="" value="2">
        <input type="button" onclick="" value="3">
        <input type="button" onclick="" value="4">
        <input type="button" onclick="" value="5">
        <input type="button" onclick="" value="6">
        <input type="button" onclick="" value="7">
        <input type="button" onclick="" value="8">
        <input type="button" onclick="" value="&gt;">
        <input type="button" onclick="" value="&gt;&gt;">
      </div>
    </div>
  </section> <!-- 여기까지 -->
  <footer>
    <div id="footer_wrap">
      <ul class="footer_text1">
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">공지사항</a></li>
      </ul>
      <div class="footer_text2">
        <ul >
          <li>고객센터 이용안내</li>
          <li>평일 오전 9:00 ~ 18:00</li>
          <li>(일요일,공휴일 휴무)</li>
        </ul>
        <ul>
          <li><a href="# ">1인가구 문의</a></li>
          <li>상품/배송문의</li>
          <li>1688-0000</li>
        </ul>
        <ul>
          <li><a href="#">Q&A</a></li>
          <li>자주하는 질문</li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>