<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/orderFailed.css">

  <script src="../js/header.js" defer></script>
</head>
<body>

  <header>
    <div class="gnb">
      <div class="hamburger_button" onclick="toggleHamburger()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- 사이드메뉴 -->
      <div class="side_nenu" onclick="toggleHamburger()">
        <ul class="side_nenu_List">
          <li><a href="#">베스트 상품</a></li>
          <li><a href="mainCategoryBed.html">침실</a></li>
          <li><a href="mainCategorySopa.html">거실</a></li>
          <li><a href="mainCategoryDesk.html">서재</a></li>
          <li><a href="mainCategoryTable.html">주방</a></li>
          <li><a href="#">게시판</a></li>
        </ul>
      </div>
      <h1 class="logo"><a href="main.html"><img src="../image/logo.png" alt="logo"></a></h1>
      <ul class="login_list">
        <li><a href="#"><img src="../image/icon/login.png">로그인</a></li>
        <li><a href="#"><img src="../image/icon/join.png">회원가입</a></li>
        <li><a href="$"><img src="../image/icon/mypage.png">마이페이지</a></li>
        <li><a href="#"><img src="../image/icon/cart.png">장바구니</a></li>
      </ul>
    </div>


    <nav>
      <div>
        <div class="line"></div>
        <ul class="gnb_list" onmouseover="applyHoverEffect(true)" onmouseout="applyHoverEffect(false)">
          <li><a href="mainCategoryBed.html">침실</a></a></li>
          <li><a href="mainCategorySopa.html">거실</a></li>
          <li><a href="mainCategoryDesk.html">서재</a></li>
          <li><a href="mainCategoryTable.html">주방</a></li>
        </ul>
        <div class="line"></div>
        <div class="gnb_sub_box"  onmouseover="applyHoverEffect(true)" onmouseout="applyHoverEffect(false)">
          <div class="gnb_sub_list" >
              <ul class="detail_list">
                  <li><a href="mainCategoryBed.html">침대</a></li>
                  <span></span>
                  <li><a href="#">옷장</a></li>
                  <span></span>
                  <li><a href="#">화장대</a></li>
              </ul>
              <ul class="detail_list">
                  <li><a href="mainCategorySopa.html">소파</a></li>
                  <span></span>
                  <li><a href="#">테이블</a></li>
                  <span></span>
                  <li><a href="#">수납장</a></li>
              </ul>
              <ul class="detail_list">
                  <li><a href="mainCategoryDesk.html">책상</a></li>
                  <span></span>
                  <li><a href="#">책장</a></li>
                  <span></span>
                  <li><a href="#">의자</a></li>
              </ul>
              <ul class="detail_list">
                  <li><a href="mainCategoryTable.html">식탁</a></li>
                  <span></span>
                  <li><a href="#">수납장</a></li>
              </ul>
          </div>
        </div>
      </div>
    </nav>
</header>

  <section>
    
    <div id="contents">

      <ul class="route_list">
        <li><img src="../image/icon/home.png" alt=""></li>
        <li>&gt;</li>
        <li>침실</li>
        <li>&gt;</li>
        <li>침대</li>
      </ul>
        
      </div>
      <br><br>
      
      <div class="order_txtbox">
        <div class="order_complete">&lt;주문실패&gt;</div>
        <br>
        
        <div class="thanks_text">1in가구를 이용해 주셔서 감사합니다.</div>
        <br>
      </div>
      <br><br>
      <div class="complete_comment">
        <div class="complete_comment2">죄송합니다, 주문이 정상적으로 이루어지지 않았습니다</div>
      </div>
          <br><br>
          
          <div class="oreder_number">
            <div class="order_number2">결제실패 사유 : &nbsp;</div>
            <div class="oreder_number3">카카오페이 승인 실패</div>
          </div>
          <br>
          <div class="order_number5">확인 후 장바구니에서 다시 주문해주세요 </div>
          <br><br><br>
          <hr>
          <br><br><br>
          
 
          <br><br> 
          <div class="main_btn">
            <button class="main_btn2">메인으로</button>
            <button class="main_btn3">장바구니로</button>
          </div>
          <br><br>
          
          
        </section>

        <br><br><br><br>
        <footer>
          <div id="footer_wrap">
            <ul class="footer_text1">
              <li><a href="#">이용약관</a></li>
              <li><a href="#">개인정보처리방침</a></li>
              <li><a href="#">공지사항</a></li>
            </ul>
            <div class="footer_text2">
              <ul >
                <li>고객센터 이용안내</li>
                <li>평일 오전 9:00 ~ 18:00</li>
                <li>(일요일,공휴일 휴무)</li>
              </ul>
              <ul>
                <li><a href="# ">1인가구 문의</a></li>
                <li>상품/배송문의</li>
                <li>1688-0000</li>
              </ul>
              <ul>
                <li><a href="#">Q&A</a></li>
                <li>자주하는 질문</li>
              </ul>
            </div>
          </div>
        </footer>

        <script src="js/header.js"></script>
      </body>
      
      </html>