<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">
    <script src="../js/header.js" defer></script>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/orderDetails.css">
    <script src="../js/header.js" defer></script>
</head>
<body>

    <header>
        <div class="gnb">
          <div class="hamburger_button" onclick="toggleHamburger()">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <!-- 사이드메뉴 -->
          <div class="side_nenu" onclick="toggleHamburger()">
            <ul class="side_nenu_List">
              <li><a href="#">베스트 상품</a></li>
              <li><a href="mainCategoryBed.html">침실</a></li>
              <li><a href="mainCategorySopa.html">거실</a></li>
              <li><a href="mainCategoryDesk.html">서재</a></li>
              <li><a href="mainCategoryTable.html">주방</a></li>
              <li><a href="#">게시판</a></li>
            </ul>
          </div>
          <h1 class="logo"><a href="main.html"><img src="./image/logo.png" alt="logo"></a></h1>
          <ul class="login_list">
            <li><a href="#"><img src="../image/icon/login.png">로그인</a></li>
            <li><a href="#"><img src="../image/icon/join.png">회원가입</a></li>
            <li><a href="$"><img src="../image/icon/mypage.png">마이페이지</a></li>
            <li><a href="#"><img src="../image/icon/cart.png">장바구니</a></li>
          </ul>
        </div>
    
    
        <nav>
          <div>
            <div class="line"></div>
            <ul class="gnb_list" onmouseover="applyHoverEffect(true)" onmouseout="applyHoverEffect(false)">
              <li><a href="mainCategoryBed.html">침실</a></a></li>
              <li><a href="mainCategorySopa.html">거실</a></li>
              <li><a href="mainCategoryDesk.html">서재</a></li>
              <li><a href="mainCategoryTable.html">주방</a></li>
            </ul>
            <div class="line"></div>
            <div class="gnb_sub_box"  onmouseover="applyHoverEffect(true)" onmouseout="applyHoverEffect(false)">
              <div class="gnb_sub_list" >
                  <ul class="detail_list">
                      <li><a href="mainCategoryBed.html">침대</a></li>
                      <span></span>
                      <li><a href="#">옷장</a></li>
                      <span></span>
                      <li><a href="#">화장대</a></li>
                  </ul>
                  <ul class="detail_list">
                      <li><a href="mainCategorySopa.html">소파</a></li>
                      <span></span>
                      <li><a href="#">테이블</a></li>
                      <span></span>
                      <li><a href="#">수납장</a></li>
                  </ul>
                  <ul class="detail_list">
                      <li><a href="mainCategoryDesk.html">책상</a></li>
                      <span></span>
                      <li><a href="#">책장</a></li>
                      <span></span>
                      <li><a href="#">의자</a></li>
                  </ul>
                  <ul class="detail_list">
                      <li><a href="mainCategoryTable.html">식탁</a></li>
                      <span></span>
                      <li><a href="#">수납장</a></li>
                  </ul>
              </div>
            </div>
          </div>
        </nav>
    </header>



    <section>
        <!-- 여기에 작성 -->
        <div id="main_category_route">
            <ul class="route_list">
            <li><img src="../image/icon/home.png" alt=""></li>
            <li>&gt;</li>
            <li>MY페이지</li>
            <li>&gt;</li>
            <li>취소/반품/교환내역</li>
            <li>&gt;</li>
            <li>주문상세</li>
            </ul>
            <div id="contents">
            <table id="product_table">
                <thead>
                <tr class="table_subject">
                    <th>번호</th>
                    <th>이미지</th>
                    <th>상품정보</th>
                    <th>판매가</th>
                    <th>배송비</th>
                    <th>적립포인트</th>
                    <th>상태</th>
                    <th></th>
                </tr>
                </thead>
                <tbody class="tbody">
                <tr>
                    <td>1</td>
                    <td><img src="" alt="제품이미지"></td>
                    <td>라클아리너 1인소파<br>색상 그레이 534524h3</td>
                    <td>100,000 원</td>
                    <td>무료</td>
                    <td>1,000 p</td>
                    <td>배송준비중</td>
                    <td><button type="button">리뷰하기</button></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><img src="" alt="제품이미지"></td>
                    <td>라클아리너 1인소파<br>색상 그레이 534524h3</td>
                    <td>100,000 원</td>
                    <td>무료</td>
                    <td>1,000 p</td>
                    <td>배송준비중</td>
                    <td><button type="button">리뷰하기</button></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><img src="" alt="제품이미지"></td>
                    <td>라클아리너 1인소파<br>색상 그레이 534524h3</td>
                    <td>100,000 원</td>
                    <td>무료</td>
                    <td>1,000 p</td>
                    <td>배송준비중</td>
                    <td><button type="button">리뷰하기</button></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>300,000 원</td>
                    <td>무료</td>
                    <td>3,000 p</td>
                    <td>배송준비중</td>
                </tr>
                </tfoot>
            </table>
            <div class="subject">배송 정보</div>
            <table id="delivery_info">
                <tbody>
                <tr>
                    <td>받는 분</td>
                    <td>이*경</td>
                </tr>
                <tr>
                    <td>휴대폰 번호</td>
                    <td>010-****-****</td>
                </tr>
                <tr>
                    <td>배송지</td>
                    <td>서울 여의도 **** ****</td>
                </tr>
                <tr>
                    <td>배송방법</td>
                    <td>배송 전 연락해 주세요.</td>
                </tr>
                </tbody>
            </table>
            <div class="subject">주문금액 정보</div>
            <div id="cost_info">
                <ul class="minus">
                    <li>상품금액</li>
                    <li>+ 305,000 원</li>
                </ul>
                <ul class="plus">
                    <li>포인트사용</li>
                    <li>- 5,000 p</li>
                </ul>
                <ul class="equal">
                    <li>배송비/포장비</li>
                    <li>+ 0 원</li>
                </ul>
                <ul>
                    <li>총 결제금액</li>
                    <li>= 300,000원</li>
                </ul>
            </div>


            <div id="point_info">
                <div class="point_wrap">
                    <div>
                        <div class="subject"><span>포인트 적립 예정</span></div>
                        <div>상세보기</div>
                    </div>
                    <!-- 내용 -->
                    <div class="point">
                        <ul>
                            <li>구매적립</li>
                            <li>3,000 p</li>
                        </ul>
                        <ul>
                            <li>리뷰적립</li>
                            <li>0 p</li>
                        </ul>
                    </div>
                </div>
                
                <div class="payment_wrap">
                    <div>
                        <div class="subject">결제정보</div>
                    </div>
                        <!-- 내용 -->
                    <div class="payment">
                        <ul>
                            <li>신한카드(일시불)</li>
                            <li><button type="button">결제완료</button></li>
                            <li>300,000 원</li>
                        </ul>
                    </div>
                    <div class="date">2023.10.11</div>

                </div>

            </div>



            </div>
            <div class="page_number">
                <span>&lt;&lt;</span>
                <span>&lt;</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>&gt;</span>
                <span>&gt;&gt;</span>
            </div>

        </div>
    </section>





    <footer>
        <div id="footer_wrap">
          <ul class="footer_text1">
            <li><a href="#">이용약관</a></li>
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">공지사항</a></li>
          </ul>
          <div class="footer_text2">
            <ul >
              <li>고객센터 이용안내</li>
              <li>평일 오전 9:00 ~ 18:00</li>
              <li>(일요일,공휴일 휴무)</li>
            </ul>
            <ul>
              <li><a href="# ">1인가구 문의</a></li>
              <li>상품/배송문의</li>
              <li>1688-0000</li>
            </ul>
            <ul>
              <li><a href="#">Q&A</a></li>
              <li>자주하는 질문</li>
            </ul>
          </div>
        </div>
      </footer>

</body>
</html>