<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/product.css">
  <script src="../js/header.js" defer></script>
	<script src="../js/product.js" defer></script>


</head>
<body>
  

  <div class="top"><a href="#"></a></div>

  <header>
    <div class="gnb">
      <div class="hamburger_button" onclick="toggleHamburger()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- 사이드메뉴 -->
      <div class="side_nenu" onclick="toggleHamburger()">
        <ul class="side_nenu_List">
          <li><a href="#">베스트 상품</a></li>
          <li><a href="mainCategoryBed.html">침실</a></li>
          <li><a href="mainCategorySopa.html">거실</a></li>
          <li><a href="mainCategoryDesk.html">서재</a></li>
          <li><a href="mainCategoryTable.html">주방</a></li>
          <li><a href="#">게시판</a></li>
        </ul>
      </div>
      <h1 class="logo"><a href="../html/index1.html"><img src="../image/logo.png" alt="logo"></a></h1>
      <ul class="login_list">
        <li><a href="#"><img src="../image/icon/login.png">로그인</a></li>
        <li><a href="#"><img src="../image/icon/join.png">회원가입</a></li>
        <li><a href="#"><img src="../image/icon/mypage.png">마이페이지</a></li>
        <li><a href="#"><img src="../image/icon/cart.png">장바구니</a></li>
      </ul>
    </div>


    <nav>
      <div>
        <div class="line"></div>
        <ul class="gnb_list" onmouseover="applyHoverEffect(true)" onmouseout="applyHoverEffect(false)">
          <li><a href="mainCategoryBed.html">침실</a></a></li>
          <li><a href="mainCategorySopa.html">거실</a></li>
          <li><a href="mainCategoryDesk.html">서재</a></li>
          <li><a href="mainCategoryTable.html">주방</a></li>
        </ul>
        <div class="line"></div>
        <div class="gnb_sub_box"  onmouseover="applyHoverEffect(true)" onmouseout="applyHoverEffect(false)">
          <div class="gnb_sub_list" >
              <ul class="detail_list">
                  <li><a href="mainCategoryBed.html">침대</a></li>
                  <span></span>
                  <li><a href="#">옷장</a></li>
                  <span></span>
                  <li><a href="#">화장대</a></li>
              </ul>
              <ul class="detail_list">
                  <li><a href="mainCategorySopa.html">소파</a></li>
                  <span></span>
                  <li><a href="#">테이블</a></li>
                  <span></span>
                  <li><a href="#">수납장</a></li>
              </ul>
              <ul class="detail_list">
                  <li><a href="mainCategoryDesk.html">책상</a></li>
                  <span></span>
                  <li><a href="#">책장</a></li>
                  <span></span>
                  <li><a href="#">의자</a></li>
              </ul>
              <ul class="detail_list">
                  <li><a href="mainCategoryTable.html">식탁</a></li>
                  <span></span>
                  <li><a href="#">수납장</a></li>
              </ul>
          </div>
        </div>
      </div>
    </nav>
</header>

  <section>

      <div class="wrap">
          <div class="product_wrap">
            <ul class="product_photos">
              <li class="product_main_photo"><img src="../image/bead_room/bed/1/main.jpg" alt=""></li>
              <li>
                <div class="product_sub_photos">
                  <a href="../image/bead_room/bed/1/sub1.jpg" title="image1"><img src="../image/bead_room/bed/1/sub1.jpg" alt=""></a>
                  <a href="../image/bead_room/bed/1/sub2.jpg" title="image2"><img src="../image/bead_room/bed/1/sub2.jpg" alt=""></a>
                  <a href="../image/bead_room/bed/1/sub3.jpg" title="image3"><img src="../image/bead_room/bed/1/sub3.jpg" alt=""></a>
                  <a href="../image/bead_room/bed/1/sub4.jpg" title="image4"><img src="../image/bead_room/bed/1/sub4.jpg" alt=""></a>
                </div>
              </li>
            </ul>
  
            <div class="product_text">
              <div>1인가구</div>
              <h3>평상형 수납침대</h3>
              <hr>
              <div class="product_text_wrap">
                <div class="product_price">
                  <span>판매가</span>
                  <span>￦295,000원</span>
                </div>
                <div class="option">
                  <label for="color">색상</label><select name="option_color" id="color">
                  <option value="white">흰색</option>
                  <option value="black">검정</option>
                  </select>
                </div>
                <div class="info">
                  <div>
                    <div>카드할인</div>
                    <p>신한카드 3/5/10만원 즉시 할인 <br>
                      삼성카드 청구할인 <br>
                      국민카드 무이자 최대 12개월</p>
                  </div>
                  <div>
                    <div>배송정보</div>
                    <p><span>1인가구배송</span> <br>
                      평일기준 3일이내 도착예상 <br>
                      산간지역 / 제주특별자치 상관없이 <br>
                      전부 무료배송!</p>
                  </div>
                </div>
                <div class="button">
                  <button type="button">장바구니</button>
                  <button type="button">바로구매</button>
                </div>
              </div>
            </div>
  
          </div>

        <div class="point_txt_wrap">
          <ul class="review">
            <li><span>★</span>4.5 후기 3개</li>
            <li><a href="#rivew">더보기 +</a></li>
          </ul>
          <ul class="review_txt">
            <li>리뷰 포인트</li>
            <li>구매 후 리뷰 작성시 최대 1,000 포인트적립</li>
          </ul>
          <div><span>♥</span>첫 구매시 무조건 10,000포인트 적립<span>♥</span></div>
        </div>

        <div class="detail_info ">
            <div>상세정보</div>
            <ul>
              <li><a href="#rivew">후기(3개)</a></li>
              <li><a href="#qa">Q&A</a></li>
            </ul>
        </div>

        <!-- 상세이미지 -->
        <div class="page_view">
          <img src="../image/page.png" alt="">
        </div>

        <!-- 평균리뷰 -->

        <ul class="average_review">
          <li>
            <span>★★★★★</span>
          </li>
          <li>평균별점 5.0</li>
        </ul>

        <!-- 포토후기 -->

        <div class="poto_review">
          <h2>포토 상품후기</h2>
          <ul onclick="openModal()">
            <li><img src="" alt=""></li>
          </ul>
          <div class="review_page_number">1</div>
        </div>

        <div id="overlay">
          <div id="myModal" class="modal">
            <button id="closeModal">&times;</button>          
            <div class="content-container">
              <div class="left-column">
                <img src="../image/bedroom.jpg" alt="">
              </div>
              <div class="right-column">
                <div class="modal_average_review">
                  <ul>
                    <li>★★★★☆</li><li>4</li>
                  </ul>
                  <ul>
                    <li>lyai** </li><li>23.12.03.</li>
                  </ul>
                </div>
                <hr>
                <div class="modal_option">
                  평상형 수납침대 : 흰색
                </div>
                <hr>
                <div class="modal_content">
                  냄새안나고 너무 예뻐요~!!! <br>
                  가격도 저렴하고 무료배송이라 늘 애용합니다 ~
                </div>
                <hr>
                <div>
                  <ul id="review-img">
                    <li><img src="../image/bedroom.jpg" alt=""></li>
                    <li><img src="../image/chair.png" alt=""></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 글 후기 -->

        <div class="text_review">
          <div>
            <h2 id="rivew">상품후기</h2>
            <ul class="text_review_list">
              <li>1</li>
              <li><span>★★★★☆</span></li>
              <li>사진이랑 똑같고 배송이 빨라요!사진이랑 똑같고 배송이 빨라요!사진이랑 똑같고 배송이 빨라요!</li>
              <li>lyai**</li>
              <li>2023.11.10</li>
            </ul>
            <div class="review_page_number">1</div>
          </div>
  
          <!-- Q&A -->
          <h2 id="qa">Q&A</h2>
          <div class="qa">
            <ul class="main">
              <li>1</li>
              <li>배송관련</li>
              <li>배송기간은 얼마나 걸리나요?</li>
            </ul>
            <div class="sub">답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변</div>
          </div>
          <div class="qa">
            <ul class="main">
              <li>2</li>
              <li>배송관련</li>
              <li>배송기간은 얼마나 걸리나요?</li>
            </ul>
            <div class="sub">답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변답변</div>
          </div>
  
          <p class="nonmember">
            비회원으로 주문하신 경우 당사 사이트 우측 상단의 [배송 조회 > 비회원 주문 확인] 메뉴에서 확인 가능하며 <br>
            주문 완료 후 제공되는 주문번호 및 주문 시 기재한 이메일로 확인 가능합니다
          </p>

        </div>

        



      </div>
  </section>


  <footer>
    <div id="footer_wrap">
      <ul class="footer_text1">
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">공지사항</a></li>
      </ul>
      <div class="footer_text2">
        <ul >
          <li>고객센터 이용안내</li>
          <li>평일 오전 9:00 ~ 18:00</li>
          <li>(일요일,공휴일 휴무)</li>
        </ul>
        <ul>
          <li><a href="# ">1인가구 문의</a></li>
          <li>상품/배송문의</li>
          <li>1688-0000</li>
        </ul>
        <ul>
          <li><a href="#">Q&A</a></li>
          <li>자주하는 질문</li>
        </ul>
      </div>
    </div>
  </footer>

	<script src="../js/jquery-3.6.3.min.js"></script>

</body>
</html>