<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/footer.css">
  <script src="../js/header.js" defer></script>

  <!-- Summernote -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  <!-- Summernote -->

  <script src="../js/writeReview.js" defer></script>
  <link rel="stylesheet" href="../css/writeReview.css">
</head>

<body>

  <header>
    <div class="gnb">
      <div class="hamburger_button" onclick="toggleHamburger()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- 사이드메뉴 -->
      <div class="side_nenu" onclick="toggleHamburger()">
        <ul class="side_nenu_List">
          <li><a href="#">베스트 상품</a></li>
          <li><a href="mainCategoryBed.html">침실</a></li>
          <li><a href="mainCategorySopa.html">거실</a></li>
          <li><a href="mainCategoryDesk.html">서재</a></li>
          <li><a href="mainCategoryTable.html">주방</a></li>
          <li><a href="#">게시판</a></li>
        </ul>
      </div>
      <h1 class="logo"><a href="main.html"><img src="../image/logo.png" alt="logo"></a></h1>
      <ul class="login_list">
        <li><a href="#"><img src="../image/icon/login.png">로그인</a></li>
        <li><a href="#"><img src="../image/icon/join.png">회원가입</a></li>
        <li><a href="$"><img src="../image/icon/mypage.png">마이페이지</a></li>
        <li><a href="#"><img src="../image/icon/cart.png">장바구니</a></li>
      </ul>
    </div>


    <nav>
      <div>
        <div class="line"></div>
        <ul class="gnb_list" onmouseover="applyHoverEffect(true)" onmouseout="applyHoverEffect(false)">
          <li><a href="mainCategoryBed.html">침실</a></a></li>
          <li><a href="mainCategorySopa.html">거실</a></li>
          <li><a href="mainCategoryDesk.html">서재</a></li>
          <li><a href="mainCategoryTable.html">주방</a></li>
        </ul>
        <div class="line"></div>
        <div class="gnb_sub_box"  onmouseover="applyHoverEffect(true)" onmouseout="applyHoverEffect(false)">
          <div class="gnb_sub_list" >
              <ul class="detail_list">
                  <li><a href="mainCategoryBed.html">침대</a></li>
                  <span></span>
                  <li><a href="#">옷장</a></li>
                  <span></span>
                  <li><a href="#">화장대</a></li>
              </ul>
              <ul class="detail_list">
                  <li><a href="mainCategorySopa.html">소파</a></li>
                  <span></span>
                  <li><a href="#">테이블</a></li>
                  <span></span>
                  <li><a href="#">수납장</a></li>
              </ul>
              <ul class="detail_list">
                  <li><a href="mainCategoryDesk.html">책상</a></li>
                  <span></span>
                  <li><a href="#">책장</a></li>
                  <span></span>
                  <li><a href="#">의자</a></li>
              </ul>
              <ul class="detail_list">
                  <li><a href="mainCategoryTable.html">식탁</a></li>
                  <span></span>
                  <li><a href="#">수납장</a></li>
              </ul>
          </div>
        </div>
      </div>
    </nav>
</header>

  <section>
    <!-- 여기에 작성 -->
    <div id="main_category_route">
      <ul class="route_list">
        <li><img src="../image/icon/home.png" alt=""></li>
        <li>&gt;</li>
        <li>리뷰하기</li>
      </ul>
      <div id="contents">
        <form action="">
          <table id="contents_table">
            <tr>
              <td colspan="2">
                <div id="top_title"><h2>리뷰작성</h2></div>
                <hr>
                <div id="photo_and_ratings">
                  <img id="product_img" src="../image/bead_room/bed/10.jpg" alt="제품이미지">
                  <div id="productName_and_ratings">
                    <p>라클아리너 1인소파<br>
                      색상 그레이 534524h3</p>
                    <div id="ratings">
                      <img class="star" id="star1" src="../image/review/empty_star.png" alt="별1" onclick="setRatings(0)">
                      <img class="star" id="star2" src="../image/review/empty_star.png" alt="별2" onclick="setRatings(1)">
                      <img class="star" id="star3" src="../image/review/empty_star.png" alt="별3" onclick="setRatings(2)">
                      <img class="star" id="star4" src="../image/review/empty_star.png" alt="별4" onclick="setRatings(3)">
                      <img class="star" id="star5" src="../image/review/empty_star.png" alt="별5" onclick="setRatings(4)">
                      <img id="empty_star" src="../image/review/empty_star.png" alt="빈별">
                      <img id="full_star" src="../image/review/full_star.png" alt="꽉찬별">
                    </div>
                  </div>
                </div>
                <hr>
              </td>
            </tr>
            <tr>
              <td id="title">제목</td>
              <td><input type="text" id="input_title"></td>
            </tr>
            <tr>
              <td colspan="2"><hr></td>
            </tr>
            <tr>
              <td id="review_body_title">
                <div>상세리뷰</div>
              </td>
              <td>
                <!-- Summernote -->
                <div id="summernote"></div>
                <script>
                  $('#summernote').summernote({
                    placeholder: '일반후기 작성 시, 1000원 적립 <br>포토후기 작성 시, 5000원 적립',
                    tabsize: 2,
                    height: 300,
                    toolbar: [
                      ['style', ['style']],
                      ['font', ['bold', 'underline', 'clear']],
                      ['color', ['color']],
                      ['para', ['ul', 'ol', 'paragraph']],
                      ['table', ['table']],
                      ['insert', ['link', 'picture', 'video']],
                      ['view', ['fullscreen', 'codeview', 'help']]
                    ]
                  });
                </script>
                <!-- Summernote -->
              </td>
            </tr>
            <tr>
              <td>사진</td>
              <td><input type="file"></td>
            </tr>
            <tr>
              <td></td>
              <td id="info">
                - 상품과 관련없는 내용 또는 이미지, 욕설/비방, 개인정보유출, 광고/홍보글 등 
                적절하지 않은 게시물은 별도의 고지없이 비공개 처리 될 수 있습니다.
                <br>
                - 작성된 게시물은 운영 및 마케팅에 활용될 수 있습니다.
              </td>
            </tr>
          </table>
          <div id="bottom_buttons">
            <button>뒤로가기</button>
            <button>작성하기</button>
          </div>
        </form>
      </div>
    </div>
  </section> <!-- 여기까지 -->
  <footer>
    <div id="footer_wrap">
      <ul class="footer_text1">
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">공지사항</a></li>
      </ul>
      <div class="footer_text2">
        <ul >
          <li>고객센터 이용안내</li>
          <li>평일 오전 9:00 ~ 18:00</li>
          <li>(일요일,공휴일 휴무)</li>
        </ul>
        <ul>
          <li><a href="# ">1인가구 문의</a></li>
          <li>상품/배송문의</li>
          <li>1688-0000</li>
        </ul>
        <ul>
          <li><a href="#">Q&A</a></li>
          <li>자주하는 질문</li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>