<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.admin.adminProduct.model.dao.AdminProductMapper">
    <resultMap id="productResultMap" type="AdminProductDTO">
        <id property="productCode" column="product_code"/>
        <result property="subCategoryName" column="category_code"/>
        <result property="productName" column="product_name"/>
        <result property="orderableStatus" column="orderable_status"/>
        <result property="price" column="price"/>
        <result property="registrationDate" column="registration_date"/>
        <result property="modificationDate" column="modification_date"/>
        <result property="eventProgressionStatus" column="event_progressionstatus"/>
        <result property="deliveryCharge" column="delivery_charge"/>
        <result property="salesStart" column="sales_start"/>
        <result property="reviews" column="reviews"/>
        <result property="grade" column="grade"/>
        <result property="salesEnd" column="sales_end"/>
        <result property="upperCategoryName" column="upperCategoryName"/>
        <association property="category" resultMap="categoryResultMap"/>
        <association property="optionList" resultMap="optionListResultMap"/>
        <collection property="attachment" resultMap="attachmentResultMap"/>
        <collection property="optionDTO" resultMap="optionResultMap"/>
    </resultMap>

    <resultMap id="optionListResultMap" type="OptionListDTO">
        <id property="productCode" column="product_code"/>
        <id property="optionCode" column="option_code"/>
        <result property="stock" column="stock"/>
        <result property="exposureStatus" column="exposure_status"/>
        <result property="sales" column="sales_volume"/>
        <association property="optionDTO" resultMap="optionResultMap" />
    </resultMap>

    <resultMap id="optionResultMap" type="OptionDTO">
        <id property="optionCode" column="option_code"/>
        <result property="optionName" column="name"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="AdminCategoryDTO">
        <id property="subCategoryName" column="category_code"/>
        <result property="state" column="state"/>
        <result property="name" column="name"/>
        <result property="upperCategoryCode" column="upper_category_code"/>
    </resultMap>

    <resultMap id="attachmentResultMap" type="AttachmentDTO">
        <id property="no" column="img_code"/>
        <result property="productCode" column="product_code"/>
        <result property="originalName" column="source_name"/>
        <result property="thumbnailPath" column="convert_path"/>
        <result property="savedName" column="convert_name"/>
        <result property="savePath" column="save_path"/>
        <result property="fileType" column="image_classification"/>
        <result property="status" column="image_status"/>
    </resultMap>

    <select id="searchProduct" resultMap="productResultMap">
        SELECT
            product_code,
            product_name,
            price,
            orderable_status,
            stock,
            sales_volume,
            registration_date,
            modification_date,
            category_code
        FROM (
        SELECT
            A.product_code,
            A.product_name,
            A.price,
            A.orderable_status,
            A.registration_date,
            A.modification_date,
            A.category_code,
            SUM(B.stock) as stock,
            SUM(B.sales_volume) as sales_volume
        FROM
            tbl_product A
        join tbl_category C on A.category_code = C.category_code
        JOIN tbl_option_list B ON A.product_code = B.product_code
        <where>
            <if test="prdCondition == 'conditionY'">
                AND A.orderable_status = 'Y'
            </if>
            <if test="prdCondition == 'conditionN'">
                AND A.orderable_status = 'N'
            </if>
            <if test="searchValue != ''">
            <if test="serachCondition == 'name'">
                AND A.product_name LIKE CONCAT('%', #{searchValue}, '%')
            </if>
            <if test="serachCondition == 'number'">
                AND A.product_code LIKE CONCAT('%', #{searchValue}, '%')
            </if>
            </if>
            <if test="subCategoryName != 0">
                AND A.category_code = #{subCategoryName}
            </if>
            <if test="prdSerchStartPrice != 0 ">
                <if test="prdSerchEndPrice != 0 ">
                AND A.price BETWEEN #{prdSerchStartPrice} AND #{prdSerchEndPrice}
                </if>
                <if test="prdSerchEndPrice == 0">
                AND A.price > #{prdSerchStartPrice}
                </if>
            </if>
            <if test="proSearchStartDay != ''">
                <if test="proSearchEndDay != ''">
                AND A.registration_date BETWEEN #{proSearchStartDay} AND #{proSearchEndDay}
                </if>
                <if test="proSearchEndDay == ''">
                    AND A.registration_date > #{proSearchStartDay}
                </if>
            </if>
        </where>
        GROUP BY
        A.product_code, A.product_name, A.price, A.orderable_status, A.registration_date
        order by product_code
        ) AS subquery
    </select>
    <insert id="addProduct">
        INSERT INTO tbl_product (
                    product_name,
                    orderable_status,
                    price,
                    registration_date,
                    delivery_charge,
                    sales_start,
                    sales_end,
                    category_code)
        VALUES (#{productName}, #{orderableStatus}, #{price}, NOW(), #{deliveryCharge}, #{salesStart}, #{salesEnd},#{category.subCategoryName})
        <selectKey keyColumn="productCode" resultType="_int" order="AFTER" keyProperty="productCode">
            SELECT LAST_INSERT_ID() AS productCode
        </selectKey>
    </insert>
    <insert id="addOptionList">
        INSERT INTO tbl_option_list (
            product_code,
            option_code,
            stock,
            exposure_status
        )
        VALUES
            (#{productCode}, #{optionCode}, #{stock}, 'Y')
    </insert>
    <insert id="addImg">
        INSERT
        INTO TBL_PRODUCT_IMG (
            product_code,
            source_name,
            convert_name,
            save_path,
            image_classification,
            convert_path,
            create_date,
            image_status
        )
        VALUES  (#{productCode}, #{ originalName }, #{ savedName }, #{ savePath }, #{ fileType }, #{ thumbnailPath }, now(), 'Y' )
    </insert>
    <insert id="addOption">
        INSERT IGNORE INTO tbl_option (
            option_code,
            name
        )
        VALUES
            (#{optionCode}, #{optionName})

    </insert>
    <select id="searchCategory" resultMap="categoryResultMap">
        SELECT
            b.category_code,
            b.name
        from tbl_category b
        inner join tbl_category a
        on a.category_code=b.upper_category_code
        <where>
            <if test="upperCategoryCode == 1">
                AND B.upper_category_code = 1
            </if>
            <if test="upperCategoryCode == 2">
                AND B.upper_category_code = 2
            </if>
            <if test="upperCategoryCode == 3">
                AND B.upper_category_code = 3
            </if>
            <if test="upperCategoryCode == 4">
                AND B.upper_category_code = 4
            </if>
        </where>
    </select>
    <select id="searchOptionCode" resultMap="optionResultMap">
        SELECT
            option_code
        FROM tbl_option
        where option_code = #{optionCode};
    </select>
    <select id="selectProductDetail" parameterType="int" resultMap="productResultMap">
        SELECT
            A.product_code,
            A.orderable_status,
            A.sales_start,
            A.sales_end,
            A.product_name,
            A.price,
            A.delivery_charge,
            B.upper_category_code,
            B.category_code,
            c.option_code,
            C.name,
            D.option_code,
            D.product_code,
            D.stock,
            F.img_code,
            F.convert_path,
            F.save_path,
            F.convert_name,
            F.image_classification
        FROM tbl_product A
                 JOIN tbl_category B ON A.category_code = B.category_code
                 JOIN tbl_option_list D ON A.product_code = D.product_code
                 JOIN tbl_option C ON C.option_code = D.option_code
                 JOIN tbl_product_img F ON A.product_code = F.product_code
                 WHERE A.product_code = #{productCode}
    </select>
    <select id="searchOptionList" resultMap="optionListResultMap">
        SELECT
            option_code,
            stock
        FROM TBL_OPTION_LIST
        WHERE product_code = #{productCode}
    </select>
    <update id="productUpdate" parameterType="Map">
        UPDATE TBL_PRODUCT
        SET
            product_name = #{productName},
            orderable_status = #{orderableStatus},
            price = #{price},
            delivery_charge = #{deliveryCharge},
            sales_start = #{salesStart},
            sales_end = #{salesEnd},
            category_code = #{subCategoryName},
            modification_date = now()
        WHERE product_code = #{productCode}
    </update>
    <update id="optionListUpdate" parameterType="Map">
        UPDATE tbl_option_list
        SET
            stock = #{stock}
        WHERE product_code = #{productCode} AND option_code = #{optionCode}
    </update>
    <delete id="deleteOptionList" parameterType="Map">
        DELETE FROM tbl_option_list
        WHERE product_code = #{productCode} AND option_code = #{optionCode}
    </delete>
    <insert id="addOptionList2">
        REPLACE into tbl_option_list (
            product_code,
            option_code,
            stock,
            exposure_status
        )
        VALUES
            (#{productCode}, #{optionCode}, #{stock}, 'Y')
    </insert>
    <update id="updateImg" parameterType="Map">
        UPDATE tbl_product_img
        SET convert_path = #{thumbnailPath},
            source_name = #{originalName},
            modify_date = now(),
            convert_name = #{savedName}
        WHERE product_code = #{productCode} AND image_classification = #{fileType}

    </update>
    <select id="searchCategoryList" resultMap="categoryResultMap">
        SELECT
            b.category_code,
            b.name,
            b.upper_category_code
        from tbl_category b
    </select>
    <select id="searchCategoryDetail" resultMap="productResultMap">
        select
            a.category_code,
            b.product_name,
            a.name,
            b.orderable_status,
            a.state

        from tbl_category A
                 join tbl_product B on A.category_code = B.category_code
        where A.category_code = #{categoryCode}
    </select>
    <select id="searchUpperCategoryDetail" resultMap="productResultMap">
        select
            a.category_code,
            b.product_name,
            a.name,
            b.orderable_status,
            a.state

        from tbl_category A
                 join tbl_product B on A.category_code = B.category_code
        where A.upper_category_code = #{categoryCode}
    </select>
    <update id="categoryModify" parameterType="Map">
        UPDATE tbl_category
        SET name = #{categoryName},
            state = #{categoryDisplay}
        WHERE category_code = #{subCategoryName}
    </update>

</mapper>