<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.admin.adminProduct.model.dao.AdminProductMapper">
    <resultMap id="productResultMap" type="AdminProductDTO">
        <id property="productCode" column="product_code"/>
        <result property="subCategoryName" column="category_code"/>
        <result property="productName" column="product_name"/>
        <result property="orderableStatus" column="orderable_status"/>
        <result property="price" column="price"/>
        <result property="registrationDate" column="registration_date"/>
        <result property="modificationDate" column="modification_date"/>
        <result property="eventProgressionStatus" column="event_progressionstatus"/>
        <result property="deliveryCharge" column="delivery_charge"/>
        <result property="salesStart" column="sales_start"/>
        <result property="reviews" column="reviews"/>
        <result property="grade" column="grade"/>
        <result property="salesEnd" column="sales_end"/>
        <association property="option" resultMap="optionListResultMap"/>
        <association property="attachment" resultMap="attachmentResultMap"/>
        <association property="optionDTO" resultMap="optionResultMap"/>
        <association property="category" resultMap="categoryResultMap"/>
    </resultMap>

    <resultMap id="optionListResultMap" type="OptionListDTO">
        <id property="productCode" column="product_code"/>
        <result property="optionCode" column="option_code"/>
        <result property="stock" column="stock"/>
        <result property="exposureStatus" column="exposure_status"/>
        <result property="sales" column="sales_volume"/>
    </resultMap>

    <resultMap id="optionResultMap" type="OptionDTO">
        <id property="optionCode" column="option_code"/>
        <result property="optionName" column="name"/>
    </resultMap>

    <resultMap id="categoryResultMap" type="AdminCategoryDTO">
        <id property="subCategoryName" column="category_code"/>
        <result property="state" column="state"/>
        <result property="name" column="name"/>
        <result property="upperCategoryCode" column="upper_category_code"/>
    </resultMap>

    <resultMap id="attachmentResultMap" type="AttachmentDTO">
        <id property="no" column="img_code"/>
        <result property="productCode" column="product_code"/>
        <result property="originalName" column="source_name"/>
        <result property="thumbnailPath" column="source_path"/>
        <result property="savedName" column="convert_name"/>
        <result property="savePath" column="convert_path"/>
        <result property="fileType" column="image_classification"/>
        <result property="status" column="image_status"/>
    </resultMap>

    <select id="searchProduct" resultMap="productResultMap">
        SELECT
            product_code,
            product_name,
            price,
            orderable_status,
            stock,
            sales_volume,
            registration_date,
            category_code
        FROM (
        SELECT
            A.product_code,
            A.product_name,
            A.price,
            A.orderable_status,
            A.registration_date,
            A.category_code,
            SUM(B.stock) as stock,
            SUM(B.sales_volume) as sales_volume
        FROM
            tbl_product A
        join tbl_category C on A.category_code = C.category_code
        JOIN tbl_option_list B ON A.product_code = B.product_code
        <where>
            <if test="prdCondition == 'conditionY'">
                AND A.orderable_status = 'Y'
            </if>
            <if test="prdCondition == 'conditionN'">
                AND A.orderable_status = 'N'
            </if>
            <if test="searchValue != ''">
            <if test="serachCondition == 'name'">
                AND A.product_name LIKE CONCAT('%', #{searchValue}, '%')
            </if>
            <if test="serachCondition == 'number'">
                AND A.product_code LIKE CONCAT('%', #{searchValue}, '%')
            </if>
            </if>
            <if test="subCategoryName != 0">
                AND A.category_code = #{subCategoryName}
            </if>
            <if test="prdSerchStartPrice != 0 ">
                <if test="prdSerchEndPrice != 0 ">
                AND A.price BETWEEN #{prdSerchStartPrice} AND #{prdSerchEndPrice}
                </if>
                <if test="prdSerchEndPrice == 0">
                AND A.price > #{prdSerchStartPrice}
                </if>
            </if>
            <if test="proSearchStartDay != ''">
                <if test="proSearchEndDay != ''">
                AND A.registration_date BETWEEN #{proSearchStartDay} AND #{proSearchEndDay}
                </if>
                <if test="proSearchEndDay == ''">
                    AND A.registration_date > #{proSearchStartDay}
                </if>
            </if>
        </where>
        GROUP BY
        A.product_code, A.product_name, A.price, A.orderable_status, A.registration_date
        ) AS subquery
    </select>

    <insert id="addProduct">
        INSERT INTO tbl_product (
                    product_name,
                    orderable_status,
                    price,
                    registration_date,
                    delivery_charge,
                    sales_start,
                    sales_end,
                    category_code)
        VALUES (#{productName}, #{orderableStatus}, #{price}, NOW(), #{deliveryCharge}, #{salesStart}, #{salesEnd},#{subCategoryName})
        <selectKey keyColumn="productCode" resultType="_int" order="AFTER" keyProperty="productCode">
            SELECT LAST_INSERT_ID() AS productCode
        </selectKey>
    </insert>
    <insert id="addOptionList">
        INSERT INTO tbl_option_list (
            product_code,
            option_code,
            stock,
            exposure_status
        )
        VALUES
            (#{productCode}, #{optionCode}, #{stock}, 'Y')
    </insert>

    <insert id="addImg">
        INSERT
        INTO TBL_PRODUCT_IMG (
            product_code,
            source_name,
            convert_name,
            convert_path,
            image_classification,
            source_path,
            create_date,
            image_status
        )
        VALUES  (#{productCode}, #{ originalName }, #{ savedName }, #{ savePath }, #{ fileType }, #{ thumbnailPath }, now(), 'Y' )
    </insert>
    <insert id="addOption">
        INSERT INTO tbl_option (
            option_code,
            name
        )
        VALUES
            (#{optionCode}, #{optionName})
    </insert>

    <select id="searchOption" resultMap="categoryResultMap">
        SELECT
            b.category_code,
            b.name
        from tbl_category b
        inner join tbl_category a
        on a.category_code=b.upper_category_code
        <where>
            <if test="upperCategoryCode == 1">
                AND B.upper_category_code = 1
            </if>
            <if test="upperCategoryCode == 2">
                AND B.upper_category_code = 2
            </if>
            <if test="upperCategoryCode == 3">
                AND B.upper_category_code = 3
            </if>
            <if test="upperCategoryCode == 4">
                AND B.upper_category_code = 4
            </if>
        </where>
    </select>

    <select id="searchOptionCode" resultMap="optionResultMap">
        SELECT
            option_code
        FROM tbl_option
        where option_code = #{optionCode};
    </select>



</mapper>