<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.admin.adminMember.model.dao.AdminUnregisterMapper">
    <resultMap id="unregisterMap" type="AdminUnregisterDTO">
        <id property="user_code" column="user_code"/>
        <result property="withdraw_code" column="withdraw_code"/>
        <result property="id" column="id"/>
        <result property="apply_date" column="apply_date"/>
        <result property="commit_date" column="commit_date"/>
        <result property="cause" column="cause"/>
        <result property="state" column="state"/>
        <result property="cancel_date" column="cancel_date"/>
        <association property="user" resultMap="adminUserDTOResultMap"/>
        <association property="user" resultMap="adminUserDTOResultMap"/>
            </resultMap>

    <resultMap id="adminUserDTOResultMap" type="AdminUserDTO">
        <id property="user_code" column="user_code"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="classify" column="classify"/>
        <result property="name" column="name"/>
        <result property="connection_date" column="connection_date"/>
        <result property="creation_date" column="creation_date"/>
        <result property="withdraw_state" column="withdraw_state"/>
    </resultMap>
    <resultMap id="adminUserResultMap" type="AdminUserDTO">
        <id property="user_code" column="user_code"/>
        <result property="name" column="name"/>
        <result property="id" column="id"/>
    </resultMap>
    <resultMap id="adminCustomerDTOResultMap" type="com.hedgehog.admin.adminMember.model.dto.AdminCustomerDTO">
        <id property="customer_code" column="customer_code"/>
        <result property="member_state" column="member_state"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="certification_number" column="certification_number"/>
    </resultMap>
    <resultMap id="autoMailResultMap" type="com.hedgehog.admin.adminMember.model.dto.AdminSendMailDTO">
        <id property="formCode" column="form_code"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="creationDate" column="creation_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="title" column="title"/>
        <result property="mailList" column="email"/>
    </resultMap>

    <select id="selectUnregister" resultMap="unregisterMap">
        SELECT
        A.user_code,
        A.id,
        B.apply_date,
        B.commit_date,
        B.cancel_date,
        B.cause,
        B.state
        FROM
        tbl_withdraw B
        JOIN tbl_user A ON B.user_code = A.user_code
        <where>
            <if test="applyStartDay != ''">
                <if test="applyEndDay != ''">
                    AND B.apply_date BETWEEN #{applyStartDay} AND #{applyEndDay}
                </if>
                <if test="applyEndDay == ''">
                    AND B.apply_date > #{applyStartDay}
                </if>
            </if>
            <if test="commitStartDay != ''">
                <if test="commitEndDay != ''">
                    AND B.commit_date BETWEEN #{commitStartDay} AND #{commitEndDay}
                </if>
                <if test="commitEndDay == ''">
                    AND B.commit_date > #{commitStartDay}
                </if>
            </if>
            <if test="unregisterCondition == 'withdrawal'">
                AND (B.cause NOT LIKE CONCAT('%관리자%', '') AND B.cause NOT LIKE CONCAT('%강제%', ''))
            </if>
            <if test="unregisterCondition == 'forcedWithdrawal'">
                AND B.cause LIKE CONCAT('%강제%', '') OR B.cause LIKE CONCAT('%관리자 승인%', '')
            </if>
            <if test="unregisterCondition == 'plannedWithdrawal'">
                AND B.state = 'N'
            </if>
            <if test="searchId != null and searchId != ''">
                AND A.id LIKE CONCAT('%', #{searchId}, '%')
            </if>
        </where>
    </select>
    <update id="causeUpdate" parameterType="_int">
        UPDATE tbl_withdraw
        SET
            cause = '관리자 승인 탈퇴',
            state = 'Y',
            commit_date = now()
        WHERE user_code = #{user_code}
    </update>
    <update id="withdrawalCancel" parameterType="_int">
        update tbl_withdraw
        SET state = 'N',
            cancel_date = now(),
            commit_date = null,
            cause = '탈퇴 취소'
        WHERE user_code = #{user_code}
    </update>
    <select id="unregisterDetail" resultMap="unregisterMap">
        SELECT
            A.user_code,
            A.id,
            B.apply_date,
            B.commit_date,
            B.cancel_date,
            B.cause,
            B.state
        FROM
        tbl_withdraw B
        JOIN tbl_user A ON B.user_code = A.user_code
        WHERE A.user_code = #{user_code}
    </select>
    <select id="searchMail" resultMap="adminCustomerDTOResultMap">
        SELECT
            email
        FROM
            tbl_customer
        where
            customer_code =  #{user_code}
    </select>
    <select id="searchMailForm" resultMap="autoMailResultMap">
    SELECT
    name,
    content,
    title
    FROM TBL_MAILFORM
    WHERE form_code = #{i}
    </select>

</mapper>
