<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.admin.adminMember.model.dao.AdminMemberMapper">
    <resultMap id="memberResultMap" type="adminAllMemberDTO">
        <id property="member_code" column="member_code"/>
        <result property="birthday" column="birthday"/>
        <result property="gender" column="gender"/>
        <result property="email_consent" column="email_consent"/>
        <result property="point" column="point"/>
        <result property="cumulative_amount" column="cumulative_amount"/>
        <result property="totalPoint" column="totalPoint"/>
        <association property="customer" resultMap="adminCustomerDTOResultMap"/>
        <association property="user" resultMap="adminUserDTOResultMap"/>
        <association property="orderDTO" resultMap="orderResultMap"/>
        <collection property="orderDetail" resultMap="orderDetailResultMap"/>
    </resultMap>

    <resultMap id="adminCustomerDTOResultMap" type="adminCustomerDTO">
        <id property="customer_code" column="customer_code"/>
        <result property="member_state" column="member_state"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="certification_number" column="certification_number"/>
    </resultMap>


    <resultMap id="adminUserDTOResultMap" type="adminUserDTO">
        <id property="user_code" column="user_code"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="classify" column="classify"/>
        <result property="name" column="name"/>
        <result property="connection_date" column="connection_date"/>
        <result property="creation_date" column="creation_date"/>
        <result property="withdraw_state" column="withdraw_state"/>
    </resultMap>
    <resultMap id="orderResultMap" type="AdminOrderDTO">
        <id property="orderCode" column="order_code"/>
        <result property="customerCode" column="customer_code"/>
        <result property="creationDate" column="creation_date"/>
        <result property="sumPrice" column="sum_price"/>
        <result property="pointUsage" column="point_usage"/>
        <result property="state" column="state"/>
        <result property="productCode" column="product_code"/>
        <result property="totalCount" column="total_count"/>
    </resultMap>
    <resultMap id="orderDetailResultMap" type="AdminOrderDetailDTO">
        <id property="orderDetailsCode" column="order_details_code"/>
        <result property="count" column="count"/>
        <result property="productCode" column="product_code"/>
        <result property="orderCode" column="order_code"/>
        <result property="deliveryCharge" column="delivery_charge"/>
        <result property="point" column="point"/>
        <result property="reducedPrice" column="reduced_price"/>
        <result property="costPrice" column="cost_price"/>
        <result property="finalPrice" column="final_price"/>
        <result property="optionCode" column="option_code"/>
    </resultMap>



    <select id="selectMember" resultMap="memberResultMap">
        SELECT
        A.member_code,
        A.email_consent,
        A.point,
        A.cumulative_amount,
        B.email,
        B.phone,
        C.user_code,
        C.id,
        C.name,
        C.creation_date,
        C.connection_date,
        C.withdraw_state
        FROM
        tbl_member A
        JOIN tbl_customer B ON A.member_code = B.customer_code
        JOIN tbl_user C ON B.customer_code = C.user_code
        <where>
            withdraw_state = 'N'
            <if test="memKeyword != null and searchKeyword != null">
                <choose>
                    <when test="memKeyword == 'user_id'">
                        AND CONCAT('', C.id) LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="memKeyword == 'user_name'">
                        AND CONCAT('', C.name) LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="memKeyword == 'user_mobile'">
                        AND CONCAT('', B.phone) LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="memKeyword == 'user_email'">
                        AND CONCAT('', B.email) LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
            <if test="dateStart != ''">
                <if test="dateEnd != ''">
                    AND  C.creation_date BETWEEN #{dateStart} AND #{dateEnd}
                </if>
                <if test="dateEnd == ''">
                    AND C.creation_date > #{dateStart}
                </if>
            </if>
            <if test="memAgree != null and memAgree != ''">
                AND (

                <if test="memAgree == 'agree'">
                    A.email_consent = 'Y'
                </if>
                <if test="memAgree == 'disagree'">
                    A.email_consent = 'N'
                </if>
                )
            </if>
        </where>
    </select>
    <update id="updateMemberWithdrawState" parameterType="Map">
        UPDATE tbl_user
        SET
            withdraw_state = 'Y'
        WHERE user_code = #{member_code}
    </update>
    <insert id="insertWithdrawTable" >
        INSERT INTO tbl_withdraw
            (user_code,
             state,
             cause,
             commit_date)
        values
            (#{member_code  }, 'Y', '강제 탈퇴', now()  )

    </insert>
    <select id="searchMember" resultMap="memberResultMap">
        SELECT
            user_code,
            id
        FROM
            tbl_user
        WHERE user_code = #{member_code}
    </select>
    <select id="memberDetail" resultMap="memberResultMap">
        SELECT
            member_code,
            email_consent,
            point,
            cumulative_amount,
            email,
            phone,
            user_code,
            id,
            name,
            creation_date,
            connection_date,
            withdraw_state,
            point_usage,
            totalPoint
        FROM(
                SELECT
                    A.member_code,
                    A.email_consent,
                    A.point,
                    A.cumulative_amount,
                    B.email,
                    B.phone,
                    C.user_code,
                    C.id,
                    C.name,
                    C.creation_date,
                    C.connection_date,
                    C.withdraw_state,
                    D.point_usage,
                    sum(E.point) as totalPoint
                FROM
                    tbl_member A
                        JOIN tbl_customer B ON A.member_code = B.customer_code
                        JOIN tbl_user C ON B.customer_code = C.user_code
                        join tbl_order D on d.customer_code = b.customer_code
                        join tbl_order_details E on D.order_code = E.order_code
                where
                    member_code =  #{member_code})as sub
    </select>
    <update id="pointAdd">
        UPDATE tbl_member
        SET
            point = point + #{point}
        WHERE member_code = #{member_code}
    </update>




</mapper>

