<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.admin.adminService.model.dao.AdminAutoMapper">
    <resultMap id="autoMailResultMap" type="AdminAutoMailDTO">
        <id property="formCode" column="form_code"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="creationDate" column="creation_date"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="title" column="title"/>
        <result property="mail_code" column="mail_code"/>
        <result property="date" column="date"/>
        <result property="mailList" column="mail_list"/>
        <collection property="searchEmailList" column="email"/>
    </resultMap>
<select id="previewMail">
SELECT
    *
FROM TBL_MAILFORM
WHERE form_code = #{formCode}
</select>
    <update id="modifyMail">
        UPDATE TBL_MAILFORM
        SET
             title = #{title},
             content = #{content},
             modify_date = now()
        WHERE form_code = #{formCode}
    </update>
    <select id="searchEmailList">
        SELECT
            A.email
        from tbl_customer A
                 JOIN tbl_member B on A.customer_code = B.member_code
        where email_consent = 'Y'
    </select>
    <select id="searchCustomerList">
        SELECT
            A.customer_code
        from tbl_customer A
            JOIN tbl_member B on A.customer_code = B.member_code
        where email_consent = 'Y'
    </select>
    <insert id="insertMailHistory" keyProperty="mail_code" useGeneratedKeys="true">
        insert into tbl_mail_history (
                                        content,
                                        date,
                                        title,
                                        mail_list
                ) values (
                #{content}, now(), #{title}, #{mailList}
                )
    </insert>
    <insert id="imgInsert">
    INSERT INTO tbl_post_img (

                            email_code,
                            create_date,
                            convert_path,
                            save_path,
                            source_name,
                            convert_name,
                            post_type)
    VALUES
    <foreach collection="uploadedImageList" item="image" separator=",">
        (#{mailCode},
         now(),
         #{image.convertPath},
         #{image.savePath},
         #{image.sourceName},
         #{image.convertName},
         '이메일')
    </foreach>
</insert>
    <select id="searchEmailHistory" resultMap="autoMailResultMap">
        SELECT
            A.mail_code,
            A.content,
            A.date,
            A.title,
            A.mail_list
        from tbl_mail_history A
        <where>
            <if test="searchStartDay != ''">
                <if test="searchEndDay != ''">
                    AND A.date BETWEEN #{searchStartDay} AND #{searchEndDay}
                </if>
                <if test="searchEndDay == ''">
                    AND A.date > #{searchStartDay}
                </if>
            </if>
<!--            <if test="keyword != ''">-->
<!--                AND (-->
<!--                <if test="search == 0">-->
<!--                    A.title LIKE CONCAT('%', #{keyword}, '%') OR A.content LIKE CONCAT('%', #{keyword}, '%')-->
<!--                </if>-->
<!--                <if test="search == 1">-->
<!--                    A.title LIKE CONCAT('%', #{keyword}, '%')-->
<!--                </if>-->
<!--                <if test="search == 2">-->
<!--                    A.content LIKE CONCAT('%', #{keyword}, '%')-->
<!--                </if>-->
<!--                )-->
<!--            </if>-->
        </where>
    </select>
</mapper>