<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.admin.adminService.model.dao.AdminFAQMapper">
    <resultMap id="FAQResultMap" type="AdminFAQDTO">
    <id property="user_code" column="user-code"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="write_date" column="write_date"/>
        <result property="modify_date" column="modify_date"/>
        <result property="views" column="views"/>
        <result property="state" column="state"/>
        <result property="post_code" column="post_code"/>
        <association property="id" resultMap="adminUserDTOResultMap"/>
    </resultMap>

    <resultMap id="adminUserDTOResultMap" type="AdminUserDTO">
        <id property="user_code" column="user_code"/>
        <result property="id" column="id"/>
    </resultMap>

    <select id="searchFAQ" resultMap="FAQResultMap">
        SELECT
            A.post_code,
            A.title,
            A.content,
            B.id,
            A.write_date,
            A.modify_date,
            A.views,
            A.state,
            A.post_type
        FROM tbl_admin_bulletin_board A
        JOIN tbl_user B ON A.user_code = B.user_code
        where A.post_type = 'FAQ'
        <if test="faqSearchStartDay != ''">
            <if test="faqSearchEndDay != ''">
                AND A.write_date BETWEEN #{faqSearchStartDay} AND #{faqSearchEndDay}
            </if>
            <if test="faqSearchEndDay == ''">
                AND A.write_date > #{faqSearchStartDay}
            </if>
        </if>
        <if test="faqSearch != ''">
            <if test="faqKeyword == 1">
                AND  A.title LIKE CONCAT('%', #{faqSearch}, '%')
            </if>
            <if test="faqKeyword == 2">
                AND B.id LIKE CONCAT('%', #{faqSearch}, '%')
            </if>

        </if>

    </select>

    <update id="FAQStateUpdate" parameterType="_int">
        UPDATE tbl_admin_bulletin_board
        SET state =
        <choose>
            <when test="state == 1"> 'Y'</when>
            <when test="state == 2"> 'N'</when>

        </choose>
        WHERE post_code = #{post_code}
    </update>
    <insert id="insertFAQ" >
        INSERT INTO tbl_admin_bulletin_board
        (write_date,
        content,
        title,
        post_type,
        user_code,
        state
        )
        values
            (now(), #{content}, #{title}, 'FAQ', 2, #{state})
    </insert>
    <insert id="insertNotice" >
        INSERT INTO tbl_admin_bulletin_board
        (write_date,
         content,
         title,
         post_type,
         user_code,
         state
        )
        values
            (now(), #{content}, #{title}, '공지사항', 2, #{state})
    </insert>

</mapper>