<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.admin.adminService.model.dao.AdminReviewMapper">
    <resultMap id="reviewResultMap" type="AdminReviewDTO">
        <id property="review_code" column="review_code"/>
        <result property="product_code" column="product_code"/>
        <result property="option_code" column="option_code"/>
        <result property="grade" column="grade"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="write_date" column="write_date"/>
        <result property="member_code" column="member_code"/>
<!--        <association property="attachment" resultMap="attachmentResultMap"/>-->
        <association property="product" resultMap="adminProductDTOResultMap"/>
        <association property="id" resultMap="adminUserDTOResultMap"/>
    </resultMap>
    <resultMap id="adminProductDTOResultMap" type="AdminProductDTO">
        <id property="productCode" column="product_code"/>
        <result property="productName" column="product_name"/>
    </resultMap>
    <resultMap id="adminUserDTOResultMap" type="AdminUserDTO">
        <id property="user_code" column="user_code"/>
        <result property="id" column="id"/>
    </resultMap>
<!--    <resultMap id="attachmentResultMap" type="AttachmentDTO">-->
<!--        <id property="productCode" column="product_code"/>-->
<!--        <result property="originalName" column="source_name"/>-->
<!--        <result property="thumbnailPath" column="source_path"/>-->
<!--        <result property="savedName" column="convert_name"/>-->
<!--        <result property="savePath" column="convert_path"/>-->
<!--        <result property="fileType" column="image_classification"/>-->
<!--        <result property="status" column="image_status"/>-->
<!--    </resultMap>-->

    <select id="searchReview" resultMap="reviewResultMap">
    SELECT
        A.title,
        A.content,
        B.product_name,
        A.grade,
        C.id,
        A.write_date
    FROM tbl_review A
    JOIN tbl_product B ON A.product_code = B.product_code
    JOIN tbl_user C ON A.member_code = C.user_code;




</select>
</mapper>

