<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.admin.adminMember.model.dao.AdminMemberMapper">
    <resultMap id="memberResultMap" type="adminAllMemberDTO">
        <id property="member_code" column="member_code"/>
        <result property="birthday" column="birthday"/>
        <result property="gender" column="gender"/>
        <result property="email_consent" column="email_consent"/>
        <result property="point" column="point"/>
        <result property="cumulative_amount" column="cumulative_amount"/>
        <association property="customer" resultMap="adminCustomerDTOResultMap"/>
        <association property="user" resultMap="adminUserDTOResultMap"/>
    </resultMap>

    <resultMap id="adminCustomerDTOResultMap" type="adminCustomerDTO">
        <id property="customer_code" column="customer_code"/>
        <result property="member_state" column="member_state"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="certification_number" column="certification_number"/>
    </resultMap>


    <resultMap id="adminUserDTOResultMap" type="adminUserDTO">
        <id property="user_code" column="user_code"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="classify" column="classify"/>
        <result property="name" column="name"/>
        <result property="connection_date" column="connection_date"/>
        <result property="creation_date" column="creation_date"/>
        <result property="withdraw_state" column="withdraw_state"/>
    </resultMap>




    <select id="selectMember" resultMap="memberResultMap">
        SELECT
        A.member_code,
        A.email_consent,
        A.point,
        A.cumulative_amount,
        B.email,
        B.phone,
        C.user_code,
        C.id,
        C.name,
        C.creation_date,
        C.connection_date,
        C.withdraw_state
        FROM
        tbl_member A
        JOIN tbl_customer B ON A.member_code = B.customer_code
        JOIN tbl_user C ON B.customer_code = C.user_code
        <where>


            <if test="memKeyword != null and searchKeyword != null">
                <choose>
                    <when test="memKeyword == 'user_id'">
                        AND CONCAT('', C.id) LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="memKeyword == 'user_name'">
                        AND CONCAT('', C.name) LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="memKeyword == 'user_mobile'">
                        AND CONCAT('', B.phone) LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                    <when test="memKeyword == 'user_email'">
                        AND CONCAT('', B.email) LIKE CONCAT('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
            <if test="dateStart != ''">
                <if test="dateEnd != ''">
                    AND  C.creation_date BETWEEN #{dateStart} AND #{dateEnd}
                </if>
                <if test="dateEnd == ''">
                    AND C.creation_date > #{dateStart}
                </if>
            </if>
            <if test="memAgree != null and memAgree != ''">
                AND (

                <if test="memAgree == 'agree'">
                    A.email_consent = 'Y'
                </if>
                <if test="memAgree == 'disagree'">
                    A.email_consent = 'N'
                </if>
                )
            </if>
        </where>
    </select>


</mapper>

