<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.admin.adminOrder.model.dao.AdminOrderMapper">
    <resultMap id="orderResultMap" type="AdminOrderDTO">
        <id property="orderCode" column="order_code"/>
        <result property="customerCode" column="customer_code"/>
        <result property="creationDate" column="creation_date"/>
        <result property="sumPrice" column="sum_price"/>
        <result property="pointUsage" column="point_usage"/>
        <result property="state" column="state"/>
        <result property="productCode" column="product_code"/>
        <result property="totalCount" column="total_count"/>
        <association property="userDTO" resultMap="adminUserResultMap"/>
        <association property="adminCustomerDTO" resultMap="customerResultMap"/>
        <association property="deliveryDTO" resultMap="deliveryResultMap"/>
        <collection property="productDTO" resultMap="productResultMap"/>
        <collection property="orderDetail" resultMap="orderDetailResultMap"/>
    </resultMap>
    <resultMap id="orderDetailResultMap" type="AdminOrderDetailDTO">
        <id property="orderDetailsCode" column="order_details_code"/>
        <result property="count" column="count"/>
        <result property="productCode" column="product_code"/>
        <result property="orderCode" column="order_code"/>
        <result property="deliveryCharge" column="delivery_charge"/>
        <result property="point" column="point"/>
        <result property="reducedPrice" column="reduced_price"/>
        <result property="costPrice" column="cost_price"/>
        <result property="finalPrice" column="final_price"/>
        <result property="optionCode" column="option_code"/>
    </resultMap>
    <resultMap id="adminUserResultMap" type="AdminUserDTO">
        <id property="user_code" column="user_code"/>
        <result property="id" column="id"/>
        <result property="password" column="password"/>
        <result property="classify" column="classify"/>
        <result property="name" column="name"/>
        <result property="connection_date" column="connection_date"/>
        <result property="creation_date" column="creation_date"/>
        <result property="withdraw_state" column="withdraw_state"/>
    </resultMap>
    <resultMap id="productResultMap" type="AdminProductDTO">
        <id property="productCode" column="product_code"/>
        <result property="subCategoryName" column="category_code"/>
        <result property="productName" column="product_name"/>
        <result property="orderableStatus" column="orderable_status"/>
        <result property="price" column="price"/>
        <result property="registrationDate" column="registration_date"/>
        <result property="modificationDate" column="modification_date"/>
        <result property="eventProgressionStatus" column="event_progressionstatus"/>
        <result property="deliveryCharge" column="delivery_charge"/>
        <result property="salesStart" column="sales_start"/>
        <result property="reviews" column="reviews"/>
        <result property="grade" column="grade"/>
        <result property="salesEnd" column="sales_end"/>
    </resultMap>
    <resultMap id="customerResultMap" type="AdminCustomerDTO">
        <id property="customer_code" column="customer_code"/>
        <result property="member_state" column="member_state"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="certification_number" column="certification_number"/>
    </resultMap>
    <resultMap id="deliveryResultMap" type="AdminDeliveryDTO">
        <id property="deliveryCode" column="delivery_code"/>
        <result property="deliveryAddress" column="delivery_address"/>
        <result property="deliveryRequests" column="delivery_requests"/>
        <result property="arrivalTime" column="arrival_time"/>
        <result property="recipientName" column="recipient_name"/>
        <result property="recipientPhone" column="recipient_phone"/>
        <result property="state" column="state"/>
    </resultMap>
    <select id="searchOrderList" resultMap="orderResultMap">
        SELECT A.order_code,
            A.creation_date,
            D.product_name,
            SUM(b.count) total_count,
            count(b.count) count,
            SUM(b.cost_price) cost_price,
            SUM(b.delivery_charge) delivery_charge,
            sum(b.cost_price * b.count) + SUM(b.delivery_charge) - SUM(b.reduced_price) - A.point_usage sum_price,
            A.point_usage,
            A.state,
            E.name
        FROM tbl_order A
        JOIN tbl_order_details b ON A.order_code = b.order_code
        JOIN tbl_product D ON A.product_code = D.product_code
        JOIN tbl_user E on A.customer_code = E.user_code
        join tbl_customer F on A.customer_code = F.customer_code
        <where>
            <if test="state == 1">
                AND A.state LIKE CONCAT('배송대기')
            </if>
            <if test="state == 2">
                AND A.state LIKE CONCAT('배송중')
            </if>
            <if test="state == 3">
                AND A.state LIKE CONCAT('배송완료')
            </if>
            <if test="state == 4">
                AND A.state LIKE CONCAT('교환중')
            </if>
            <if test="state == 5">
                AND A.state LIKE CONCAT('교환완료')
            </if>
            <if test="state == 6">
                AND A.state LIKE CONCAT('환불중')
            </if>
            <if test="state == 7">
                AND A.state LIKE CONCAT('환불완료')
            </if>
            <if test="keywordValue != ''">
                <if test="keyword == 'orderCode'">
                    AND A.order_code LIKE CONCAT('%', #{keywordValue}, '%')
                </if>
                <if test="keyword == 'name'">
                    AND E.name LIKE CONCAT('%', #{keywordValue}, '%')
                </if>
                <if test="keyword == 'phone'">
                    AND F.phone LIKE CONCAT('%', #{keywordValue}, '%')
                </if>
                <if test="keyword == 'productName'">
                    AND d.product_name LIKE CONCAT('%', #{keywordValue}, '%')
                </if>
                <if test="keyword == 'productCode'">
                    AND d.product_code LIKE CONCAT('%', #{keywordValue}, '%')
                </if>
                <if test="keyword == 'id'">
                    AND e.id LIKE CONCAT('%', #{keywordValue}, '%')
                </if>
            </if>
            <if test="searchStartDay != ''">
                <if test="searchEndDay != ''">
                    AND A.creation_date BETWEEN #{searchStartDay} AND #{searchEndDay}
                </if>
                <if test="searchEndDay == ''">
                    AND A.creation_date > #{searchStartDay}
                </if>
            </if>
        </where>
        group by A.order_code
        order by A.creation_date desc
    </select>
    <update id="orderStateUpdate" parameterType="_int">
        UPDATE TBL_ORDER
        SET state =
            <choose>
                <when test="state == 1"> '배송대기'</when>
                <when test="state == 2"> '배송중'</when>
                <when test="state == 3"> '배송완료'</when>
                <when test="state == 4"> '환불완료'</when>
                <when test="state == 5"> '교환완료'</when>
                <when test="state == 6"> '교환중'</when>
                <when test="state == 7"> '환불중'</when>
            </choose>
        WHERE order_code = #{orderCode}
    </update>
    <update id="deliveryStateUpdate">
        UPDATE tbl_delivery
        SET state =
        <choose>
            <when test="state == 1"> '배송대기'</when>
            <when test="state == 2"> '배송중'</when>
            <when test="state == 3"> '배송완료'</when>
            <when test="state == 4"> '환불완료'</when>
            <when test="state == 5"> '교환완료'</when>
            <when test="state == 6"> '교환중'</when>
            <when test="state == 7"> '환불중'</when>
        </choose>
        WHERE delivery_code = #{orderCode}
    </update>
    <update id="paymentTableUpdate">
        UPDATE tbl_payment
        SET state =
        <choose>
            <when test="state == 1"> '배송대기'</when>
            <when test="state == 2"> '배송중'</when>
            <when test="state == 3"> '배송완료'</when>
            <when test="state == 4"> '환불완료'</when>
            <when test="state == 5"> '교환완료'</when>
            <when test="state == 6"> '교환중'</when>
            <when test="state == 7"> '환불중'</when>
        </choose>
        WHERE payment_code = #{orderCode}
    </update>
    <update id="exchangeTableUpdate">
        UPDATE tbl_exchange
        SET
            commit_date = now()
        WHERE payment_code = #{orderCode}
    </update>
    <update id="refundTableUpdate">
        UPDATE tbl_refund
        SET
            commit_date = now()
        WHERE payment_code = #{orderCode}
    </update>
    <update id="deliverTableUpdate">
        UPDATE TBL_DELIVERY
        SET state =
            <choose>
                <when test="state == 4"> '환불완료'</when>
                <when test="state == 5"> '교환완료'</when>
                <when test="state == 6"> '교환중'</when>
                <when test="state == 7"> '환불중'</when>
            </choose>
        WHERE delivery_code = #{orderCode}
    </update>
    <insert id="exchangeTableInsert">
        INSERT INTO tbl_exchange(
                                apply_date,
                                cause,
                                payment_code
        )
        values
            (now(), #{cause}, #{orderCode})
    </insert>
    <insert id="refundTableInsert">
        INSERT INTO tbl_refund(
            apply_date,
            cause,
            payment_code
        )
        values
            (now(), #{cause}, #{orderCode})
    </insert>

    <select id="orderDetail" resultMap="orderResultMap">
        SELECT
            A.order_code,
            A.creation_date,
            D.product_name,
            C.count,
            C.cost_price,
            C.delivery_charge,
            A.point_usage,
            A.state,
            E.name,
            F.phone,
            c.order_details_code,
            G.recipient_name,
            G.recipient_phone,
            g.delivery_address,
            g.delivery_requests,
            g.state
        FROM tbl_order_details C
                 JOIN tbl_order A ON A.order_code = C.order_code
                 JOIN tbl_product D ON D.product_code = C.product_code
                 JOIN tbl_user E on A.customer_code = E.user_code
                 join tbl_customer F on A.customer_code = F.customer_code
                 join tbl_delivery G on A.order_code = G.delivery_code
        where A.order_code = #{orderCode}
    </select>



</mapper>