<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.client.basket.model.dao.BasketMapper">


    <resultMap id="CartSelectResultMap" type="CartSelectDTO">
        <id property="productCode" column="product_code"/>
        <result property="imgCode" column="img_code"/>
        <result property="productName" column="product_name"/>
        <result property="price" column="price"/>
        <result property="savedMoney" column="적립금"/>
        <result property="amount" column="amount"/>
        <result property="deliveryCharge" column="delivery_charge"/>
        <result property="productSum" column="합계"/>
    </resultMap>

    <select id="selectCartList" resultMap="CartSelectResultMap">
        SELECT DISTINCT
            A.product_code,
            C.img_code,
            A.product_name,
            A.price,
            (A.price * 0.01) AS 적립금,
            B.amount,
            A.delivery_charge,
            (A.price * B.amount + A.delivery_charge) AS 합계
        FROM
            tbl_product A
                LEFT JOIN
            tbl_cart B ON A.product_code = B.product_code
                LEFT JOIN
            tbl_product_img C ON A.product_code = C.product_code
        group by A.product_code
    </select>




    <resultMap id="selectCartSumResultMap" type="CartSumDTO">
        <id property="cartCode" column="cart_code"/>
        <result property="amount" column="amount"/>
        <result property="price" column="price"/>
        <result property="productCode" column="product_code"/>
        <result property="deliveryCharge" column="delivery_Charge"/>
    </resultMap>


    <select id="selectCartSum" resultMap="selectCartSumResultMap">
        select
            A.cart_code,
            A.amount,
            B.price,
            A.product_code,
            B.delivery_charge
        FROM
            tbl_cart A
                left Join
            tbl_product B ON A.product_code = B.product_code
    </select>




<!--    ================================       -->




    <resultMap id="cartInfoResultMap" type="CartSelectDTO">
        <id property="userCode" column="user_code"/>
        <result property="cartCode" column="cart_code"/>
        <result property="productCode" column="product_code"/>
        <result property="imgCode" column="img_code"/>
        <result property="productName" column="product_name"/>
        <result property="amount" column="amount"/>
        <result property="price" column="price"/>
        <result property="savedMoney" column="savedMoney"/>
        <result property="deliveryCharge" column="delivery_Charge"/>
    </resultMap>



    <select id="selectCartListByUserCode" resultMap="cartInfoResultMap">
        select
            A.cart_code,
            B.product_name,
            A.amount,
            B.price,
            (B.price * 0.01) AS savedMoney,
            A.product_code,
            B.delivery_charge
        FROM
            tbl_cart A
                join
            tbl_product B ON A.product_code = B.product_code
                join
            tbl_user C ON A.customer_code = C.user_code
        WHERE C.user_code = #{userCode}
    </select>



<!--    선택상품삭제-->

    <delete id="deleteCartItems">
        DELETE FROM tbl_cart
        WHERE cart_code IN
        <foreach collection="cartCode" item="cartCode" open="(" separator="," close=")">
            #{cartCode}
        </foreach>
    </delete>


</mapper>