<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.client.board.model.dao.BoardMapper">
    <select id="selectTotalCountQuestionList">
        SELECT COUNT(*)
        FROM tbl_inquiry A
        <if test="searchCondition == 'id'">
            JOIN tbl_user B ON A.member_code=B.user_code
        </if>
        <where>
            <if test="searchCondition == 'id'">
                B.id = #{searchValue}
            </if>
            <if test="searchCondition == 'title'">
                A.title LIKE CONCAT('%',#{searchValue},'%')
            </if>
            <if test="searchCondition == 'contents'">
                A.content LIKE CONCAT('%',#{searchValue},'%')
            </if>
            <if test="searchCondition == 'titleAndContents'">
                A.title LIKE CONCAT('%',#{searchValue},'%') OR
                A.content LIKE CONCAT('%',#{searchValue},'%')
            </if>
            <if test="searchCondition == 'type'">
                A.post_type LIKE CONCAT('%',#{searchValue},'%')
            </if>
            AND A.state = 'Y'
        </where>
    </select>
    <resultMap id="questionDTOResultMap" type="com.hedgehog.client.board.model.dto.QuestionDTO">
        <id property="inquiryCode" column="inquiry_code"/>
        <result property="secretState" column="secret_state"/>
        <result property="answerState" column="answer_state"/>
        <result property="writeDate" column="write_date"/>
        <result property="postType" column="post_type"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="state" column="state"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="memberCode" column="member_code"/>
        <result property="memberId" column="member_id"/>
    </resultMap>
    <select id="selectQuestionList" resultMap="questionDTOResultMap">
        SELECT A.inquiry_code,
               A.secret_state,
               A.answer_state,
               A.write_date,
               A.post_type,
               A.title,
               A.content,
               A.state,
               A.modify_date,
               A.member_code,
               B.id member_id
        FROM tbl_inquiry A
        JOIN tbl_user B ON A.member_code=B.user_code
        <where>
            <if test="searchCondition == 'id'">
                B.id = #{searchValue}
            </if>
            <if test="searchCondition == 'title'">
                A.title LIKE CONCAT('%',#{searchValue},'%')
            </if>
            <if test="searchCondition == 'contents'">
                A.content LIKE CONCAT('%',#{searchValue},'%')
            </if>
            <if test="searchCondition == 'titleAndContents'">
                A.title LIKE CONCAT('%',#{searchValue},'%') OR
                A.content LIKE CONCAT('%',#{searchValue},'%')
            </if>
            <if test="searchCondition == 'type'">
                A.post_type LIKE CONCAT('%',#{searchValue},'%')
            </if>
            AND A.state = 'Y'
        </where>
    </select>
</mapper>