<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.client.board.model.dao.BoardDetailMapper">
    <resultMap id="reviewDTOResultMap" type="com.hedgehog.client.board.model.dto.ReviewDTO">
        <id property="reviewCode" column="review_code"/>
        <result property="productCode" column="product_code"/>
        <result property="productName" column="product_name"/>
        <result property="productImgPath" column="product_img_path"/>
        <result property="optionCode" column="option_code"/>
        <result property="optionName" column="option_name"/>
        <result property="grade" column="grade"/>
        <result property="content" column="content"/>
        <result property="writeDate" column="write_date"/>
        <result property="memberCode" column="member_code"/>
        <result property="memberId" column="member_id"/>
    </resultMap>
    <select id="getReviewDetail" resultMap="reviewDTOResultMap">
        SELECT A.review_code,
               A.product_code,
               C.product_name,
               E.convert_path product_img_path,
               A.option_code,
               D.name         option_name,
               A.grade,
               A.content,
               A.write_date,
               A.member_code,
               B.id           member_id
        FROM tbl_review A
                 JOIN tbl_user B ON A.member_code = B.user_code
                 JOIN tbl_product C ON A.product_code = C.product_code
                 JOIN tbl_option D ON A.option_code = D.option_code
                 JOIN tbl_product_img E ON A.product_code = E.product_code
        WHERE A.review_code = #{postCode}
          AND A.state = 'Y'
          AND E.image_classification = 'Thumbnails'
    </select>
    <resultMap id="questionDTOResultMap" type="com.hedgehog.client.board.model.dto.QuestionDTO">
        <id property="inquiryCode" column="inquiry_code"/>
        <result property="secretState" column="secret_state"/>
        <result property="answerState" column="answer_state"/>
        <result property="writeDate" column="write_date"/>
        <result property="postType" column="post_type"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="state" column="state"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="memberCode" column="member_code"/>
        <result property="memberId" column="member_id"/>

        <result property="commentCode" column="comment_code"/>
        <result property="commentUserCode" column="comment_user_code"/>
        <result property="commentUserId" column="comment_user_id"/>
        <result property="commentWriteDate" column="comment_write_date"/>
        <result property="commentModifyDate" column="comment_modify_date"/>
        <result property="commentContent" column="comment_content"/>
    </resultMap>
    <select id="getQuestionDetail" resultMap="questionDTOResultMap">
        SELECT A.inquiry_code,
               A.secret_state,
               A.answer_state,
               A.write_date,
               A.post_type,
               A.title,
               A.content,
               A.state,
               A.modify_date,
               A.member_code,
               B.id                                                          member_id,
               C.comment_code,
               C.user_code                                                   comment_user_code,
               (SELECT D.id FROM tbl_user D WHERE C.user_code = D.user_code) comment_user_id,
               C.write_date                                                  comment_write_date,
               C.modify_date                                                 comment_modify_date,
               C.content                                                     comment_content
        FROM tbl_inquiry A
                 JOIN tbl_user B ON A.member_code = B.user_code
                 LEFT JOIN tbl_comment C ON A.inquiry_code = C.inquiry_code
        WHERE A.inquiry_code = #{postCode}
          AND A.state = 'Y'
    </select>
    <resultMap id="noticeDTOResultMap" type="com.hedgehog.client.board.model.dto.NoticeDTO">
        <id property="postCode" column="post_code"/>
        <result property="writeDate" column="write_date"/>
        <result property="content" column="content"/>
        <result property="title" column="title"/>
        <result property="views" column="views"/>
        <result property="postType" column="post_type"/>
        <result property="userCode" column="user_code"/>
        <result property="state" column="state"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <select id="getNoticeDetail" resultMap="noticeDTOResultMap">
        SELECT A.post_code,
               A.write_date,
               A.content,
               A.title,
               A.views,
               A.post_type,
               A.user_code,
               A.state,
               A.modify_date,
               B.id user_id
        FROM tbl_admin_bulletin_board A
                 JOIN tbl_user B ON A.user_code = B.user_code
        WHERE A.post_code = #{postCode}
          AND A.state = 'Y'
          AND A.post_type = '공지사항'
    </select>
    <resultMap id="faqDTOResultMap" type="com.hedgehog.client.board.model.dto.FaqDTO">
        <id property="postCode" column="post_code"/>
        <result property="writeDate" column="write_date"/>
        <result property="content" column="content"/>
        <result property="title" column="title"/>
        <result property="views" column="views"/>
        <result property="postType" column="post_type"/>
        <result property="userCode" column="user_code"/>
        <result property="state" column="state"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <select id="getFaqDetail" resultMap="faqDTOResultMap">
        SELECT A.post_code,
               A.write_date,
               A.content,
               A.title,
               A.views,
               A.post_type,
               A.user_code,
               A.state,
               A.modify_date,
               B.id user_id
        FROM tbl_admin_bulletin_board A
                 JOIN tbl_user B ON A.user_code = B.user_code
        WHERE A.post_code = #{postCode}
          AND A.state = 'Y'
          AND A.post_type = 'FAQ'
    </select>
    <select id="getViews">
        SELECT A.views
        FROM tbl_admin_bulletin_board A
        WHERE A.post_code = #{postCode};
    </select>
    <insert id="setViews">
        UPDATE tbl_admin_bulletin_board
        SET views = #{views}
        WHERE post_code = #{postCode}
    </insert>
    <select id="getReviewUserCode">
        SELECT A.member_code
        FROM tbl_review A
        WHERE A.review_code = #{postCode}
    </select>
    <select id="getInquiryUserCode">
        SELECT A.member_code
        FROM tbl_inquiry A
        WHERE A.inquiry_code = #{postCode}
    </select>
    <update id="updateReviewState">
        UPDATE tbl_review
        SET state='N'
        WHERE review_code = #{postCode}
          AND member_code = #{userCode}
    </update>
    <update id="updateInquiryState">
        UPDATE tbl_inquiry
        SET state='N'
        WHERE inquiry_code = #{postCode}
          AND member_code = #{userCode}
    </update>
    <resultMap id="ReviewDeleteDTOResultMap" type="com.hedgehog.client.board.model.dto.ReviewDeleteDTO">
        <result property="grade" column="grade"/>
        <result property="productCode" column="product_code"/>
    </resultMap>
    <select id="getReviewPostGrade" resultMap="ReviewDeleteDTOResultMap">
        SELECT grade, product_code
        FROM tbl_review
        WHERE review_code=#{postCode} AND member_code=#{userCode}
    </select>
    <update id="updateReviewPostImage">
        UPDATE tbl_post_img
        SET state='N'
        WHERE review_code=#{postCode}
    </update>
    <update id="updateInquiryPostImage">
        UPDATE tbl_post_img
        SET state='N'
        WHERE inquiry_code = #{postCode}
    </update>
    <resultMap id="productReviewDTOResultMap" type="com.hedgehog.client.board.model.dto.ProductReviewDTO">
        <result property="reviews" column="reviews"/>
        <result property="grade" column="grade"/>
    </resultMap>
    <select id="getReviewInfo" resultMap="productReviewDTOResultMap">
        SELECT reviews, grade
        FROM tbl_product
        WHERE tbl_product.product_code = #{productCode}
    </select>
    <update id="updateProductReviewCount">
        UPDATE tbl_product
        SET reviews=#{newProductReviewDTO.reviews},
            grade=#{newProductReviewDTO.grade}
        WHERE product_code=#{productCode}
    </update>
</mapper>