<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.client.board.model.dao.BoardMapper">
    <select id="selectTotalCountQuestionList">
        SELECT COUNT(*)
        FROM tbl_inquiry A
        <if test="searchCondition == 'id'">
            JOIN tbl_user B ON A.member_code=B.user_code
        </if>
        <where>
            <if test="searchValue != '' and searchValue != null">
                <if test="searchCondition == 'id'">
                    B.id = #{searchValue}
                </if>
                <if test="searchCondition == 'title'">
                    A.title LIKE CONCAT('%',#{searchValue},'%')
                </if>
                <if test="searchCondition == 'contents'">
                    A.content LIKE CONCAT('%',#{searchValue},'%')
                </if>
                <if test="searchCondition == 'titleAndContents'">
                    A.title LIKE CONCAT('%',#{searchValue},'%') OR
                    A.content LIKE CONCAT('%',#{searchValue},'%')
                </if>
                <if test="searchCondition == 'type'">
                    A.post_type LIKE CONCAT('%',#{searchValue},'%')
                </if>
            </if>
            AND A.state = 'Y'
        </where>
    </select>
    <resultMap id="questionDTOResultMap" type="com.hedgehog.client.board.model.dto.QuestionDTO">
        <id property="inquiryCode" column="inquiry_code"/>
        <result property="secretState" column="secret_state"/>
        <result property="answerState" column="answer_state"/>
        <result property="writeDate" column="write_date"/>
        <result property="postType" column="post_type"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="state" column="state"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="memberCode" column="member_code"/>
        <result property="memberId" column="member_id"/>

        <result property="commentCode" column="comment_code"/>
        <result property="commentUserCode" column="comment_user_code"/>
        <result property="commentUserId" column="comment_user_id"/>
        <result property="commentWriteDate" column="comment_write_date"/>
        <result property="commentModifyDate" column="comment_modify_date"/>
        <result property="commentContent" column="comment_content"/>
    </resultMap>
    <select id="selectQuestionList" resultMap="questionDTOResultMap">
        SELECT A.inquiry_code,
        A.secret_state,
        A.answer_state,
        A.write_date,
        A.post_type,
        A.title,
        A.content,
        A.state,
        A.modify_date,
        A.member_code,
        B.id member_id,
        C.comment_code,
        C.user_code comment_user_code,
        (SELECT D.id FROM tbl_user D WHERE C.user_code = D.user_code) comment_user_id,
        C.write_date comment_write_date,
        C.modify_date comment_modify_date,
        C.content comment_content
        FROM tbl_inquiry A
        JOIN tbl_user B ON A.member_code=B.user_code
        LEFT JOIN tbl_comment C ON A.inquiry_code = C.inquiry_code
        <where>
            <if test="searchValue != '' and searchValue != null">
                <if test="searchCondition == 'id'">
                    B.id = #{searchValue}
                </if>
                <if test="searchCondition == 'title'">
                    A.title LIKE CONCAT('%',#{searchValue},'%')
                </if>
                <if test="searchCondition == 'contents'">
                    A.content LIKE CONCAT('%',#{searchValue},'%')
                </if>
                <if test="searchCondition == 'titleAndContents'">
                    A.title LIKE CONCAT('%',#{searchValue},'%') OR
                    A.content LIKE CONCAT('%',#{searchValue},'%')
                </if>
                <if test="searchCondition == 'type'">
                    A.post_type LIKE CONCAT('%',#{searchValue},'%')
                </if>
            </if>
            AND A.state = 'Y'
            ORDER BY A.write_date DESC
            LIMIT #{ startRow }, #{ limit }
        </where>
    </select>
    <select id="selectTotalCountReviewList">
        SELECT COUNT(*)
        FROM tbl_review A
        JOIN tbl_product C ON A.product_code = C.product_code
        <if test="searchCondition == 'id'">
            JOIN tbl_user B ON A.member_code = B.user_code
        </if>
        <where>
            <if test="searchValue != '' and searchValue != null">
                <if test="searchCondition == 'id'">
                    B.id = #{searchValue}
                </if>
                <if test="searchCondition == 'productCode'">
                    A.product_code =#{searchValue}
                </if>
                <if test="searchCondition == 'productName'">
                    C.product_name LIKE CONCAT('%',#{searchValue},'%')
                </if>
            </if>
            AND A.state = 'Y'
        </where>
    </select>
    <resultMap id="reviewDTOResultMap" type="com.hedgehog.client.board.model.dto.ReviewDTO">
        <id property="reviewCode" column="review_code"/>
        <result property="productCode" column="product_code"/>
        <result property="productName" column="product_name"/>
        <result property="productImgPath" column="product_img_path"/>
        <result property="optionCode" column="option_code"/>
        <result property="optionName" column="option_name"/>
        <result property="grade" column="grade"/>
        <result property="content" column="content"/>
        <result property="writeDate" column="write_date"/>
        <result property="memberCode" column="member_code"/>
        <result property="memberId" column="member_id"/>
    </resultMap>
    <select id="selectReviewList" resultMap="reviewDTOResultMap">
        SELECT
        A.review_code,
        A.product_code,
        C.product_name,
        E.convert_path product_img_path,
        A.option_code,
        D.name option_name,
        A.grade,
        A.content,
        A.write_date,
        A.member_code,
        B.id member_id
        FROM tbl_review A
        JOIN tbl_user B ON A.member_code = B.user_code
        JOIN tbl_product C ON A.product_code = C.product_code
        JOIN tbl_option D ON A.option_code = D.option_code
        JOIN tbl_product_img E ON A.product_code = E.product_code
        <where>
            <if test="searchValue != '' and searchValue != null">
                <if test="searchCondition == 'id'">
                    B.id = #{searchValue}
                </if>
                <if test="searchCondition == 'productCode'">
                    A.product_code =#{searchValue}
                </if>
                <if test="searchCondition == 'productName'">
                    C.product_name LIKE CONCAT('%',#{searchValue},'%')
                </if>
            </if>
            AND A.state = 'Y' AND E.image_classification='Thumbnails'
        </where>
        <if test="orderBy != null">
            ORDER BY
            <if test="orderBy == 'gradeASC'">
                A.grade ASC, A.write_date DESC
            </if>
            <if test="orderBy == 'gradeDESC'">
                A.grade DESC, A.write_date DESC
            </if>
        </if>
        <if test="orderBy == null">
            ORDER BY A.write_date DESC
        </if>
        LIMIT #{ startRow }, #{ limit }
    </select>
    <select id="selectTotalCountNoticeList">
        SELECT COUNT(*)
        FROM tbl_admin_bulletin_board A
        WHERE A.state='Y' AND A.post_type='공지사항'
        <!--        <if test="orderBy != null">-->
        <!--            ORDER BY-->
        <!--            <if test="orderBy =='writeDateDESC'">-->
        <!--                A.write_date DESC-->
        <!--            </if>-->
        <!--            <if test="orderBy =='writeDateASC'">-->
        <!--                A.write_date ASC-->
        <!--            </if>-->
        <!--            <if test="orderBy == 'viewsDESC'">-->
        <!--                A.views DESC-->
        <!--            </if>-->
        <!--            <if test="orderBy == 'viewsASC'">-->
        <!--                A.views ASC-->
        <!--            </if>-->
        <!--        </if>-->
    </select>
    <resultMap id="noticeDTOResultMap" type="com.hedgehog.client.board.model.dto.NoticeDTO">
        <id property="postCode" column="post_code"/>
        <result property="writeDate" column="write_date"/>
        <result property="content" column="content"/>
        <result property="title" column="title"/>
        <result property="views" column="views"/>
        <result property="postType" column="post_type"/>
        <result property="userCode" column="user_code"/>
        <result property="state" column="state"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <select id="selectNoticeList" resultMap="noticeDTOResultMap">
        SELECT
        A.post_code,
        A.write_date,
        A.content,
        A.title,
        A.views,
        A.post_type,
        A.user_code,
        A.state,
        A.modify_date,
        B.id user_id
        FROM tbl_admin_bulletin_board A
        JOIN tbl_user B ON A.user_code=B.user_code
        WHERE A.state='Y' AND A.post_type='공지사항'
        <if test="orderBy != null">
            ORDER BY
            <if test="orderBy =='writeDateDESC'">
                A.write_date DESC
            </if>
            <if test="orderBy =='writeDateASC'">
                A.write_date ASC
            </if>
            <if test="orderBy == 'viewsASC'">
                A.views ASC
            </if>
            <if test="orderBy == 'viewsDESC'">
                A.views DESC
            </if>
            , A.write_date DESC
        </if>
        LIMIT #{ startRow }, #{ limit }
    </select>
    <select id="selectTotalCountFaqList">
        SELECT COUNT(*)
        FROM tbl_admin_bulletin_board A
        WHERE A.state='Y' AND A.post_type='FAQ'
        <!--        <if test="orderBy != null">-->
        <!--            ORDER BY-->
        <!--            <if test="orderBy =='writeDateDESC'">-->
        <!--                A.write_date DESC-->
        <!--            </if>-->
        <!--            <if test="orderBy =='writeDateASC'">-->
        <!--                A.write_date ASC-->
        <!--            </if>-->
        <!--            <if test="orderBy == 'viewsDESC'">-->
        <!--                A.views DESC-->
        <!--            </if>-->
        <!--            <if test="orderBy == 'viewsASC'">-->
        <!--                A.views ASC-->
        <!--            </if>-->
        <!--        </if>-->
    </select>
    <resultMap id="faqDTOResultMap" type="com.hedgehog.client.board.model.dto.FaqDTO">
        <id property="postCode" column="post_code"/>
        <result property="writeDate" column="write_date"/>
        <result property="content" column="content"/>
        <result property="title" column="title"/>
        <result property="views" column="views"/>
        <result property="postType" column="post_type"/>
        <result property="userCode" column="user_code"/>
        <result property="state" column="state"/>
        <result property="modifyDate" column="modify_date"/>
        <result property="userId" column="user_id"/>
    </resultMap>
    <select id="selectFaqList" resultMap="faqDTOResultMap">
        SELECT
        A.post_code,
        A.write_date,
        A.content,
        A.title,
        A.views,
        A.post_type,
        A.user_code,
        A.state,
        A.modify_date,
        B.id user_id
        FROM tbl_admin_bulletin_board A
        JOIN tbl_user B ON A.user_code=B.user_code
        WHERE A.state='Y' AND A.post_type='FAQ'
        <if test="orderBy != null">
            ORDER BY
            <if test="orderBy =='writeDateDESC'">
                A.write_date DESC
            </if>
            <if test="orderBy =='writeDateASC'">
                A.write_date ASC
            </if>
            <if test="orderBy == 'viewsASC'">
                A.views ASC
            </if>
            <if test="orderBy == 'viewsDESC'">
                A.views DESC
            </if>
            , A.write_date DESC
        </if>
        LIMIT #{ startRow }, #{ limit }
    </select>
    <resultMap id="postImageDTOResultMap" type="com.hedgehog.client.board.model.dto.PostImageDTO">
        <id property="postImageCode" column="post_img_code"/>
        <result property="eventCode" column="event_code"/>
        <result property="reviewCode" column="review_code"/>
        <result property="inquiryCode" column="inquiry_code"/>
        <result property="createDate" column="create_date"/>
        <result property="convertPath" column="convert_path"/>
        <result property="state" column="post_img_state"/>
        <result property="postType" column="post_type"/>
    </resultMap>
    <select id="getReviewImage" resultMap="postImageDTOResultMap">
        SELECT A.post_img_code,
        A.event_code,
        A.review_code,
        A.inquiry_code,
        A.create_date,
        A.convert_path,
        A.state post_img_state,
        A.post_type
        FROM tbl_post_img A
        WHERE
        A.state = 'Y'
        <if test="reviewCodes != null and reviewCodes.size() > 0">
            AND
            A.review_code IN
            <foreach item="item" index="index" collection="reviewCodes" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="reviewCodes == null or reviewCodes.size() == 0">
            AND
            A.post_type='null'
        </if>
    </select>
</mapper>