<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.client.clientOrder.model.dao.CartOrderMapper">



<resultMap id="CartOrderSelectResultMap" type="CartSelectDTO">
    <id property="cartCode" column="cart_code"/>
    <result property="productCode" column="product_code"/>
    <result property="imgCode" column="img_code"/>
    <result property="productName" column="product_name"/>
    <result property="price" column="price"/>
    <result property="savedMoney" column="적립금"/>
    <result property="deliveryCharge" column="delivery_charge"/>
    <result property="productSum" column="합계"/>
</resultMap>

    <select id="cartOrderSelect" resultMap="CartOrderSelectResultMap">
        SELECT
        A.cart_code,
        A.product_code,
        C.img_code,
        B.product_name,
        B.price,
        (B.price * 0.01) AS 적립금,
        B.delivery_charge,
        (B.price * A.amount + B.delivery_charge) AS 합계
        FROM
        tbl_cart A
        left join
        tbl_product B ON A.product_code = B.product_code
        left join
        tbl_product_img C ON A.product_code = C.product_code
        WHERE A.cart_code IN
        <foreach collection="cartcheckbox" item="cartCode" open="(" separator="," close=")">
            #{cartCode}
        </foreach>
    </select>



</mapper>

