<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.client.clientOrder.model.dao.CartOrderMapper">


<resultMap id="CartOrderSelectResultMap" type="CartSelectDTO">
    <id property="cartCode" column="cart_code"/>
    <result property="productCode" column="product_code"/>
    <result property="imgCode" column="img_code"/>
    <result property="productName" column="product_name"/>
    <result property="price" column="price"/>
    <result property="savedMoney" column="적립금"/>
    <result property="deliveryCharge" column="delivery_charge"/>
    <result property="productSum" column="합계"/>
    <result property="convertPath" column="convert_path"/>
</resultMap>


    <select id="cartOrderSelect" resultMap="CartOrderSelectResultMap">
        SELECT
        A.cart_code,
        A.product_code,
        C.img_code,
        B.product_name,
        B.price,
        (B.price * 0.01) AS 적립금,
        B.delivery_charge,
        (B.price * A.amount + B.delivery_charge) AS 합계
        FROM
        tbl_cart A
        left join
        tbl_product B ON A.product_code = B.product_code
        left join
        tbl_product_img C ON B.product_code = C.product_code
        WHERE
        A.cart_code IN
        <foreach collection="cartcheckbox" item="cartCode" open="(" separator="," close=")">
            #{cartCode}
        </foreach>
        group by cart_code



    </select>


<!--    이미지 경로를 위해 where = Thumbnails-->


<!--    <resultMap id="CartOrderSelectResultMap" type="CartSelectDTO">-->
<!--        <id property="cartCode" column="cart_code"/>-->
<!--        <result property="productCode" column="product_code"/>-->
<!--        <result property="imgCode" column="img_code"/>-->
<!--        <result property="productName" column="product_name"/>-->
<!--        <result property="price" column="price"/>-->
<!--        <result property="savedMoney" column="적립금"/>-->
<!--        <result property="deliveryCharge" column="delivery_charge"/>-->
<!--        <result property="productSum" column="합계"/>-->
<!--        <result property="convertPath" column="convert_path"/>-->
<!--    </resultMap>-->


<!--    <select id="cartOrderSelect" resultMap="CartOrderSelectResultMap">-->
<!--    SELECT-->
<!--    A.cart_code,-->
<!--    A.product_code,-->
<!--    C.img_code,-->
<!--    B.product_name,-->
<!--    B.price,-->
<!--    (B.price * 0.01) AS 적립금,-->
<!--    B.delivery_charge,-->
<!--    (B.price * A.amount + B.delivery_charge) AS 합계,-->
<!--    C.convert_path-->
<!--    FROM-->
<!--    tbl_cart A-->
<!--    left join-->
<!--    tbl_product B ON A.product_code = B.product_code-->
<!--    left join-->
<!--    tbl_product_img C ON B.product_code = C.product_code-->
<!--    WHERE-->
<!--    C.convert_path = 'Thumbnails'-->
<!--    </select>-->


    <select id="getOrderPoint" resultType="_int">
        SELECT
            point
        FROM
            tbl_member
        WHERE member_code=#{userCode}
    </select>


    <resultMap id="getOrderInfoResultMap" type="com.hedgehog.client.clientOrder.model.dto.OrderInfoDTO">
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
    </resultMap>

    <select id="getOrderInfo" resultMap="getOrderInfoResultMap">
        select
                A.phone,
                A.email
        FROM
                tbl_customer A
        JOIN    tbl_member B ON A.customer_code = B.member_code
        WHERE B.member_code = #{userCode}
    </select>


    <resultMap id="OrderCompletedResultMap" type="ClientCartOrderForm">
        <id property="orderCode" column="order_code"/>
        <result property="finalPrice" column="final_price"/>
        <result property="productName" column="product_name"/>
    </resultMap>

    <select id="getUserOrder" resultMap="OrderCompletedResultMap">

        SELECT
            A.order_code,
            C.final_price,
            B.product_name
        FROM
            tbl_order A
                JOIN tbl_product B ON A.product_code = B.product_code
                JOIN tbl_order_details C ON A.order_code = C.order_code
        WHERE customer_code =#{userCode}

    </select>


</mapper>

