<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.client.myshop.model.dao.MyshopMapper">
    <select id="getMyPoint" resultType="_int">
        SELECT
            point
        FROM
            tbl_member
        WHERE member_code=#{userCode}
    </select>
    <resultMap id="memberInfo" type="com.hedgehog.client.auth.model.dto.MemberDTO">
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="birthday" column="birthday"/>
        <result property="gender" column="gender"/>
        <result property="emailService" column="email_consent"/>
    </resultMap>
    <select id="getMemberInfo" resultMap="memberInfo">
        SELECT
            A.email,
            A.phone,
            B.birthday,
            B.gender,
            B.email_consent
        FROM
            tbl_customer A
        JOIN tbl_member B ON A.customer_code=B.member_code
        WHERE B.member_code = #{userCode}
    </select>
    <select id="getEmail">
        SELECT
            email
        FROM
            tbl_customer
        WHERE customer_code = #{userCode};
    </select>
    <update id="updateUser">
        UPDATE tbl_user
        SET password=#{userPwd}, name=#{name}
        WHERE id=#{userId};
    </update>
    <update id="updateCustomer">
        UPDATE tbl_customer
        SET
        <if test="member.hiddenCertifiedKey != 0">
            certification_number = #{member.hiddenCertifiedKey},
        </if>
        email=#{member.email},
        phone=#{member.phone}
        WHERE customer_code=#{userCode}
    </update>
    <update id="updateMember">
        UPDATE tbl_member
        SET birthday=#{member.birthday},
            gender=#{member.gender},
            email_consent=#{member.emailService}
        WHERE member_code = #{userCode}
    </update>
</mapper>