<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hedgehog.client.list.dao.ProductListMapper">

    <resultMap type="ProductListDTO" id="productListResultMap" >
        <result property="Discount" column="discount"/>
        <result property="SaleEndDay" column="end_day"/>
        <result property="saleOrBestCode" column="status"/>
        <association property="adminProductDTO" resultMap="productResultMap"/>
        <association property="adminCategoryDTO" resultMap="categoryResultMap"/>
        <association property="attachmentList" resultMap="attachmentResultMap"/>
    </resultMap>

    <resultMap type="AdminProductDTO" id="productResultMap">
        <id property="productCode" column="product_code"/>
        <result property="subCategoryName" column="category_code"/>
        <result property="productName" column="product_name"/>
        <result property="orderableStatus" column="orderable_status"/>
        <result property="price" column="price"/>
        <result property="registrationDate" column="registration_date"/>
        <result property="modificationDate" column="modification_date"/>
        <result property="eventProgressionStatus" column="event_progressionstatus"/>
        <result property="deliveryCharge" column="delivery_charge"/>
        <result property="salesStart" column="sales_start"/>
        <result property="reviews" column="reviews"/>
        <result property="grade" column="grade"/>
        <result property="salesEnd" column="sales_end"/>
    </resultMap>

    <resultMap type="AttachmentDTO" id="attachmentResultMap">
        <id property="no" column="img_code"/>
        <result property="productCode" column="product_code"/>
        <result property="originalName" column="source_name"/>
        <result property="thumbnailPath" column="source_path"/>
        <result property="savedName" column="convert_name"/>
        <result property="savePath" column="convert_path"/>
        <result property="fileType" column="image_classification"/>
        <result property="status" column="image_status"/>
    </resultMap>

    <resultMap type="AdminCategoryDTO" id="categoryResultMap">
        <id property="subCategoryName" column="category_code"/>
        <result property="state" column="state"/>
        <result property="name" column="name"/>
        <result property="upperCategoryCode" column="upper_category_code"/>
    </resultMap>

    <select id="selectTotalPageCount">
        SELECT COUNT(*)
        FROM tbl_product A
                 LEFT JOIN tbl_product_img B ON (A.product_code = B.product_code)
                 LEFT JOIN tbl_category C ON (A.category_code = C.category_code)
                 LEFT JOIN tbl_event_product_list E ON (E.product_code = A.product_code)
                 LEFT JOIN tbl_event F ON (F.post_code = E.post_code)
        WHERE A.orderable_status = 'Y' AND B.image_status = 'Y' AND C.state = 'Y'
            AND(
              (#{type} = 'bed' AND c.name = '침대')
           OR
            (#{type} = 'wardrobe' AND C.name = '옷장')
           OR
            (#{type} = 'dressingTable' AND C.name = '화장대')
           OR
            (#{type} = 'sopa' AND C.name = '소파')
           OR
            (#{type} = 'table' AND C.name = '테이블')
           OR
            (#{type} = 'closet' AND C.name = '수납장')
           OR
            (#{type} = 'desk' AND C.name = '책상')
           OR
            (#{type} = 'bookcase' AND C.name = '책장')
           OR
            (#{type} = 'chair' AND C.name = '의자')
           OR
            (#{type} = 'kitchenTable' AND C.name = '식탁')
           OR
            (#{type} = 'kitchenCloset' AND C.name = '수납장' AND C.category_code = '15')
           OR
            (#{type} = 'sale' AND F.status = 'Y' AND A.event_progressionstatus = 'Y')
           OR
            (#{type} = 'best' AND F.status = 'A' AND A.event_progressionstatus = 'A')
            )
    </select>

    <select id="selectProductList" resultMap="productListResultMap">
        SELECT
            A.product_code,
            A.product_name,
            A.price,
            B.img_code,
            B.source_name,
            B.convert_path,
            A.reviews,
            B.image_classification,
            F.status,
            F.end_day,
            F.discount
        FROM tbl_product A
        LEFT JOIN tbl_product_img B ON (A.product_code = B.product_code)
        LEFT JOIN tbl_category C ON (A.category_code = C.category_code)
        LEFT JOIN tbl_event_product_list E ON (E.product_code = A.product_code)
        LEFT JOIN tbl_event F ON (F.post_code = E.post_code)
        WHERE A.orderable_status = 'Y' AND B.image_status = 'Y' AND C.state = 'Y' AND B.image_classification = 'Thumbnails'
        AND (
            (#{type} = 'bed' AND c.name = '침대' AND A.event_progressionstatus = 'N')
        OR
            (#{type} = 'wardrobe' AND C.name = '옷장' AND A.event_progressionstatus = 'N')
        OR
            (#{type} = 'dressingTable' AND C.name = '화장대' AND A.event_progressionstatus = 'N')
        OR
            (#{type} = 'sopa' AND C.name = '소파' AND A.event_progressionstatus = 'N')
        OR
            (#{type} = 'table' AND C.name = '테이블' AND A.event_progressionstatus = 'N')
        OR
            (#{type} = 'closet' AND C.name = '수납장' AND A.event_progressionstatus = 'N')
        OR
            (#{type} = 'desk' AND C.name = '책상' AND A.event_progressionstatus = 'N')
        OR
            (#{type} = 'bookcase' AND C.name = '책장' AND A.event_progressionstatus = 'N')
        OR
            (#{type} = 'chair' AND C.name = '의자' AND A.event_progressionstatus = 'N')
        OR
            (#{type} = 'kitchenTable' AND C.name = '식탁' AND A.event_progressionstatus = 'N')
        OR
            (#{type} = 'kitchenCloset' AND C.name = '수납장' AND C.category_code = '15' AND A.event_progressionstatus = 'N')

        OR
            (#{type} = 'sale' AND F.status = 'Y' AND A.event_progressionstatus = 'Y')

        OR
            (#{type} = 'best' AND F.status = 'A' AND A.event_progressionstatus = 'A')
            )
        ORDER BY A.product_code
        LIMIT  #{selectCriteria.startRow}, #{ selectCriteria.limit }
    </select>


</mapper>