<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체회원관리</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" th:href="@{/admin/css/member.css}" type="text/css">
    <script th:src="@{/admin/js/seach.js}"></script>


</head>
<body>
<th:block layout:fragment="content">
    <section class="background">
        <div class="page-body">
            <div class="main-head">
                <h2>회원관리</h2>
            </div>
            <div class="page-top">
                <form id="memberSearchForm"
                      th:action="@{/member/membersearch}"
                      method="get"
                      style="display: inline-block">
                    <div class="tbl-setting">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>가입일</th>
                                <td>

                                    <ul>
                                        <li>
                                            <div>

                                                <input type="date" name="dateStart" id="dateStart" class="box1">
                                                <span class="tilde">~</span>

                                                <input type="date" name="dateEnd" id="dateEnd" class="box1">
                                            </div>

                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>고객 정보</th>
                                <td>
                                    <ul>
                                        <li>
                                            <select class="box" name="memKeyword" id="memKeyword">
                                                <option value="">-- 키워드 --</option>
                                                <option value="user_id">아이디</option>
                                                <option value="user_name">이름</option>
                                                <option value="user_mobile">휴대폰번호</option>
                                                <option value="user_email">이메일</option>
                                            </select>
                                            <input class="box" type="text" name="searchKeyword" id="searchKeyword"/>
                                        </li>

                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>마케팅 수신 동의</th>
                                <td>
                                    <ul>
                                        <li>
                                            <select class="box" name="memAgree" id="memAgree">
                                                <option value="">전체</option>
                                                <option value="agree">동의</option>
                                                <option value="disagree">동의안함</option>
                                            </select>

                                        </li>

                                    </ul>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="btn-c">
                        <button class="btn" type="submit" >검색</button>
                    </div>
                </form>  <!-- 여기 폼 사용 -->
            </div>
            <div class="pc-switch">
                <div class="sect-hd">
                    <h3>회원 검색 결과</h3>
                    <span>( 검색고객 : <b><span class="usersCnt" style="color: #CD4747"  th:text="${ totalResult }"></span>명</b> )</span>
                </div>
                <div class="sect-cont">
                    <form id="memberForm" th:action="@{/member/}" method="post">

                    <div class="tbl-side">
                        <div class="f-r">
                            <button type="button" class="btn-black ml-10 btn-buying-limit" style="width:140px;" onclick="submitForm('memberForm', 'memberWithdraw');">
                                회원탈퇴
                            </button>
                            <button type="button" class="btn-black ml-10 btn-buying-limit" style="width:200px;" onclick="openPopup('memberForm', 'selectMemberSendMailPage');">
                                선택회원 메일발송
                            </button>
                        </div>
                    </div>
                    <div class="tbl-list tbl-extend mt-20">
                        <table class="memberSearch" name="memberSearch">
                            <tbody>
                            <tr class="searchResult" >
                                <th>
                                    <label class="single">
                                        <input type="checkbox" name="chk_all_users"><span></span>
                                    </label>
                                </th>
                                <th>No</th>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>휴대폰번호</th>
                                <th>이메일</th>
                                <th>누적 결제금액</th>
                                <th>적립금</th>
                                <th>마케팅<br> 수신동의</th>
                                <th class="aa">회원가입일</th>
                                <th class="aa">최근로그인</th>
                            </tr>
                            <tr class="proSearchBottomtr" th:each=" member,  stat : ${ memberList }">
                                <td>
                                        <input type="checkbox" name="resultCheckbox" id="resultCheckbox" th:value="${ member.member_code }">
                                </td>
                                <td th:text="${ stat.index + 1}"></td>
                                <td th:text="${ member.user.id}"></td>
                                <td th:text="${ member.user.name}"></td>
                                <td th:text="${#strings.concat(#strings.substring(member.customer.phone, 0, 3), '-', #strings.substring(member.customer.phone, 3, 7), '-', #strings.substring(member.customer.phone, 7))}"></td>
                                <td th:text="${ member.customer.email}"></td>
                                <td th:if="${member.cumulative_amount != null and member.cumulative_amount != 0}"
                                    th:text="${#numbers.formatInteger(member.cumulative_amount, 3, 'COMMA') + '원'}"></td>
                                <td th:if="${member.cumulative_amount == null or member.cumulative_amount == 0}">&nbsp;</td>
                                <td th:if="${member.point != null and member.point != 0}"
                                    th:text="${#numbers.formatInteger(member.point, 3, 'COMMA') + '원'}"></td>
                                <td th:if="${member.point == null or member.point == 0}">&nbsp;</td>
                                <td th:text="${ member.email_consent}"></td>
                                <td th:text="${ member.user.creation_date}"></td>
                                <td th:text="${ member.user.connection_date}"></td>
                            </tr>

                            </tbody>
                            <!--                        <tbody class="usersList">-->
                            <!--                            <tr>-->
                            <!--                                <td colspan="12">검색 조건을 확인하신 후 검색 버튼을 클릭하세요.</td>-->
                            <!--                            </tr>-->
                            <!--                        </tbody>-->
                        </table>


                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script th:inline="javascript">
        function openPopup(formId, action) {
            if (action === 'selectMemberSendMailPage') {
                var form = document.getElementById(formId);
                var popup = window.open('', 'Popup', 'width=1000,height=800');

                // 새로운 form을 생성하여 데이터를 복사합니다.
                var popupForm = document.createElement('form');
                popupForm.method = 'post';
                popupForm.action = form.action + action;

                // 원래 폼의 데이터를 새로운 폼에 복사합니다.
                Array.from(form.elements).forEach(function (element) {
                    if (element.tagName.toLowerCase() !== 'button') {
                        var clone = element.cloneNode(true);
                        clone.value = element.value;
                        popupForm.appendChild(clone);
                    }
                });

                // 새로운 폼을 body에 추가하고 제출합니다.
                popup.document.body.appendChild(popupForm);
                popupForm.submit();
            } else {
                // 다른 액션에 대해서는 일반적인 폼 제출을 수행합니다.
                submitForm(formId, action);
            }
        }


        function submitForm(formId, action) {
            var form = document.getElementById(formId);
            form.action = form.action + action;  // action을 동적으로 설정
            form.submit();
        }

        var message = [[${message}]];
        if (message) {
            alert(message);
        }
    </script>

</th:block>
</body>
</html>
