<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>탈퇴회원조회</title>
    <link rel="stylesheet" th:href="@{/admin/css/unregister.css}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/admin/js/seach.js}"></script>

</head>
<body>
<th:block layout:fragment="content">
                <div class="pageBody">
                    <div class="mainHd">
                        <div class="topTitle">
                        <h4>탈퇴회원조회</h4>
                        <br>
                        </div>
                        <div class="box"></div>
                    </div>
                    <div class="sectTopWrapper">
                        <form id="unregisterForm"
                              name="unregisterForm"
                              th:action="@{/unregister/unregisterSearch}"
                              method="get"
                              style="display: inline-block">
                        <div class="sectTop">
                            <table class="tblTop">
                                <colgroup>
                                    <col class="w200">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th>아이디</th>
                                    <td>
                                        <ul class="arrAlign">
                                            <li class="w200">
                                                <input type="search" name="searchId" id="searchId" />
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                    <tr>        
                                        <th>탈퇴유형</th>
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <select name="unregisterCondition" id="unregisterCondition" >
                                                            <option value="" selected>전체</option>
                                                            <option value="withdrawal">일반탈퇴</option>
                                                            <option value="forcedWithdrawal">강제탈퇴</option>
                                                            <option value="plannedWithdrawal">탈퇴예정</option>
                                                        </select>
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr> 
                                    <tr>        
                                        <th>탈퇴 신청일 조회</th>
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <input type="date" name="applyStartDay" id="applyStartDay">
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;
                                                    </li>  
                                                    <li class="w200">
                                                        <input type="date" name="applyEndDay" id="applyEndDay">
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr>
                                <tr>
                                    <th>탈퇴 완료일 조회</th>
                                    <td>
                                        <ul class="arrAlign">
                                            <li class="w200">
                                                <input type="date" name="commitStartDay" id="commitStartDay">
                                            </li>
                                            <li class="w25">
                                                &nbsp;
                                            </li>
                                            <li class="w200">
                                                <input type="date" name="commitEndDay" id="commitEndDay">
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>    
                            </table>
                            <div>
                                <button type="submit" id="btnSearch"> 검색 </button>
                            </div>
                        </div>
                        </form>
                            <div><br><br></div>
                        </div>
                    <div><br><br></div>
                    <div class="sectBottom">
                        <form id="stateUpdate"
                              th:action="@{/unregister/stateUpdate}"
                              method="post">
                        <div class="bottomResult">
                            <div class="bottomResultTitle"><h3>검색 결과</h3></div>
                            <div class="bottomResult1"><span>(총 : </span>
                                <span class="colorRed" th:text="${totalResult}"> </span> 건 / 일반탈퇴 :
                                <span class="colorRed" th:text="${countY}">  </span>건 / 강제탈퇴 :
                                <span class="colorRed" th:text="${countN}">  </span>건 )
                            </div>
                        </div>
                        <div class="tblWrapper">
                        <table class="tblBottom" id="unregister">
                            <colgroup>
                                <col class="w140">
                                <col class="w200">
                                <col class="w200">
                                <col class="w200">
                                <col class="w200">
                                <col class="w140">
                                <col class="w200">

                            </colgroup>
                            <tbody>
                                        <tr class="searchResult">
                                            <th><input type="checkbox" name="" id="" style="width: 140px;"></th>
                                            <th>아이디</th>
                                            <th>탈퇴신청일</th>
                                            <th>탈퇴완료일</th>
                                            <th>탈퇴사유</th>
                                            <th>탈퇴여부</th>
                                            <th>탈퇴신청취소일</th>
                                </tr>
                                <tr class="searchBottom_tr"
                                th:each="unregister : ${ unregisterList}">
                                    <td>
                                        <input type="checkbox" name="resultCheckbox" id="resultCheckbox" th:value="${ unregister.getUser_code() }">
                                    </td>

                                    <td th:text="${ unregister.id}"></td>
                                    <td th:text="${ unregister.apply_date}"></td>
                                    <td th:text="${ unregister.commit_date}"></td>
                                    <td th:text="${#strings.length(unregister.cause) > 15 ? #strings.substring(unregister.cause, 0, 15) + '..' : unregister.cause}"></td>
                                    <td th:text="${ unregister.state}"></td>
                                    <td th:text="${ unregister.cancel_date}"></td>
                                </tr>

                            </tbody>
                        </table>
                        </div>
                            <div class="bottom">
                                <select name="selectCommit" id="selectCommit" >
                                    <option value="adminWithdrawalCancel" selected>탈퇴 취소</option>
                                    <option value="adminWithdrawal" selected>탈퇴 승인</option>
                                </select>
                                <button id="btnCommit" type="submit">적용</button>
                            </div>
                        </form>
                    </div>
                </div>
    <script th:inline="javascript">

        var message = [[${message}]];
        if (message) {
            alert(message);
        }

    </script>
</th:block>

</body>
</html>