<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품분류관리</title>
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>
    <link rel="stylesheet"  th:href="@{/admin/css/categoryAdd.css}">
    <script th:if="${success}">
        $(document).ready(function() {
            alert("상태 변경에 성공하였습니다.");
        });
    </script>
</head>
<body>
<th:block layout:fragment="content">
                <div class="pageBody">
                    <div class="mainHd">
                        <div class="topTitle">
                        <h4>상품분류관리</h4>
                        <br>
                        </div>
                    </div>
                    <div class="sectWrapper">
                        <div class="sectLeft">
                            <div class="leftTitle"><h3>상품 분류 목록</h3></div>
<!--                            <div class="left-btn">-->
<!--                                <button id="btnCategoryAdd">카테고리 추가</button>-->
<!--                                <button id="btnCategoryDelete">카테고리 삭제</button>-->
<!--                            </div>-->

                            <div class="leftBody">
                                <table style="width: 550px;" class="categoryTable">
                                    <colgroup>
                                    <col style="width: 85%;">
                                    <col style="width: 5%;">
                                    <col style="width: 5%;">
                                    <col style="width: 5%;">
                                    </colgroup>
                                    <tr class="category">
                                        <td><img th:src="@{/admin/images/category1.png}" height="20px" >침실<input type="hidden" th:value="1"/></td>
                                    </tr>
                                    <tr th:each="category : ${categoryList}" th:if="${category.upperCategoryCode == 1 and category.upperCategoryCode != 0}">
                                        <td style="padding-left: 5px;"
                                            th:if="${category.upperCategoryCode == 1 and category.upperCategoryCode != 0}">
                                            <img th:src="@{/admin/images/L.png}" height="20px"
                                                    th:if="${category.upperCategoryCode == 1 and category.upperCategoryCode != 0}">
                                            <img th:src="@{/admin/images/category2.png}" height="20px"
                                                    th:if="${category.upperCategoryCode == 1 and category.upperCategoryCode != 0}">
                                            <span th:text="${category.name}" th:value="${category.name}"
                                                    th:if="${category.upperCategoryCode == 1 and category.upperCategoryCode != 0}">
                                            </span>
                                            <input type="hidden" th:value="${category.subCategoryName}"
                                                   th:if="${category.upperCategoryCode == 1 and category.upperCategoryCode != 0}">
                                        </td>
                                    </tr>
                                    <tr class="category">
                                        <td><img th:src="@{/admin/images/category1.png}" height="20px">거실<input type="hidden" th:value="2"/></td>
                                    </tr>
                                    <tr th:each="category : ${categoryList}" th:if="${category.upperCategoryCode == 2 and category.upperCategoryCode != 0}">
                                        <td style="padding-left: 5px;"
                                            th:if="${category.upperCategoryCode == 2 and category.upperCategoryCode != 0}">
                                            <img th:src="@{/admin/images/L.png}" height="20px"
                                                 th:if="${category.upperCategoryCode == 2 and category.upperCategoryCode != 0}">
                                            <img th:src="@{/admin/images/category2.png}" height="20px"
                                                 th:if="${category.upperCategoryCode == 2 and category.upperCategoryCode != 0}">
                                            <span th:text="${category.name}" th:value="${category.name}"
                                                  th:if="${category.upperCategoryCode == 2 and category.upperCategoryCode != 0}">
                                            </span>
                                            <input type="hidden" th:value="${category.subCategoryName}"
                                                   th:if="${category.upperCategoryCode ==2 and category.upperCategoryCode != 0}">
                                        </td>
                                    </tr>
                                    <tr class="category">
                                        <td><img th:src="@{/admin/images/category1.png}" height="20px">서재<input type="hidden" th:value="3"/></td>
                                        <input type="hidden" th:value="${'3'}"/>
                                    </tr>
                                    <tr th:each="category : ${categoryList}" th:if="${category.upperCategoryCode == 3 and category.upperCategoryCode != 0}">
                                        <td style="padding-left: 5px;"
                                            th:if="${category.upperCategoryCode == 3 and category.upperCategoryCode != 0}">
                                            <img th:src="@{/admin/images/L.png}" height="20px"
                                                 th:if="${category.upperCategoryCode == 3 and category.upperCategoryCode != 0}">
                                            <img th:src="@{/admin/images/category2.png}" height="20px"
                                                 th:if="${category.upperCategoryCode == 3 and category.upperCategoryCode != 0}">
                                            <span th:text="${category.name}" th:value="${category.name}"
                                                  th:if="${category.upperCategoryCode == 3 and category.upperCategoryCode != 0}">
                                            </span>
                                            <input type="hidden" th:value="${category.subCategoryName}"
                                                   th:if="${category.upperCategoryCode == 3 and category.upperCategoryCode != 0}">
                                        </td>
                                    </tr>
                                    <tr class="category">
                                        <td><img th:src="@{/admin/images/category1.png}" height="20px">주방<input type="hidden" th:value="4"/></td>
                                    </tr>
                                    <tr th:each="category : ${categoryList}" th:if="${category.upperCategoryCode == 4 and category.upperCategoryCode != 0}">
                                        <td style="padding-left: 5px;"
                                            th:if="${category.upperCategoryCode == 4 and category.upperCategoryCode != 0}">
                                            <img th:src="@{/admin/images/L.png}" height="20px"
                                                 th:if="${category.upperCategoryCode == 4 and category.upperCategoryCode != 0}">
                                            <img th:src="@{/admin/images/category2.png}" height="20px"
                                                 th:if="${category.upperCategoryCode == 4 and category.upperCategoryCode != 0}">
                                            <span th:text="${category.name}" th:value="${category.name}"
                                                  th:if="${category.upperCategoryCode == 4 and category.upperCategoryCode != 0}">
                                            </span>
                                            <input type="hidden" th:value="${category.subCategoryName}"
                                                   th:if="${category.upperCategoryCode == 4 and category.upperCategoryCode != 0}">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <form id="category" th:action="@{/category/categoryModify}" method="post" enctype="multipart/form-data">
                        <div class="sectRight">
                            <table class="tblRight">
                                <colgroup>
                                    <col class="w200">
                                    <col>
                                </colgroup>
                                <tr>
                                    <th colspan="3" style="border-bottom: 1px solid #bdc5cd;"><h3>상품 분류 정보</h3></th>
                                </tr>
                                <tr>
                                    <th>분류 명</th>
                                    <input type="hidden" name="upperCategoryCode" id="upperCategoryCode">
                                    <input type="hidden" name="subCategoryName" id="subCategoryName">
                                    <input type="hidden" name="categoryName" id="categoryName">
                                    <td>
                                        <ul>
                                            <li>
                                                <input type="text" name="inputCategoryName" id="inputCategoryName" disabled>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <th>노출 상태</th>
                                    <td>
                                        <label>
                                        <input type="radio" name="categoryDisplay" value="Y" disabled checked><span> 노출</span>
                                        </label>
                                        <label>
                                        <input type="radio" name="categoryDisplay" value="N" disabled ><span> 숨김</span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="border: 0px;">상품 현황</th>
                                </tr>
                                <tr>
                                    <th colspan="2" style="border: 0px;" >
                                    <table class="tblCategoryResult">
                                        <colgroup>
                                        <col class="w200">
                                        <col class="w200">
                                        <col class="w200">
                                        </colgroup>
                                        <tr style="background-color: #ebebeb;">
                                            <th>전체</th>
                                            <th>판매중</th>
                                            <th>품절</th>
                                        </tr>
                                        <tr>
                                            <td class="totalCount"></td>
                                            <td class="stateY"></td>
                                            <td class="stateN"></td>
                                        </tr>
                                    </table>
                                    </th>
                                </tr>
                                <th style="border: 0px;">
                                    <tr>&nbsp;</tr>
                                </th>
                            </table>
                            <button type="submit" id="submit" name="submit">적용</button>
                        </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    <script th:src="@{/admin/js/categoryAdd.js}">
    </script>
</th:block>
</body>
</html>
