<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품수정</title>
    <script th:src="@{https://code.jquery.com/jquery-3.6.4.min.js}"></script>

    <link rel="stylesheet" th:href="@{/admin/css/productAdd.css}">
</head>
<body>
<th:block layout:fragment="content">


            <div class="pageBody">
                <div class="mainHd">
                    <div class="topTitle">
                        <h4>상품 수정</h4>
                    </div>
                </div>
                <form id="productRegist" th:action="@{/product/productRegist}" method="post" enctype="multipart/form-data">
                <div class="sectTopWrapper">
                    <div class="sectTop">
                        <input type="hidden" th:name="productCode" th:value="${product.getProductCode()}">
                        <table>
                            <colgroup>
                                <col class="w200">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th class="tblTitle">판매상태</th>
                                <td>
                                    <ul class="arrAlign">
                                        <li class="w200">
                                            <label>
                                                <input type="radio" name="orderableStatus" value="Y" th:checked="${product.orderableStatus == 'Y'}"><span> 판매</span>
                                            </label>
                                        </li>
                                        <li class="w25">
                                            &nbsp;
                                        </li>
                                        <li>
                                            <label>
                                                <input type="radio" name="orderableStatus" value="N" th:checked="${product.orderableStatus == 'N'}"><span> 판매 중지</span>
                                            </label>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th class="tblTitle">판매기간</th>
                                <td>
                                    <ul class="arrAlign">
                                        <li class="w250">
                                            <input type="date" name="salesStart" id="salesStart" style="width: 200px;" th:value="${product.salesStart.substring(0,10)}">
                                        </li>
                                        <li class="w50">
                                            &nbsp;~
                                        </li>
                                        <li class="w250">
                                            <input type="date" name="salesEnd" id="salesEnd" style="width: 200px;" th:value="${product.salesEnd.substring(0,10)}">
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th class="tblTitle">상품명</th>
                                <td>
                                    <ul class="arrAlign">
                                        <li class="w250">
                                            <input type="text" name="productName" id="productName" style="width: 200px;" th:value="${product.productName}">
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th class="tblTitle">가격</th>
                                <td>
                                    <ul class="arrAlign">
                                        <li class="w250">
                                            <input type="number" name="price" id="price" style="width: 200px;" th:value="${product.price}">
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th class="tblTitle">카테고리</th>
                                <td>
                                    <ul class="arrAlign">
                                        <li class="w250">
                                            <select name="upperCategoryCode" id="upperCategoryCode" onchange="setSelectBox(this)">
                                                <option value="0" th:selected="${product.category.upperCategoryCode == 0}">상위 카테고리</option>
                                                <option value="1" th:selected="${product.category.upperCategoryCode == 1}">침실</option>
                                                <option value="2" th:selected="${product.category.upperCategoryCode == 2}">거실</option>
                                                <option value="3" th:selected="${product.category.upperCategoryCode == 3}">서재</option>
                                                <option value="4" th:selected="${product.category.upperCategoryCode == 4}">주방</option>
                                            </select>
                                        </li>
                                        <li class="w50">
                                            &nbsp;
                                        </li>
                                        <li class="w250">
                                            <select name="subCategoryName" id="subCategoryName">
                                            </select>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th class="tblTitle">배송비</th>
                                <td>
                                    <ul class="arrAlign">
                                        <li>
                                            <label for="deliveryCharge">기본 배송비</label>
                                            <input type="number" name="deliveryCharge" id="deliveryCharge" style="width: 125px;" th:value="${product.deliveryCharge}">
                                            원
                                        </li>
                                        <li>
                                            *0원이면 무료배송
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2" class="optionth">
                                    <ul class="arrAlign">
                                        <li class="w200">
                                            색상 미리보기
                                        </li>
                                        <li class="w400">
                                            색상코드
                                        </li>
                                        <li class="w400">
                                            색상명
                                        </li>
                                        <li class="w200">
                                            재고
                                        </li>
                                        <li class="w140">
                                            추가
                                        </li>
                                    </ul>
                                </th>
                            </tr>
                            <tr class="optionList" th:each="optionList, optionListStat : ${product.getOptionList()}">
                                <th colspan="2" >
                                    <ul class="arrAlign">
                                        <li class="colorPreview" style="width: 200px">
                                            <div id="colorPreview">미리보기</div>
                                        </li>
                                        <li class="w400">
                                            <input type="text" th:name="'optionList[' + ${optionListStat.index} + '].optionCode'" style="width: 350px;" th:value="${optionList.getOptionCode()}">
                                        </li>
                                        <li class="w400">
                                            <input type="text" th:name="'optionDTO[' + ${optionListStat.index} + '].optionName'" style="width: 350px;" th:value="${product.getOptionDTO().get(optionListStat.index).getOptionName()}">
                                        </li>
                                        <li class="w200">
                                            <input type="number" th:name="'optionList[' + ${optionListStat.index} + '].stock'" style="width: 125px;" th:value="${optionList.getStock()}">
                                            개
                                        </li>
                                        <li class="w140" style="padding-top: 5px;">
                                            <div id="img-add">
                                                <img th:src="@{|/admin/images/${optionListStat.index eq 0 ? 'add' : 'delete'}.png|}" height="25px">
                                            </div>
                                        </li>
                                    </ul>
                                </th>
                            </tr>
                            <tr>
                                <th class="tblTitle">총재고량</th>
                                <td>
                                    <ul class="arrAlign">
                                        <li class="w200">
                                            <div id="totalStock"></div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th class="tblTitle" colspan="2">상세페이지 작성</th>
                            </tr>
                            <tr>
                                <td class="imgWrapper" style="border-bottom: 0px;">
                                    <div class="img-file1">
                                        <label for="thumbnail">대표이미지 지정</label>
                                        <input type="file" id="thumbnail" name="thumbnail" accept="image/*">
                                        <div id="thumbnailPreview">
                                            <img id="previewImage1" th:src="@{|/thumbPath${product.attachment[0].getThumbnailPath()}|}" style="width: 200px">
                                        </div>
                                    </div>
                                    <div class="img-file2">
                                        <label for="sub_thumbnail">대표이미지 지정2</label>
                                        <input type="file" id="sub_thumbnail" name="sub_thumbnail" accept="image/*" multiple>
                                        <div id="subThumbnailPreview">
                                            <span>
                                            <img id="subpreviewImage1" alt="" style="width: 80px"
                                                 th:src="@{|/thumbPath${product.attachment[1].getThumbnailPath()}|}">
                                            <img id="subpreviewImage2" alt="" style="width: 80px"
                                                 th:src="@{|/thumbPath${product.attachment[2].getThumbnailPath()}|}">
                                            </span>
                                            <img id="subpreviewImage3" alt="" style="width: 80px"
                                                 th:src="@{|/thumbPath${product.attachment[3].getThumbnailPath()}|}">
                                        </div>
                                    </div>
                                    <div class="img-file3">
                                        <label for="proImg">제품 상세이미지</label>
                                        <input type="file" id="proImg" name="proImg" accept="image/*">
                                        <div id="proPreview" style="max-width: 200px; max-height: 200px; overflow: hidden;">
                                            <img id="previewImage2" alt="" style="width: 100%; height: auto;"
                                                 th:src="@{|/thumbPath${product.attachment[4].getThumbnailPath()}|}">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div><button id="btnAdd">상품수정</button></div>
                    </div>
                </div>
                </form>
            </div>
    </div>
</div>
    <script th:inline="javascript">
        //이렇게 쓰면 위에 변수들을 가져올수있다

        var selectedSubCategory = /*[[${product.category.subCategoryName}]]*/ null;
        // null 쓰는 이위는 subCategoryName의 값이 없으면 null값을 넣어준다는 의미
        // 안쓰면 값이 없을때 오류가 뜰수도있음

        function setSelectBox(select) {
            var upperCategoryCode = select.val();

            // Ajax를 이용하여 서버에서 데이터 가져오기
            $.ajax({
                url: '/product/category/' + upperCategoryCode,
                type: 'GET',
                success: function (data) {
                    // 서버에서 받은 데이터를 이용하여 동적으로 콘텐츠 생성
                    var subCategorySelect = $("#subCategoryName");

                    // 기존 옵션 제거
                    subCategorySelect.empty();

                    // 서버에서 받은 데이터를 이용하여 옵션 추가
                    for (var i = 0; i < data.length; i++) {
                        var option = $('<option></option>')
                            .attr('value', data[i].subCategoryName)
                            .text(data[i].name);

                        // 만약 현재 옵션이 선택된 상태이면 선택 속성 추가
                        if (data[i].subCategoryName === selectedSubCategory) {
                            option.attr('selected', 'selected');
                        }

                        subCategorySelect.append(option);
                    }
                },
                error: function (error) {
                    console.error('Error fetching data: ', error);
                }
            });
        }

        // 페이지 로딩 시 초기 서브 카테고리 설정
        $(document).ready(function () {
            setSelectBox($('#upperCategoryCode'));

            // 상위 카테고리가 변경될 때마다 서브 카테고리 업데이트
            $('#upperCategoryCode').change(function () {
                setSelectBox($(this));
            });
        });
    </script>
</th:block>
<script th:src="@{/admin/js/productModify.js}"></script>
<script th:inline="javascript">
    var message = [[${message}]];
    if (message) {
        alert(message);
    }
</script>
</body>
</html>

