<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품조회</title>
    <link rel="stylesheet" th:href="@{/admin/css/productserch.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/admin/js/seach.js}"></script>
</head>
<body>
<th:block layout:fragment="content">
                <div class="pageBody">
                    <div class="mainHd">
                        <div class="topTitle">
                        <h4>상품 조회</h4>
                        <br>
                        </div>
                        <div class="box"></div>
                    </div>
                    <div class="sectTopWrapper">
                        <form id="searchForm"
                              th:action="@{/product/productserach}"
                              method="get"
                              style="display: inline-block"
                        >
                        <div class="sectTop">
                            <table class="tblTop">
                                <colgroup>
                                    <col class="w200">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>상태</th>
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <select name="prdCondition" id="prdCondition" >
                                                            <option value="" selected>판매상태 목록</option>
                                                            <option value="conditionAll" >판매상태 전체</option>
                                                            <option value="conditionY">판매중</option>
                                                            <option value="conditionN">판매종료</option>
                                                        </select>
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr>    
                                    <tr>        
                                        <th>키워드</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <select name="serachCondition" id="serachCondition" >
                                                            <option value="0" selected>상품명</option>
                                                            <option value="1">상품번호</option>
                                                        </select>
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;
                                                    </li>                                                    
                                                    <li>
                                                        <input type="text" name="serachValue" id="serachValue">
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr>    
                                    <tr>        
                                        <th>판매가</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <input type="text" name="prdSerchStartPrice" id="prdSerchStartPrice">
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;~
                                                    </li>                                                    
                                                    <li class="w200">
                                                        <input type="text" name="prdSerchEndPrice" id="prdSerchEndPrice">
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr>   
                                    <tr>        
                                        <th>카테고리</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <select name="category1" id="category1" >
                                                            <option value="0" selected>상위 분류 선택</option>
                                                            <option value="1">의자</option>
                                                            <option value="2">테이블</option>
                                                        </select>
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;
                                                    </li>  
                                                    <li class="w200">
                                                        <select name="category2" id="category2" >
                                                            <option value="0" selected>하위 분류 선택</option>
                                                            <option value="1">침실</option>
                                                            <option value="2">거실</option>
                                                        </select>
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr> 
                                    <tr>        
                                        <th>등록일</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <input type="date" name="proSearchStartDay" id="proSearchStartDay">
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;
                                                    </li>  
                                                    <li class="w200">
                                                        <input type="date" name="proSearchEndDay" id="proSearchEndDay">
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr> 
                                </tbody>    
                            </table>
                            <div>
                                <button id="btnSearch"> 검색 </button>
                            </div>
                            <div><br><br></div>
                        </div>
                        </form>
                    </div>
                    <div><br><br></div>
                    <div class="sectBottom">
                        <div class="bottomResult">
                            <div class="bottomResultTitle"><h3>상품 검색 결과</h3></div>
                            <div class="bottomResult1"><span>(총 : </span>
                                <span class="colorRed"> 3 </span>
                                <span> / 판매중 : </span>
                                <span class="colorRed"> 2 </span>
                                <span> / 품절 : </span>
                                <span class="colorRed"> 1 </span>
                                <span> ) </span></div>
                        </div>
                        <div class="tblWrapper">
                        <table class="tblBottom" id="productSearch">
                            <colgroup>
                                <col class="w140">
                                <col>
                            </colgroup>
                            <tbody>
                                        <tr class="searchResult">        
                                            <th>상품번호</th>
                                            <th>상품명</th>
                                            <th>판매가</th>
                                            <th>판매상태</th>
                                            <th>판매량</th>
                                            <th>재고</th>
                                            <th>등록일(수정일)</th>                                                    
                                </tr> 
                                <tr class="proSearchBottomtr"
                                    th:each="product : ${ productList }"
                                >
                                    <td th:text="${ product.productCode }"></td>
                                    <td th:text="${ product.productName }"></td>
                                    <td th:text="${ product.price }"></td>
                                    <td th:text="${ product.orderableStatus }"></td>
                                    <td th:text="${ product.option.sales }"></td>
                                    <td th:text="${ product.option.stock }"></td>
                                    <td th:text="${ product.registrationDate }"></td>

                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>

                </div>
</th:block>
<script>
/* 게시글 리스트에서 해당 게시글에 마우스를 올릴 떄에 대한 스타일 처리 */
if (document.querySelectorAll("#list td")) {
const $tds = document.querySelectorAll("#list td");
for (let i = 0; i < $tds.length; i++) {

$tds[i].onmouseenter = function() {
this.parentNode.style.backgroundColor = "orangered";
this.parentNode.style.cursor = "pointer";
}

$tds[i].onmouseout = function() {
this.parentNode.style.backgroundColor = "black";
}

$tds[i].onclick = function() {
const no = this.parentNode.children[0].innerText;
location.href = "" ;
}
}
}
</script>

</body>
</html>