<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" th:href="@{/admin/css/FAQ.css}" type="text/css">
    <script th:src="@{/admin/js/seach.js}"></script>


</head>
<body>
<th:block layout:fragment="content">
    <div class="pageBody">
                    <div class="mainHd">
                        <div class="topTitle">
                            <h4>FAQ</h4>
                        </div>
                        <div class="topbtnWrapper">
                            <div class="pageButton"><a th:href="@{/Service/productInquiryPage}">상품 문의 관리</a></div>
                            <div class="pageButton"><a th:href="@{/Service/Product-reviewPage}">상품 후기 관리</a></div>
                            <div class="pageButton1"><a th:href="@{/Service/FAQPage }">FAQ 관리</a></div>
                            <div class="pageButton"><a th:href="@{/Service/noticePage}">공지사항 관리</a></div>
                            </div>
                        <div id="btnNoticeAdd"><a th:href="@{/Service/FAQWritePage}">FAQ등록</a></div>
                    </div>
                    <div class="sectTopWrapper">
                        <div class="sectTop">
                            <form id="searchFAQ"
                                  th:action="@{/Service/FAQ}"
                                  method="get"
                                  style="display: inline-block">
                            <table class="tblTop">
                                <colgroup>
                                    <col class="w200">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>        
                                        <th>등록일</th>
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <input type="date" name="faqSearchStartDay" id="faqSearchStartDay">
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;~
                                                    </li>  
                                                    <li class="w200">
                                                        <input type="date" name="faqSearchEndDay" id="faqSearchEndDay">
                                                    </li>
                                                    
                                                </ul>    
                                            </td>   
                                    </tr> 

                                    <tr>        
                                        <th>키워드</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <select name="faqKeyword" id="faqKeyword" >
                                                            <option value="0" selected>--검색 키워드--</option>
                                                            <option value="1">제목</option>
                                                            <option value="2">작성자</option>
                                                        </select>
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;
                                                    </li>                                                    
                                                    <li>
                                                        <input type="text" name="faqSearch" id="faqSearch">
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr>    
                                </tbody>    
                            </table>
                            <div>
                                <button type="submit" id="btnSearch"> 검색 </button>
                            </div>
                            </form>
                        </div>

                    </div>
                    <div><br><br></div>
                    <div class="sectBottom">
                        <form id="FAQStateUpdate"
                              th:action="@{ /Service/FAQStateUpdate}"
                              method="post">
                        <div class="bottomResult">
                            <div class="bottomResultTitle"><h3>검색 결과</h3></div>
                            <div class="bottomResult1"><span>(총 : </span>
                                <span class="colorRed" th:text="${totalResult}">  </span>
                                <span> 건 ) </span></div>
                        </div>
                        <div class="tblWrapper">
                        <table class="tblBottom" id="FAQ">
                            <colgroup>
                                <col class="w140">
                                <col class="w140">
                                <col style="width: 100%;">
                                <col class="w140">
                                <col class="w140">
                                <col>
                            </colgroup>
                            <tbody>
                                            <tr class="searchResult">
                                                <th class="searchBottomCheck"><input type="checkbox" name="resultCheckbox" ></th>
                                            <th>제목</th>
                                            <th>내용</th>
                                            <th>작성자</th>
                                            <th>등록일자</th>
                                            <th>수정일자</th>
                                            <th>조회수</th>
                                            <th>노출상태</th>
                                </tr>
                                            <tr class="proSearchBottomtr" th:each="FAQ : ${ FAQList }">
                                                <td class="proSearchBottomCheck">
                                                    <input type="checkbox" name="resultCheckbox" id="resultCheckbox"
                                                    th:value="${FAQ.getPost_code()}">
                                                </td>
                                                <td th:text="${ FAQ.title }"></td>
                                                <td th:text="${ FAQ.content }"></td>
                                                <td th:text="${ FAQ.id.id }"></td>
                                                <td th:text="${ FAQ.write_date }"></td>
                                                <td th:text="${ FAQ.modify_date }"></td>
                                                <td th:text="${ FAQ.views }"></td>
                                                <td th:text="${ FAQ.state }"></td>
                                            </tr>
                               
                            </tbody>
                        </table>
                        </div>
                        <select class="select" name="FAQSelectCommit" id="FAQSelectCommit">
                            <option value="0">--공개 상태 전환--</option>
                            <option value="1">공개 전환</option>
                            <option value="2">비공개 전환</option>

                        </select>
                            <button id="btnCommit" type="submit">적용</button>
                    </div>
    </form>
                </div>
</th:block>
</body>
</html>