<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layouts/adminlayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" th:href="@{/admin/css/notice.css}" type="text/css">
    <script th:src="@{/admin/js/seach.js}"></script>

</head>
<body>
<th:block layout:fragment="content">
                <div class="pageBody">
                    <div class="mainHd">
                        <div class="topTitle">
                            <h4>공지사항</h4>
                        </div>
                        <div class="topbtnWrapper">
                            <div class="pageButton"><a th:href="@{/Service/productInquiryPage}">상품 문의 관리</a></div>
                            <div class="pageButton"><a th:href="@{/Service/Product-reviewPage}">상품 후기 관리</a></div>
                            <div class="pageButton"><a th:href="@{/Service/FAQPage}">FAQ 관리</a></div>
                            <div class="pageButton1"><a th:href="@{/Service/noticePage}">공지사항 관리</a></div>
                            </div>
                        <div id="btnNoticeAdd"><a th:href="@{/Service/noticeWritePage}">공지사항등록</a></div>
                    </div>
                    <div class="sectTopWrapper">
                        <div class="sectTop">
                            <form id="searchNotice"
                                  th:action="@{/Service/notice}"
                                  method="get"
                                  style="display: inline-block">
                            <table class="tblTop">
                                <colgroup>
                                    <col class="w200">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>        
                                        <th>작성일</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <input type="date" name="notSearchStartDay" id="notSearchStartDay">
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;~
                                                    </li>  
                                                    <li class="w200">
                                                        <input type="date" name="notSearchEndDay" id="notSearchEndDay">
                                                    </li>
                                                    
                                                </ul>    
                                            </td>   
                                    </tr> 
                                    <tr>        
                                        <th>공개여부</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <select name="notCondition" id="notCondition" >
                                                            <option value="0" selected>전체</option>
                                                            <option value="1">공개</option>
                                                            <option value="2">비공개</option>
                                                        </select>
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr>    
                                    <tr>        
                                        <th>키워드</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <select name="notKeyword" id="notKeyword" >
                                                            <option value="0" selected>전체</option>
                                                            <option value="1">제목</option>
                                                            <option value="2">내용</option>
                                                        </select>
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;
                                                    </li>                                                    
                                                    <li>
                                                        <input type="text" name="notSearch" id="notSearch">
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr>    
                                </tbody>    
                            </table>
                            <div>
                                <button type="submit" id="btnSearch"> 검색 </button>
                            </div>
                            </form>
                        </div>    
                    </div>
                    <div><br><br></div>
                    <div class="sectBottom">
                        <form id="noticeStateUpdate"
                              th:action="@{ /Service/noticeStateUpdate}"
                              method="post">
                        <div class="bottomResult">
                            <div class="bottomResultTitle"><h3>검색 결과</h3></div>
                            <div class="bottomResult1"><span>(총 : </span>
                                <span class="colorRed" th:text="${totalResult}">  </span>
                                <span> 건 ) </span></div>
                        </div>
                        <div class="tblWrapper">
                        <table class="tblBottom" id="notice">
                            <colgroup>
                                <col class="w140">
                                <col class="w140">
                                <col class="w200">
                                <col class="w140">
                                <col class="w140">
                                <col>
                            </colgroup>
                            <tbody>
                                            <tr class="searchResult">
                                                <th class="searchBottomCheck"><input type="checkbox" name="resultCheckbox" ></th>
                                                <th>제목</th>
                                                <th>작성자</th>
                                                <th>등록일자</th>
                                                <th>수정일자</th>
                                                <th>조회수</th>
                                                <th>노출상태</th>
                                </tr> 
                                    <tr class="proSearchBottomtr" th:each="FAQ : ${ noticeList }">
                                    <td class="proSearchBottomCheck">
                                        <input type="checkbox" name="resultCheckbox" id="resultCheckbox"
                                               th:value="${FAQ.getPost_code()}">
                                    </td>
                                    <td th:text="${#strings.length(FAQ.title) > 10 ? #strings.substring(FAQ.title, 0, 10) + '..' : FAQ.title}"></td>
                                    <td th:text="${ FAQ.id.id }"></td>
                                    <td th:text="${ FAQ.write_date }"></td>
                                    <td th:text="${ FAQ.modify_date }"></td>
                                    <td th:text="${ FAQ.views }"></td>
                                    <td th:text="${ FAQ.state }"></td>
                                </tr>  
                            </tbody>
                        </table>
                        </div>
                        <select name="noticeSelectCommit" id="noticeSelectCommit">
                            <option value="0">일괄 처리 항목</option>
                            <option value="1">공개</option>
                            <option value="2">비공개</option>

                        </select>
                            </select>
                            <button id="btnCommit" type="submit">적용</button>

                        </form>
                    </div>
                </div>
    <script th:inline="javascript">

        var message = [[${message}]];
        if (message) {
            alert(message);
        }

    </script>
</th:block>
</body>
</html>