<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품후기</title>
    <link rel="stylesheet" th:href="@{/admin/css/Product-review.css}" type="text/css">
    <script th:src="@{/admin/js/seach.js}"></script>

</head>
<body>
<th:block layout:fragment="content">
                <div class="pageBody">
                    <div class="mainHd">
                        <div class="topTitle">
                            <h4>게시판관리</h4>
                        </div>
                        <div class="topbtnWrapper">
                            <div class="pageButton"><a th:href="@{/Service/productInquiryPage}">상품 문의 관리</a></div>
                            <div class="pageButton1"><a th:href="@{/Service/Product-reviewPage}">상품 후기 관리</a></div>
                            <div class="pageButton"><a th:href="@{/Service/FAQPage}">FAQ 관리</a></div>
                            <div class="pageButton"><a th:href="@{/Service/noticePage}">공지사항 관리</a></div>
                            </div>
                        
                    </div>
                    <div class="sectTopWrapper">
                        <div class="sectTop">
                            <form id="searchReview"
                                  th:action="@{/Service/Product-review}"
                                  method="get"
                                  style="display: inline-block">
                            <table class="tblTop">
                                <colgroup>
                                    <col class="w200">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>        
                                        <th>작성일</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <input type="date" name="revSearchStartDay" id="revSearchStartDay" style="width: 200px">
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;~
                                                    </li>  
                                                    <li class="w200">
                                                        <input type="date" name="revSearchEndDay" id="revSearchEndDay" style="width: 200px">
                                                    </li>
                                                    
                                                </ul>    
                                            </td>   
                                    </tr> 
                                    <tr>        
                                        <th>평점</th>
                                            <td>
                                                <ul class="arrAlign">

                                                    <li class="w00">
                                                        <select name="revCondition" id="revCondition" style="width: 200px">
                                                            <option value="0" selected>--평점--</option>
                                                            <option value="1">5점</option>
                                                            <option value="2">4점</option>
                                                            <option value="3">3점</option>
                                                            <option value="4">2점</option>
                                                            <option value="5">1점</option>
                                                        </select>
                                                        <input class="check" type="checkbox" name="" id="" >베스트후기
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr>    
                                    <tr>        
                                        <th>키워드</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <select name="revKeyword" id="revKeyword" style="width: 200px">
                                                            <option value="0" selected>--검색 키워드--</option>
                                                            <option value="1">후기내용</option>
                                                            <option value="2">작성자</option>
                                                        </select>
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;
                                                    </li>                                                    
                                                    <li>
                                                        <input type="text" name="revSearch" id="revSearch" style="width: 200px">
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr>    
                                </tbody>    
                            </table>
                            <div>
                                <button type="submit" id="btnSearch"> 검색 </button>
                            </div>
                            </form>
                        </div>    
                    </div>
                    <div><br><br></div>
                    <div class="sectBottom">
                        <form id="revStateUpdate"
                              th:action="@{ /Service/revStateUpdate}"
                              method="post">
                        <div class="bottomResult">
                            <div class="bottomResultTitle"><h3>검색 결과</h3></div>
                            <div class="bottomResult1"><span>(총 : </span>
                                <span class="colorRed" th:text="${totalResult}">  </span>
                                <span> 건 ) </span></div>
                        </div>
                        <div class="tblWrapper">
                        <table class="tblBottom" id="productReview">
                            <colgroup>
                                <col class="w140">
                                <col class="w140">
                                <col style="width: 100%;">
                                <col class="w140">
                                <col class="w140">
                                <col>
                            </colgroup>
                            <tbody>
                                            <tr class="searchResult">
                                                <th class="searchBottomCheck"><input type="checkbox" name="resultCheckbox" ></th>

                                            <th>이미지</th>
                                            <th>후기내용</th>
                                            <th>상품명</th>
                                            <th>평점</th>
                                            <th>작성자</th>
                                            <th>등록일</th>
                                                <th>공개여부</th>
                                </tr> 
                                <tr class="proSearchBottomtr" th:each="review : ${ reviewList }">
                                    <td class="proSearchBottomCheck">
                                        <input type="checkbox" name="resultCheckbox" id="resultCheckbox"
                                        th:value="${review.getReview_code()}">
                                    </td>

                                    <td><img class="reviewImg" th:src="@{|/thumbPath${review.attachment.savePath}|}"></td>
                                    <td th:text="${ review.content}"></td>
                                    <td th:text="${ review.product.productName}"></td>
                                    <td th:text="${ review.grade}"></td>
                                    <td th:text="${ review.id.id}"></td>
                                    <td th:text="${ review.write_date}"></td>
                                    <td th:text="${ review.state}"></td>




                                    
                                </tr>   
                               
                            </tbody>
                        </table>
                        </div>
<!--                        <select name="" id="">-->
<!--                            <option value="0">&#45;&#45;베스트후기 설정&#45;&#45;</option>-->
<!--                            <option value="1">베스트후기 설정</option>-->
<!--                            <option value="2">베스트후기 설정해제</option>-->
<!--                         </select>   -->
                         <select name="revSelectCommit" id="revSelectCommit">
                            <option value="0">--공개 상태 전환--</option>
                            <option value="1">공개 전환</option>
                            <option value="2">비공개 전환</option>
                         </select>
                            <button id="btnCommit" type="submit">적용</button>
                        </form>
                            
                        
                    </div>
                </div>
</th:block>
</body>
</html>