<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품문의</title>
    <link rel="stylesheet" th:href="@{/admin/css/Product-inquiry.css}" type="text/css">
    <script th:src="@{/admin/js/Product-inquiry.js}"></script>
    <script th:src="@{/admin/js/seach.js}"></script>

</head>
<body>
<th:block layout:fragment="content">
                <div class="pageBody">
                    <div class="mainHd">
                        <div class="topTitle">
                            <h4>게시판관리</h4>
                        </div>

                        <div class="topbtnWrapper">
                            <div class="pageButton1"><a th:href="@{/Service/productInquiryPage}">상품 문의 관리</a></div>
                            <div class="pageButton"><a th:href="@{/Service/Product-review}">상품 후기 관리</a></div>
                            <div class="pageButton"><a th:href="@{/Service/FAQ}">FAQ 관리</a></div>
                            <div class="pageButton"><a th:href="@{/Service/noticePage}">공지사항 관리</a></div>
                            </div>
                        
                    </div>
                    <div class="sectTopWrapper">
                        <div class="sectTop">
                            <form id="searchInquiry"
                                  th:action="@{/Service/productInquiry}"
                                  method="get"
                                  style="display: inline-block">
                            <table class="tblTop">
                                <colgroup>
                                    <col class="w200">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>        
                                        <th>문의일</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <input type="date" name="inqSearchStartDay" id="inqSearchStartDay">
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;~
                                                    </li>  
                                                    <li class="w200">
                                                        <input type="date" name="inqSearchEndDay" id="inqSearchEndDay">
                                                    </li>
                                                    
                                                </ul>    
                                            </td>   
                                    </tr> 
                                    <tr>        
                                        <th>구분</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <select name="inqCondition" id="inqCondition" >
                                                            <option value="0" selected>--문의유형 전체--</option>
                                                            <option value="1">상품</option>
                                                            <option value="2">배송</option>
                                                            <option value="3">교환</option>
                                                            <option value="4">반품</option>
                                                            <option value="5">환불</option>
                                                            <option value="6">기타</option>
                                                        </select>
                                                    </li>
                                                    <li class="w00">
                                                        <select name="Condition" id="Condition" >
                                                            <option value="0" selected>--답변여부 전체--</option>
                                                            <option value="1">답변완료</option>
                                                            <option value="2">미답변</option>
                                                        </select>
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr>    
                                    <tr>        
                                        <th>키워드</th>    
                                            <td>
                                                <ul class="arrAlign">
                                                    <li class="w200">
                                                        <select name="inqKeyword" id="inqKeyword" >
                                                            <option value="0" selected>--검색 키워드--</option>
                                                            <option value="1">제목</option>
                                                            <option value="2">작성자</option>
                                                        </select>
                                                    </li>
                                                    <li class="w25">
                                                        &nbsp;
                                                    </li>                                                    
                                                    <li>
                                                        <input type="text" name="inqSearch" id="inqSearch">
                                                    </li>
                                                </ul>    
                                            </td>   
                                    </tr>    
                                </tbody>    
                            </table>
                            <div>
                                <button type="submit" id="btnSearch"> 검색 </button>
                            </div>
                            </form>
                        </div>
                    </div>
                    <div><br><br></div>
                    <div class="sectBottom">
                        <div class="bottomResult">
                            <div class="bottomResultTitle"><h3>검색 결과</h3></div>
                            <div class="bottomResult1"><span>(총 : </span>
                                <span class="colorRed"> 5 </span> 건 / 미답변 :
                                <span class="colorRed"> 2 </span>
                                <span> 건 ) </span></div>
                        </div>
                        <div class="tblWrapper">
                        <table class="tblBottom" id="productInquiry">
                            <colgroup>
                                <col class="w50">
                                <col class="w140">
                                <col class="w140">
                                <col class="w140">
                                <col>
                                <col style="width: 100%;">
                                <col class="w140">
                                <col class="w140">
                            </colgroup>
                            <tbody>
                            <tr class="searchResult">
                                            <th>
                                <th class="searchBottomCheck"><input type="checkbox" name="resultCheckbox" ></th>
                                            </th>
                                            <th>답변여부</th>
                                            <th>유형</th>
                                            <th>제목</th>
                                            <th>작성자</th>                                        
                                            <th>등록일</th>                                        
                                </tr> 
                                <tr class="proSearchBottomtr" th:each="inquiry : ${ inquiryList }" >
                                    <td class="proSearchBottomCheck">
                                        <input type="checkbox" name="resultCheckbox" id="resultCheckbox" th:value="${inquiry.inquiry_code}">
                                    </td>
                                    <td th:text="${ inquiry.answer_state}"></td>
                                    <td th:text="${ inquiry.post_type}"></td>
                                    <td th:text="${ inquiry.title}"></td>
                                    <td th:text="${ inquiry.id.id}"></td>
                                    <td th:text="${ inquiry.write_date}"></td>


                                    
                                </tr>  
                               
                            </tbody>
                        </table>
                        </div>
                        <div class="bottom">
                        <select name="inqSelect" id="inqSelect">
                            <option value="0">--공개 상태 전환--</option>
                            <option value="1">공개 전환</option>
                            <option value="2">비공개 전환</option>
                            
                        </select>
                        <button id="btnCommit" type="submit">적용</button>
                    </div>
                    </div>
            <script th:src="@{/admin/js/Product-inquiry.js}"></script>
                </div>
</th:block>

</body>
</html>