<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/adminlayout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이벤트 목록</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" th:href="@{/admin/css/eventList.css}" type="text/css">
    <script th:src="@{/admin/js/seach.js}"></script>
</head>
<body>
<th:block layout:fragment="content">
                    <div class="pageBody">
                        <div class="mainHd">
                            <div class="topTitle">
                            <h4>이벤트 목록</h4>
                            <br>
                            </div>
                            <div class="box"></div>
                        </div>
                        <div class="sectTopWrapper">
                            <form id="searchForm"
                                  th:action="@{/event/eventListSearch}"
                                  method="get"
                            >
                            <div class="sectTop">
                                <table class="tbl_top">
                                    <colgroup>
                                        <col class="w200">
                                        <col >
                                    </colgroup>
                                    <tbody>
                                        <tr>        
                                            <th>등록일</th>    
                                                <td style="width: max-content">
                                                    <ul class="arrAlign">
                                                        <li class="w200">
                                                            <input type="date" name="searchStartDay" id="searchStartDay">
                                                        </li>
                                                        <li class="w25">
                                                            &nbsp;~
                                                        </li>  
                                                        <li class="w200">
                                                            <input type="date" name="searchEndDay" id="searchEndDay">
                                                        </li>
                                                    </ul>    
                                                </td>   
                                        </tr> 
                                        <tr>        
                                            <th>상태</th>    
                                                <td>
                                                    <ul class="arrAlign">
                                                        <li class="w200">
                                                            <select name="status" id="status" >
                                                                <option value="0" selected>이벤트 전체</option>
                                                                <option value="1">진행중</option>
                                                                <option value="2">진행종료</option>
                                                            </select>
                                                        </li>
                                                    </ul>    
                                                </td>   
                                        </tr>    
                                        <tr>        
                                            <th>이벤트명</th>    
                                                <td>
                                                    <ul class="arrAlign">
                                                        <li class="w200">
                                                                <input type="text" name="eventName" id="eventName">
                                                        </li>
                                                    </ul>    
                                                </td>   
                                        </tr>    
                                    </tbody>    
                                </table>
                                <div>
                                    <button id="btnEventSearch"> 검색 </button>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div><br><br></div>
                        <div class="sectBottom">
                            <div class="bottomResult">
                                <div class="bottomResultTitle"><h3>검색 결과</h3></div>
                                <div class="bottomResult1"><span>(총 : </span>
                                    <span class="colorRed" th:text="${totalResult}">  </span>
                                    <span> / 진행중 : </span>
                                    <span class="colorRed" th:text="${countY}">  </span>
                                    <span> / 진행종료 : </span>
                                    <span class="colorRed" th:text="${countN}"> </span>
                                    <span> ) </span></div>
                                <div class="script">검색 결과를 클릭하면 이벤트 상세 정보를 확인할 수 있습니다.</div>
                            </div>
                            <div class="tblWrapper">
                            <table class="tblBottom" id="eventlist">
                                <colgroup>
                                    <col style="width: 50px;">
                                    <col>
                                </colgroup>
                                <tbody>
                                            <tr class="eventSearchResult">
                                                <th>
                                                    <input type="checkbox" name="resultCheckbox" >
                                                </th>
                                                <th>진행여부</th>
                                                <th>이벤트 진행명</th>
                                                <th>이벤트 시작일</th>
                                                <th>이벤트 종료일</th>
                                                <th>할인율</th>
                                                <th>등록일</th>                                                    
                                    </tr> 
                                    <tr class="eventSearchBottomTr"  th:each="event : ${ eventList }" >
                                        <td class="eventSearchBottomCheck">
                                                <input type="checkbox" name="resultCheckbox" id="resultCheckbox" th:value="${event.postCode}">
                                        <td th:text="${event.status == 'N' ? '이벤트 종료' : '이벤트 진행중'}" th:classappend="${event.status == 'N' ? 'colorRed' : ''}"></td>
                                        <td th:text="${ event.title }"></td>
                                        <td th:text="${ event.startDay}"></td>
                                        <td th:text="${ event.endDay }"></td>
                                        <td th:text="${ event.discount } + '%'"></td>
                                        <td th:text="${ event.writeDate }"></td>
                                    </tr>    

                                </tbody>
                            </table>

                            </div>

                        </div>
                    </div>
</th:block>
</body>
</html>