<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/client/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block layout:fragment="content">
    <script th:src="@{/client/js/login.js}" defer></script>
    <link rel="stylesheet" th:href="@{/client/css/login.css}">

    <section>
        <!-- 여기에 작성 -->
        <div id="main_category_route">
            <ul class="route_list">
                <li id="route_home" onclick="location.href='/'"><img th:src="@{/client/images/icon/home.png}"
                                                                     alt="메인화면"></li>
                <li>&gt;</li>
                <li>로그인</li>
            </ul>
            <div id="contents">
                <form th:action="@{/auth/login}" method="post" id="login_form">
                    <table class="contents-table">
                        <caption>로그인</caption>
                        <tr>
                            <td colspan="5" id="id">아이디</td>
                        </tr>
                        <tr>
                            <td colspan="5"><input type="text" id="input_id" th:value="member0001"  name="userId"></td>
                        </tr>
                        <tr>
                            <td colspan="5" id="password">비밀번호</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <input type="password" id="input_password" th:value="member0001"  name="userPwd">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <div id="login_additional_wrap">
                                    <div id="save_id_wrap">
                                        <input type="checkbox" name="saveId" id="save_id">
                                        <label for="save_id">아이디저장</label>
                                    </div>
                                    <div id="login_additional_buttons">
                                        <a th:href="@{/auth/regist}">
                                            <input type="button" name="regist_button" id="regist_button" value="회원가입">
                                        </a>

                                        <a th:href="@{/auth/searchId}">
                                            <input type="button" name="id_search" id="id_search" value="아이디 찾기">
                                        </a>

                                        <a th:href="@{/auth/searchPassword}">
                                            <input type="button" name="password_search" id="password_search"
                                                   value="비밀번호 찾기">
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <input type="submit" id="login_button" value="로그인">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

    </section>
    <script th:inline="javascript">
        var message = [[${message}]];
        if (message) {
            alert(message);
        }
    </script>

</th:block>

</html>