<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/client/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:with="pageTitle=${postType==1?('리뷰게시글 - '+ board.productName):
                            (postType==2?('문의게시글 - ' + board.title):
                            (postType==3?('공지사항 - ' + board.title):('자주하는질문' + board.title)))}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/client/css/boardDetail.css}">
    <title th:text="${#strings.length(pageTitle) > 20 ? #strings.substring(pageTitle, 0, 20) + '..' : pageTitle}"></title>
</head>
<th:block layout:fragment="content">
    <section class="main_section">
        <div id="contents">
            <ul class="route_list">
                <li id="route_home" onclick="location.href='/'"><img th:src="@{/client/images/icon/home.png}"
                                                                     alt="메인화면"></li>
                <li>&gt;</li>
                <li class="route_board" th:if="${postType==1}" onclick="location.href='/board/reviewList'">리뷰게시판</li>
                <li class="route_board" th:if="${postType==2}" onclick="location.href='/board/questionList'">문의게시판</li>
                <li class="route_board" th:if="${postType==3}" onclick="location.href='/board/noticeList'">공지사항</li>
                <li class="route_board" th:if="${postType==4}" onclick="location.href='/board/faqList'">자주하는질문</li>
                <li>&gt;</li>
                <li>게시글</li>
            </ul>
            <br><br><br><br>
            <div class="start_board">
                <div class="board">
                    <hr class="hr">
                    <div class="board_title_review" th:if="${postType==1}"
                         th:onclick="|product(${board.getProductCode()})|">
                        <div id="board_title_review_wrap">
                            <div class="board_title2">제품이름</div>
                            <div class="board_title3" th:text="${board.productName}"></div>
                        </div>
                        <div>
                            <img th:src="|/thumbPath${board.productImgPath}|" id="img"/>
                        </div>
                    </div>
                    <div class="board_title" th:unless="${postType==1}">
                        <div class="board_title2">제목</div>
                        <div class="board_title3" th:text="${board.title}"></div>
                    </div>
                    <hr>
                    <div class="board_write">
                        <div class="board_write2">아이디</div>
                        <div class="board_write3" th:if="${postType==1 or postType==2}"
                             th:text="|${board.memberId[0] + #strings.repeat('*', board.memberId.length()-2) + board.memberId[board.memberId.length()-1]}|"></div>
                        <div class="board_write3" th:if="${postType==3 or postType==4}"
                             th:text="|${board.userId[0] + #strings.repeat('*', board.userId.length()-2) + board.userId[board.userId.length()-1]}|"></div>
                    </div>
                    <hr>
                    <div class="board_date">
                        <div class="board_date2">날짜</div>
                        <div class="board_date3"
                             th:text="${#dates.format(board.writeDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    </div>
                    <hr>
                    <div class="board_click" th:if="${postType==3 or postType==4}">
                        <div class="board_click2">조회수</div>
                        <div class="board_click3" th:text="${board.views}"></div>
                    </div>
                    <hr th:if="${postType==3 or postType==4}">
                    <br>
                    <div class="writing" th:utext="${board.content}"/>
                    <br>
                    <div th:if="${postType==2}">
                        <hr class="comment_hr">
                        <div class="main_comment" th:unless="${board.commentCode == null}">
                            <div class="main_comment2">작성날짜 :</div>
                            <div class="main_comment3"
                                 th:text="${#dates.format(board.commentWriteDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                            <div class="main_comment4"> 작성자 :</div>
                            <div class="main_comment5">관리자</div>
                        </div>
                        <hr th:unless="${board.commentCode == null}">
                        <div class="comment_space" th:unless="${board.commentCode == null}"
                             th:utext="${board.commentContent}"></div>
                        <div class="none_comment" th:if="${board.commentCode == null}">
                            답변이 아직 없습니다!
                        </div>
                    </div>
                    <hr class="hr">
                    <br>
                    <br>
                    <br>
                    <div class="board_btn">
                        <button onclick="history.back()" id="back_btn">뒤로 가기</button>
                        <input type="hidden" name="postType" th:value="${postType}">
                        <input type="hidden" name="postCode" th:if="${postType==1}" th:value="${board.reviewCode}">
                        <input type="hidden" name="postCode" th:if="${postType==2}" th:value="${board.inquiryCode}">
                        <input type="hidden" name="postCode" th:if="${postType==3 or postType==4}"
                               th:value="${board.postCode}">
                        <button id="delete_btn" sec:authorize="hasAuthority('MEMBER')">삭제하기</button>
                    </div>
                </div>
                <br><br><br>
            </div>
        </div>
    </section>
    <script th:src="@{/client/js/boardDetail.js}"></script>
</th:block>
</html>