<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/client/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/client/css/writeReview.css}">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
</head>
<th:block layout:fragment="content">
    <section>
        <!-- 여기에 작성 -->
        <div id="main_category_route">
            <ul class="route_list">
                <li id="route_home" onclick="location.href='/'"><img th:src="@{/client/images/icon/home.png}"
                                                                     alt="메인화면"></li>
                <li>&gt;</li>
                <li>리뷰하기</li>
            </ul>
            <div id="contents">
                <form th:action="@{/board/writeReview}" method="post" id="registReview">
                    <table id="contents_table">
                        <tr>
                            <td colspan="2">
                                <div id="top_title"><h2>리뷰작성</h2></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div id="photo_and_ratings">
                                    <img id="product_img" th:src="|/thumbPath${orderDetailsDTO.productImage}|"
                                         alt="제품이미지">
                                    <div id="productName_and_ratings">
                                        <p th:text="${orderDetailsDTO.productName}"></p>
                                        <p th:text="${orderDetailsDTO.optionName}"></p>
                                        <div id="ratings">
                                            <img class="star" id="star1" th:src="@{/client/images/icon/empty_star.png}"
                                                 alt="별1"
                                                 onclick="setRatings(0)">
                                            <img class="star" id="star2" th:src="@{/client/images/icon/empty_star.png}"
                                                 alt="별2"
                                                 onclick="setRatings(1)">
                                            <img class="star" id="star3" th:src="@{/client/images/icon/empty_star.png}"
                                                 alt="별3"
                                                 onclick="setRatings(2)">
                                            <img class="star" id="star4" th:src="@{/client/images/icon/empty_star.png}"
                                                 alt="별4"
                                                 onclick="setRatings(3)">
                                            <img class="star" id="star5" th:src="@{/client/images/icon/empty_star.png}"
                                                 alt="별5"
                                                 onclick="setRatings(4)">
                                            <img id="empty_star" th:src="@{/client/images/icon/empty_star.png}"
                                                 alt="empty_star">
                                            <img id="full_star" th:src="@{/client/images/icon/full_star.png}"
                                                 alt="full_star">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr>
                            </td>
                        </tr>
                        <tr>
                            <th id="review_body_title">
                                <div>상세리뷰</div>
                            </th>
                            <td>
                                <textarea id="summernote" name="editordata"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" id="info">
                                - 리뷰와 관련없는 내용 또는 이미지, 욕설/비방, 개인정보유출, 광고/홍보글 등
                                적절하지 않은 게시물은 별도의 고지없이 비공개 처리 될 수 있습니다.
                                <br>
                                - 작성된 게시물은 운영 및 마케팅에 활용될 수 있습니다.
                            </td>
                        </tr>
                    </table>
                    <input type="hidden" id="uploadedImages" name="uploadedImages" value="" readonly>
                    <input type="hidden" id="orderDetailsCode" name="orderDetailsCode"
                           th:value="${orderDetailsDTO.orderDetailsCode}"
                           readonly>
                    <input type="hidden" id="stars" name="stars" value="0" readonly>
                    <div id="bottom_buttons">
                        <input type="button" id="goback_button" value="뒤로가기" onclick="history.back()">
                        <input type="submit" id="submit_button" value="작성하기">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script th:src="@{/client/js/writeReview.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</th:block>
</html>
