<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/client/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

  <th:block layout:fragment="content">
  <script th:src="@{/client/js/index.js}"></script>
  <link rel="stylesheet" th:href="@{/client/css/main.css}">

      <section>
        <div class="slae_img">
          <a href="#"><img src="/client/images/time_sale.jpg" alt=""></a>
        </div>

        <div class="search">
          <input type="search" name="search" id="search">
          <i class="fa fa-search"></i>
        </div>


        <div class="main_category">
          <ul>
            <li>
              <a th:href="@{'/list/productList/bed'}"><img src="/client/images/catergory_IMG/bedroom.jpg" alt=""></a>
              <span>침실</span>
            </li>
            <li>
              <a th:href="@{'/list/productList/sopa'}"><img src="/client/images/catergory_IMG/living_room.jpg" alt=""></a>
              <span>거실</span>
            </li>
            <li>
              <a th:href="@{'/list/productList/desk'}"><img src="/client/images/catergory_IMG/study.jpg" alt=""></a>
              <span>서재</span>
            </li>
            <li>
              <a th:href="@{'/list/productList/kitchenTable'}"><img src="/client/images/catergory_IMG/kitchen.jpg" alt=""></a>
              <span>주방</span>
            </li>
            <li>
              <a th:href="@{'/list/productList/sale'}"><img src="/client/images/catergory_IMG/sale.jpg" alt=""></a>
              <span>할인상품</span>
            </li>
        </ul>
        </div>




            <h3>인기 상품 보실래요?</h3>
            <th:block th:if="${bestProduct}" th:each="product : ${bestProduct}" th:limit="4">
            <div class="best_pruduct">
              <ul>
                <li>
                  <a href="#"><img th:src="@{|/thumbPath${product.attachmentList.savePath}|}" alt=""></a>
                  <ul class="best_pruduct_text">
                    <li>1인가구</li>
                    <li th:text="${product.adminProductDTO.productName}"></li>
                    <li>가격
                      <span th:text="${T(java.lang.String).format('%,d', product.adminProductDTO.price) +'원'}"
                            ></span>
                    </li>
                    <li th:text="'리뷰('+${product.adminProductDTO.reviews}+')'">리뷰</li>
                  </ul>
                </li>
              </ul>
            </div>
            </th:block>
<!--        th:classappend="${product.getSaleEndDay() != null} ? 'strikethrough' : ''"-->


    </section>
    <script th:inline="javascript">
        var message = [[${message}]];
        if (message) {
            alert(message);
        }
        localStorage.removeItem('summernoteContent');
    </script>
</th:block>
</html>