<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/client/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/client/css/mypage.css}">
    <title>마이페이지</title>
</head>
<th:block layout:fragment="content">
    <section>
        <div id="main_category_route">
            <ul class="route_list">
                <li id="route_home" onclick="location.href='/'"><img th:src="@{/client/images/icon/home.png}"
                                                                     alt="메인화면"></li>
                <li>&gt;</li>
                <li>MY페이지</li>
            </ul>
            <div id="contents">
                <input id="id" type="hidden" th:value="${#authentication.principal.username}">
                <div id="top">
                    <div><span onclick="location.href='info'"><span th:text="${name}"></span> 님 &gt;</span></div>
                    <div><img src="/client/images/icon/mypage/icons_coin.png" alt="코인">보유포인트</div>
                    <div>항상 1 in 가구를 방문해 주셔서 감사합니다.</div>
                    <div>
                        <span th:text="${point}"></span>
                        p
                    </div>
                </div>
                <ul id="bottom">
                    <li id="mypage01" onclick="location.href='modifyInfo'">
                        <img th:src="@{/client/images/icon/mypage/mypage01.png}" alt="회원정보수정">
                        <span>회원정보수정</span>
                    </li>
                    <li id="mypage02" onclick="myQuestion()">
                        <img th:src="@{/client/images/icon/mypage/mypage02.png}" alt="문의내역">
                        <span>문의내역</span>
                    </li>


                    <li id="mypage03" onclick="location.href='orderDeliveryInfo'">
                        <img th:src="@{/client/images/icon/mypage/mypage03.png}" alt="주문/배송내역">
                        <span>주문/배송내역</span>
                    </li>


                    <li id="mypage04" onclick="location.href='info'">
                        <img th:src="@{/client/images/icon/mypage/mypage04.png}" alt="나의정보">
                        <span>나의 정보</span>
                    </li>


                    <li id="mypage05" onclick="myReview()">
                        <img th:src="@{/client/images/icon/mypage/mypage05.png}" alt="리뷰내역">
                        <span>리뷰 내역</span>
                    </li>

                    <li id="mypage06" onclick="location.href='exchangePaybackInfo'">
                        <img th:src="@{/client/images/icon/mypage/mypage06.png}" alt="교환/환불내역">
                        <span>교환/환불내역</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <script th:inline="javascript">
        var message = [[${message}]];
        if (message) {
            alert(message);
        }
    </script>
    <script th:src="@{/client/js/mypage.js}"></script>
</th:block>
</html>