<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/client/layout}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block layout:fragment="content">
    <link rel="stylesheet" th:href="@{/client/css/orderDetails.css}">

    <section>
        <div id="main_category_route">
            <ul class="route_list">
                <li id="route_home" onclick="location.href='/'"><img th:src="@{/client/images/icon/home.png}"
                                                                     alt="메인화면"></li>
                <li>&gt;</li>
                <li id="route_mypage" onclick="location.href='mypage'">MY페이지</li>
                <li>&gt;</li>
                <li>주문상세</li>
            </ul>
            <div id="contents">
                <table id="product_table">
                    <thead>
                    <tr class="table_subject">
                        <th>번호</th>
                        <th>이미지</th>
                        <th>상품정보</th>
                        <th>개수</th>
                        <th>판매가</th>
                        <th>할인가</th>
                        <th>배송비</th>
                        <th>적립포인트</th>
                        <th>상태</th>
                        <th th:if="${orderDetails.orderState=='배송완료'}"></th>
                    </tr>
                    </thead>
                    <tbody class="tbody">
                    <!--                    <div th:text="${orderDetails}"/>-->
                    <tr th:each="orderDetail, stat : ${orderDetails.orderDetailsList}">
                        <td th:text="${stat.index + 1}"></td>
                        <td><img th:src="|/thumbPath${orderDetail.productImage}|" th:alt="|제품이미지-${stat.index + 1}|">
                        </td>
                        <td th:text="${orderDetail.productName}"></td>
                        <td th:text="${orderDetail.count}"></td>
                        <td th:text="|${#numbers.formatInteger(orderDetail.costPrice,4,'COMMA')} 원|"
                            th:if="${orderDetail.costPrice >= 1000}"></td>
                        <td th:text="|${orderDetail.costPrice} 원|"
                            th:if="${orderDetail.costPrice > 0 and orderDetail.costPrice < 1000}"></td>
                        <td th:text="무료" th:if="${orderDetail.costPrice}==0"></td>
                        <td th:text="|${#numbers.formatInteger(orderDetail.reducedPrice,4,'COMMA')} 원|"
                            th:if="${orderDetail.reducedPrice >= 1000}"></td>
                        <td th:text="|${orderDetail.reducedPrice} 원|"
                            th:if="${orderDetail.reducedPrice > 0 and orderDetail.reducedPrice < 1000}"></td>
                        <td th:text="|0 원|" th:if="${orderDetail.reducedPrice}==0"></td>
                        <td th:text="|${#numbers.formatInteger(orderDetail.deliveryCharge,4,'COMMA')} 원|"
                            th:if="${orderDetail.deliveryCharge >= 1000}"></td>
                        <td th:text="|${orderDetail.deliveryCharge} 원|"
                            th:if="${orderDetail.deliveryCharge > 0 and orderDetail.deliveryCharge < 1000}"></td>
                        <td th:text="무료" th:if="${orderDetail.deliveryCharge}==0"></td>
                        <td th:text="|${#numbers.formatInteger(orderDetail.pointCharge,4,'COMMA')} 원|"
                            th:if="${orderDetail.pointCharge >= 1000}"></td>
                        <td th:text="|${orderDetail.pointCharge} 원|"
                            th:if="${orderDetail.pointCharge > 0 and orderDetail.pointCharge < 1000}"></td>
                        <td th:text="무료" th:if="${orderDetail.pointCharge}==0"></td>
                        <td th:text="${orderDetails.orderState}"></td>
                        <td th:if="${orderDetails.orderState=='배송완료' and orderDetail.reviewPoint <= 0}">
                            <button type="button"
                                    sec:authorize="hasAuthority('MEMBER')"
                                    th:onclick="'location.href=\'/board/writeReview?orderDetailsCode=' + ${orderDetail.orderDetailsCode} + '\''">
                                리뷰하기
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td th:text="|${#numbers.formatInteger(sumCostPrice,4,'COMMA')} 원|"
                            th:if="${sumCostPrice >= 1000}"></td>
                        <td th:text="|${sumCostPrice} 원|"
                            th:if="${sumCostPrice > 0 and sumCostPrice < 1000}"></td>
                        <td th:text="무료" th:if="${sumCostPrice}==0"></td>
                        <td th:text="|${#numbers.formatInteger(sumReducedPrice,4,'COMMA')} 원|"
                            th:if="${sumReducedPrice >= 1000}"></td>
                        <td th:text="|${sumReducedPrice} 원|"
                            th:if="${sumReducedPrice > 0 and sumReducedPrice < 1000}"></td>
                        <td th:text="|0 원|" th:if="${sumReducedPrice}==0"></td>
                        <td th:text="|${#numbers.formatInteger(sumDeliveryCharge,4,'COMMA')} 원|"
                            th:if="${sumDeliveryCharge >= 1000}"></td>
                        <td th:text="|${sumDeliveryCharge} 원|"
                            th:if="${sumDeliveryCharge > 0 and sumDeliveryCharge < 1000}"></td>
                        <td th:text="무료" th:if="${sumDeliveryCharge}==0"></td>
                        <td th:text="|${#numbers.formatInteger(sumPointCharge,4,'COMMA')} p|"
                            th:if="${sumPointCharge >= 1000}"></td>
                        <td th:text="|${sumPointCharge} p|"
                            th:if="${sumPointCharge > 0 and sumPointCharge < 1000}"></td>
                        <td th:text="|0 p|" th:if="${sumPointCharge}==0"></td>
                        <td th:text="${orderDetails.orderState}"></td>
                    </tr>
                    </tfoot>
                </table>
                <div class="subject">배송 정보</div>
                <table id="delivery_info">
                    <tbody>
                    <tr>
                        <td>받는 분</td>
                        <td th:text="${orderDetails.recipientName}"></td>
                    </tr>
                    <tr>
                        <td>휴대폰 번호</td>
                        <!--<td th:text="${#strings.concat(#strings.substring(orderDetails.recipientPhone, 0, 3), #strings.repeat('*', orderDetails.recipientPhone.length()-3))}"></td>-->
                        <td th:text="${orderDetails.recipientPhone}"></td>
                    </tr>
                    <tr>
                        <td>배송지</td>
                        <td th:text="${orderDetails.deliveryAddress}"></td>
                    </tr>
                    <tr>
                        <td>배송방법</td>
                        <td th:text="${orderDetails.deliveryRequest}"></td>
                    </tr>
                    <tr>
                        <td>배송상태</td>
                        <td th:text="${orderDetails.deliveryState}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="subject">주문금액 정보</div>
                <div id="cost_info">
                    <ul class="minus">
                        <li>상품금액</li>
                        <li th:text="|${#numbers.formatInteger(sumCostPrice,4,'COMMA')} 원|"
                            th:if="${sumCostPrice >= 1000}"></li>
                        <li th:text="|${sumCostPrice} 원|"
                            th:if="${sumCostPrice > 0 and sumCostPrice < 1000}"></li>
                        <li th:text="무료" th:if="${sumCostPrice}==0"></li>
                    </ul>
                    <ul class="minus">
                        <li>할인금액</li>
                        <li th:text="|${#numbers.formatInteger(sumReducedPrice,4,'COMMA')} 원|"
                            th:if="${sumReducedPrice >= 1000}"></li>
                        <li th:text="|${sumReducedPrice} 원|"
                            th:if="${sumReducedPrice > 0 and sumReducedPrice < 1000}"></li>
                        <li th:text="|0 원|" th:if="${sumReducedPrice}==0"></li>
                    </ul>
                    <ul class="plus">
                        <li>포인트사용</li>
                        <li th:text="|${#numbers.formatInteger(orderDetails.pointUsage,4,'COMMA')} p|"
                            th:if="${orderDetails.pointUsage >= 1000}"></li>
                        <li th:text="|${orderDetails.pointUsage} p|"
                            th:if="${orderDetails.pointUsage > 0 and orderDetails.pointUsage < 1000}"></li>
                        <li th:text="|0 p|" th:if="${orderDetails.pointUsage}==0"></li>
                    </ul>
                    <ul class="equal">
                        <li>배송비/포장비</li>
                        <li th:text="|${#numbers.formatInteger(sumDeliveryCharge,4,'COMMA')} 원|"
                            th:if="${sumDeliveryCharge >= 1000}"></li>
                        <li th:text="|${sumDeliveryCharge} 원|"
                            th:if="${sumDeliveryCharge > 0 and sumDeliveryCharge < 1000}"></li>
                        <li th:text="무료" th:if="${sumDeliveryCharge}==0"></li>
                    </ul>
                    <ul>
                        <li>총 결제금액</li>
                        <li th:text="|${#numbers.formatInteger(finalPrice,4,'COMMA')} 원|"
                            th:if="${finalPrice >= 1000}"></li>
                        <li th:text="|${finalPrice} 원|"
                            th:if="${finalPrice > 0 and finalPrice < 1000}"></li>
                        <li th:text="무료" th:if="${finalPrice}==0"></li>
                    </ul>
                </div>
                <div id="point_info">
                    <div class="point_wrap">
                        <div>
                            <div class="subject"><span>포인트 적립 예정</span></div>
                        </div>
                        <!-- 내용 -->
                        <div class="point">
                            <ul>
                                <li>구매적립</li>
                                <li th:text="|${#numbers.formatInteger(sumPointCharge,4,'COMMA')} p|"
                                    th:if="${sumPointCharge >= 1000}"></li>
                                <li th:text="|${sumPointCharge} p|"
                                    th:if="${sumPointCharge > 0 and sumPointCharge < 1000}"></li>
                                <li th:text="|0 p|" th:if="${sumPointCharge}==0"></li>
                            </ul>
                            <ul>
                                <li>리뷰적립</li>
                                <li th:text="|${#numbers.formatInteger(sumReviewPoint,4,'COMMA')} p|"
                                    th:if="${sumReviewPoint >= 1000}"></li>
                                <li th:text="|${sumReviewPoint} p|"
                                    th:if="${sumReviewPoint > 0 and sumReviewPoint < 1000}"></li>
                                <li th:text="|0 p|" th:if="${sumReviewPoint}==0"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="payment_wrap">
                        <div>
                            <div class="subject">결제정보</div>
                        </div>
                        <!-- 내용 -->
                        <div class="payment">
                            <ul>
                                <li th:text="${orderDetails.paymentDetails}"></li>
                                <li>
                                    <input type="button" th:value="${orderDetails.paymentState}">
                                </li>
                                <li th:text="|${#numbers.formatInteger(finalPrice,4,'COMMA')} 원|"
                                    th:if="${finalPrice >= 1000}"></li>
                                <li th:text="|${finalPrice} 원|"
                                    th:if="${finalPrice > 0 and finalPrice < 1000}"></li>
                                <li th:text="무료" th:if="${finalPrice}==0"></li>
                            </ul>
                        </div>
                        <div class="date"
                             th:text="${#dates.format(orderDetails.paymentCompleteDate, 'yyyy-MM-dd HH:mm:ss')}"></div>

                    </div>
                </div>
                <div id="button_wrap">
                    <input id="goback_button" type="button" value="뒤로가기" onclick="history.back()">
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>