
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    
}

a:link, a:visited {
    text-decoration: none;
    color: black;

}



#wrap {
    position: fixed;
    width: 100%;
    height: 100%;


}


header {
    background-color: #F5F5F5;

}

.logobackground{
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    height: 170px;
}

.logoimg img{
    width: 130px;
    margin-left: 40px;
}

.logout{
margin-left: auto;

}

.logout a{
    color: black;
}

.logoimg img{
    width: 130px;
    margin-left: 40px;
}



h2 {
    margin-left: 100px;
    font-size: 40px;
    line-height: 110px;
}



/* 왼측 카테고리 */

.contents {
    display: grid;
    grid-template-columns: 250px repeat(1, auto);

}


.left_nav{
    background-color: #747E8A;
    text-align: center;
    width: 250px;
    height: 100%;

}

.left_nav li{
    border-bottom: 1px solid rgb(92, 92, 92);

}


.prodList {
    color: white;
    background-color: #3F464F;
    display: block;
}

.prodList a{
    color: inherit;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 25px 0;
}

.sub_ProdList li a{
    background-color: #747E8A;
    transition: 150ms;
}

.sub_ProdList li:hover a{
    background-color: tomato;
}

.prodList .sub_ProdList{
    display: none;
    transition: 200ms;
}

.prodList:hover .sub_ProdList{
    display: block;
    height: 100%;
}


.pageBody{
    position: relative;
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
    background-color: #F5F5F5;
    overflow-y: auto;
    height: calc(100vh - 170px);

}

.tbl_top{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

}

.topTitle{
    font-size: 25px;
}

.mainHd{
    position: relative;
}

.sectTop{
    position: relative;
    padding: 20px 20px 00px 20px;
    border: 3px solid #bdc5cd;
    background-color: white;
    height: 700px;
}
.w250 {
    width: 200px !important;
}

.w25{
    width: 25px !important;
}

.w400 {
    width: 400px !important;

}

.w140{
    width: 140px !important;
}

#btnAdminAdd{
    width: 160px;
    height: 50px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 20px;
    margin-bottom: 20px;
}


button#btnAdminAdd:active {
    background-color: #3F464F;
    border: 0;
    font-size: 20px;
    margin-bottom: 20px;
    width: 160px;
    height: 50px;
    color: white;
  }


.arr-align li{
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}

table{
    width: 100%;
    border: #bdc5cd 1px solid;
    border-collapse: collapse;
}

th{
    font-size: 18px;
    height: 80px;
    background-color: #bdc5cd;
    
}

td{
    text-align: center;
    height: 80px;
    font-size: 17px;
    border-bottom: #bdc5cd 1px solid;
    border-right: #bdc5cd 1px solid;
}

#btnChangePass{
    width: 120px;
    height: 40px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 20px;
}


button#btnChangePass:active {
    background-color: #3F464F;
    border: 0;
    font-size: 20px;
    width: 120px;
    height: 40px;
    color: white;
  }

  #btnDeleteAdmin{
    width: 120px;
    height: 40px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 20px;
}


button#btnDeleteAdmin:active {
    background-color: #3F464F;
    border: 0;
    font-size: 20px;
    width: 120px;
    height: 40px;
    color: white;
  }


  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    height: 500px;
    position: relative;

}

#closeAdminModal {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 50px;
    
}
.modalInput{
    text-align: center;
    
}

.title{
    padding-top: 30px;
    font-size: 20px;
    height: 100px;
}
.modalInput>div{
    padding-top: 60px;
    height: 40px;
    vertical-align: middle;
    
    
}
.modalInput input{
    height: 40px;
    width: 200px;
    padding-left: 10px;
    text-align: center;
}

#btnModalAdminAdd{
    width: 200px;
    height: 40px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 20px;
}


button#btnModalAdminAdd:active {
    background-color: #3F464F;
    border: 0;
    font-size: 20px;
    width: 200px;
    height: 40px;
    color: white;
  }

  .passChangeModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


#closePassModal {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 50px;
    
}

.passChangeModal .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passChangModalTitle{
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
}

#adminUpdatePass{
    margin-top: 50px;
}

#btnModalAdminAdd{
    margin-top: 40px;
}