

.page-body {
    position: relative;
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
    height: calc(100vh - 170px);
    overflow-y: auto;
}


#topWrapper{
    width: 1500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 80px);
    grid-template-areas: 
    "todayhd todayhd todayhd";
}
.todayhd{
    font-size: 20px;
    text-align: left;
    margin-left: 30px;
    padding-top: 30px;
    grid-area: todayhd;
    
}
.top {
    
    display: grid;
    border: #d8d8d8 1px solid;
    place-items: center;
    font-size: 20px;
}

.fontRed{
    color: #CD4747;
    font-weight: bold;
}

a{
    color: black;
}

#middleWrapper{
    width: 1500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 80px);
    grid-template-areas: 
    "middlehd middlehd middlehd";
}
.middlehd{
    font-size: 20px;
    text-align: left;
    margin-left: 30px;
    padding-top: 30px;
    grid-area: middlehd;
    grid-column: 1/5;
}
.middle {
    
    display: grid;
    border: #d8d8d8 1px solid;
    place-items: center;
    font-size: 20px;
}

table {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #d8d8d8;
    border-collapse: collapse;
    }
th, td{
    height: 60px;
    border: #d8d8d8 1px solid;
}





    .totalWrapper{
        background-color: white;

    }

    .bottom{
        display: flex;
        width: 1500px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 80px);
        grid-template-areas:
    "middlehd middlehd middlehd";
    }