
.pageBody {
    position: relative;
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
    background-color: #F5F5F5;
    overflow-y: auto;
    height: calc(100vh - 170px);

}

.tbl_top {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

}

.topTitle {
    font-size: 25px;
}

.mainHd {
    position: relative;
}

.sectTop {
    position: relative;
    padding: 20px 20px 20px 20px;
    border: 3px solid #bdc5cd;
    background-color: white;
    height: max-content;
}

.w250 {
    width: 200px !important;
}

.w25 {
    width: 25px !important;
}

.w400 {
    width: 400px !important;

}

.w140 {
    width: 140px !important;
}

#btnAdminAdd {
    width: 160px;
    height: 50px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 20px;
    margin-bottom: 20px;
}

#btnChangeMyPwd {
    width: 200px;
    height: 50px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 20px;
    margin-bottom: 20px;
}

#btnAdminAdd:active,
#btnChangeMyPwd:active {
    background-color: #3F464F;
    border: 0;
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
}


.arr-align li {
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border: #bdc5cd 1px solid;
    border-collapse: collapse;
}

th {
    font-size: 18px;
    height: 80px;
    background-color: #bdc5cd;

}

td {
    text-align: center;
    height: 80px;
    font-size: 17px;
    border-bottom: #bdc5cd 1px solid;
    border-right: #bdc5cd 1px solid;
}

.btnChangePass {
    width: 120px;
    height: 40px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 20px;
}


.btnChangePass:active {
    background-color: #3F464F;
    border: 0;
    font-size: 20px;
    width: 120px;
    height: 40px;
    color: white;
}

.btnDeleteAdmin {
    width: 120px;
    height: 40px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 20px;
}


.btnDeleteAdmin:active {
    background-color: #3F464F;
    border: 0;
    font-size: 20px;
    width: 120px;
    height: 40px;
    color: white;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    height: 500px;
    position: relative;

}

#closeAdminModal {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 50px;

}

.modalInput {
    text-align: center;

}

.title {
    padding-top: 30px;
    font-size: 20px;
    height: 100px;
}

.modalInput > div {
    padding-top: 60px;
    height: 40px;
    vertical-align: middle;
}

.modalInput input {
    height: 40px;
    width: 230px;
    text-align: center;
}

#adminPasswordChange, #regist_admin, #id_check_button {
    width: 200px;
    height: 40px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 20px;
}

#adminPasswordChange:active,
#regist_admin:active {
    background-color: #3F464F;
    border: 0;
    font-size: 20px;
    width: 200px;
    height: 40px;
    color: white;
}

.passChangeModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


#closePassModal {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 50px;

}

.passChangeModal .modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passChangModalTitle {
    margin: 30px;
    font-size: 30px;
    font-weight: bold;
}

#adminUpdatePass {
    margin-top: 50px;
}

#check_text {
    color: red;
    font-weight: bolder;
}

#email_authentication {
    display: flex;
    align-items: center;
    margin-left: 3px;
}

.modalButtonWrap {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
}

#bottom_buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#bottom_buttons input:hover {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

#bottom_buttons input {
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding: 0.3em;
    background: #A7727D;
    border-radius: 5px;
    border: 0;
    font-size: 1.1em;
}
