

.pageBody{
    position: relative;
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
    background-color: #F5F5F5;
    height: calc(100vh - 170px);
    overflow-y: auto;


}

.topbtnWrapper{
    display: flex;

}

.tblTop{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

}

.tblTop th{
    text-align: left;
    padding-left: 40px;
    line-height: 36px;
    border-bottom: 1px solid #ebebeb;
    height: 60px;
}



.mainHd{
    font-size: 25px;
    display: flex;
    padding-bottom: 20px;
}



.sectTop{
    position: relative;

}
.sectTopWrapper{
    position: relative;
    padding: 45px 70px 45px 70px;
    border: 1.5px solid #bdc5cd;
    background-color: white;
}
col{
    display: table-column;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
}
tr{
    display: table-row;
    visibility: inherit;

}

.w200 {
    width: 200px !important;
}

.w25{
    width: 25px !important;
}

.w400 {
    width: 400px !important;

}

.w140{
    width: 140px !important;
}




td {
    border-bottom: solid #ebebeb 1px;
    text-align: center !important;
}


.colorRed{
    color: #CD4747;
    font-weight: bold;
}

.colorBlue{
    color: #26A9F3;
    font-weight: bold;
}


.tblWrapper{
    height: 360px;
    overflow-y: auto;
}



.tblTop div{
    display: inline-block;
    width: 100px;
    height: 40px;
    border: 1px solid #aeb4c6;
    vertical-align: middle;
    line-height: 40px;
}


.pageButton{
    background-color: #D9D9D9;
    border: #989da3 1px solid;
    font-size: 15px;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pageButton1, .pageButton1>a{
    background-color: #262B32;
    color: white;
    border: #3F464F 1px solid;
    font-size: 15px;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .link{
      display: inline-block;
      width: 100px;
      height: 30px;
      border: 1px solid #bdc5cd;
      padding-top: 3px;

  }

button{
    display: block;
    margin: auto;
    width: 120px;
    height: 30px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 15px;

}


button:active {
    background-color: #3F464F;
    width: 120px;
    height: 30px;
    color: white;
    border: 0;
    font-size: 15px;
}