


.mainHd{
    font-weight: bold;
}


.w200 {
    width: 200px !important;
}

.w50{
    width: 50px !important;
    text-align: center;
}

.w400 {
    width: 400px !important;

}

.w140{
    width: 140px !important;
}

.w20{
    width: 20px !important;
}

.pageBody{
    padding: 70px;
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column; 
    height: calc(100vh - 170px);

}



.topTitle{
    position: relative;
    font-size: 25px;
}

.sectWrapper{
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    height: 100%; 

}
.sectWrapper .sectLeft{
    width: 40%;
    border: #bdc5cd 3px solid;
    background-color: white;
    padding: 20px;
    height: 700px;
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
}

.sectRight{
    height: 700px;
}

.leftBody{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.leftTitle{
    border-bottom: #bdc5cd 1px solid;
    padding-top: 15px;
    height: 60px;
}

.left-btn {
    display: flex;
    height: 40px;
}


.left-btn button{
    display: block;
    width: 120px;
    height: 30px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size:  15px;
    margin: 10px 10px 10px 0;
}

td{
    vertical-align: middle;
    height: 30px;
}




.category-name{
    width: 20%;
}


.sectWrapper .sectRight{
    width: 59%;
    border: #bdc5cd 3px solid;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    flex: 1; /* .page-body의 높이를 100%로 설정 */
    margin-left: 20px;
}

.tblCategoryResult{
    border: #bdc5cd 1px solid;
    border-spacing: 0;
    background-color: white;
    width: 80%;
    text-align: center;
    margin: auto;
    
}

.tblCategoryResult th{
    border: #bdc5cd 1px solid;

}
.tblCategoryResult td{
    border: #bdc5cd 1px solid;

}

.tblRight{
    border-spacing: 0;
    width: 100%;
    text-align: left;
    background-color: white;
}

.category{
    height: 50px;
    justify-content: space-between;

}


.tblRight th{
    height: 50px;
    justify-content: space-between;
    border-bottom: #bdc5cd 1px solid;

}

.tblRight td{
    height: 50px;
    justify-content: space-between;
    border-bottom: #bdc5cd 1px solid;
}

.category1{
    height: min-content;
}

.categoryTable{
    collapse: 0px;
}

/* 테이블 셀 간격 없애기 */
.categoryTable td {
    padding: 0;
    margin: 0;
}
