
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}



#wrap {
    position: fixed;
    width: 100%;
    height: 100%;

}


header {
    background-color: #F5F5F5;

}

.logobackground{
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    height: 170px;
}

.logoimg img{
    width: 130px;
    margin-left: 40px;
}

.logout{
margin-left: auto;

}

.logout a{
    color: black;
}



h2 {
    margin-left: 100px;
    font-size: 40px;
    line-height: 110px;
}




/* 왼측 카테고리 */

.contents {
    display: grid;
    grid-template-columns: 250px repeat(1, auto);
    flex: 1;
    overflow-y: auto;
}


.left_nav{
    background-color: #747E8A;
    text-align: center;
    width: 250px;
    height: 100%;
    flex-direction: column;

}

.left_nav li{
    border-bottom: 1px solid rgb(92, 92, 92);

}


.prodList {
    color: white;
    background-color: #3F464F;
    display: block;
}

.prodList a{
    color: inherit;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 25px 0;
}

.sub_ProdList li a{
    background-color: #747E8A;
    transition: 150ms;
}

.sub_ProdList li:hover a{
    background-color: tomato;
}

.prodList .sub_ProdList{
    display: none;
    transition: 200ms;
}

.prodList:hover .sub_ProdList{
    display: block;
    height: 100%;
}


.mainHd{
    font-weight: bold;
}


.w200 {
    width: 200px !important;
}

.w50{
    width: 50px !important;
    text-align: center;
}

.w400 {
    width: 400px !important;

}

.w140{
    width: 140px !important;
}

.w20{
    width: 20px !important;
}

.pageBody{
    padding: 70px;
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column; 
    height: calc(100vh - 170px);

}



.topTitle{
    position: relative;
    font-size: 25px;
}

.sectWrapper{
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    height: 100%; 

}
.sectWrapper .sectLeft{
    width: 40%;
    border: #bdc5cd 3px solid;
    background-color: white;
    padding: 20px;
    height: 700px;
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
}

.sectRight{
    height: 700px;
}

.leftBody{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.leftTitle{
    border-bottom: #bdc5cd 1px solid;
    padding-top: 15px;
    height: 60px;
}

.left-btn {
    display: flex;
    height: 40px;
}


.left-btn button{
    display: block;
    width: 120px;
    height: 30px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size:  15px;
    margin: 10px 10px 10px 0;
}

td{
    vertical-align: middle;
    height: 30px;
}




.category-name{
    width: 20%;
}


.sectWrapper .sectRight{
    width: 59%;
    border: #bdc5cd 3px solid;
    background-color: white;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    flex: 1; /* .page-body의 높이를 100%로 설정 */
    margin-left: 20px;
}

.tblCategoryResult{
    border: #bdc5cd 1px solid;
    border-spacing: 0;
    background-color: white;
    width: 80%;
    text-align: center;
    margin: auto;
    
}

.tblCategoryResult th{
    border: #bdc5cd 1px solid;

}
.tblCategoryResult td{
    border: #bdc5cd 1px solid;

}

.tblRight{
    border-spacing: 0;
    width: 100%;
    text-align: left;
    background-color: white;
}

.category{
    height: 50px;
    justify-content: space-between;

}


.tblRight th{
    height: 50px;
    justify-content: space-between;
    border-bottom: #bdc5cd 1px solid;

}

.tblRight td{
    height: 50px;
    justify-content: space-between;
    border-bottom: #bdc5cd 1px solid;
}
