

footer{
  background-color: rgb(196, 196, 196);
  width: 100%;
  display: flex;
  justify-content: center;
  

}
#footer_wrap{
  width: 70%;
  display: flex;
  flex-direction: column;
}

.footer_text1{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer_text2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.footer_text2 ul{
  margin: 20px;
}
