body{
    width: 800px;
    height: 750px;
}

header, .bottom{
    background-color: #F5F5F5;

}

a{
    color: black;
    text-decoration-line: none;
}

.logobackground{
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    height: 100px;
}

.logoimg img{
    width:70px;
    margin-left: 0px;
}

.wrap{
    padding: 0px 20px 20px 20px;
    border: 3px solid #A7727D;
    height: max-content;

}
th, td{
    height: 60px;
    border-right: #ebebeb 1px solid;
    border-bottom: #ebebeb 1px solid;
}
.answer, .question{
    padding-top: 10px;
    height: 40px;

}

td{
    padding-left: 20px;
}

h2{
    margin-left: 20px;
}

table{
    border: #ebebeb 1px solid;
    width: 100%;
    border-spacing: 0px;
}

.bottom{
    height: 100px;
    padding: 20px 0px 0px 20px;
    margin-top: 10px;
}

#btn {
    width: 150px;
    height: 50px;
    margin-top: 30px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 15px;
    margin-left: auto; /* 추가된 부분 */
    margin-right: auto; /* 추가된 부분 */
    display: block; /* 추가된 부분 */
}
