
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}



#wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y:hidden;

}


header {
    background-color: #F5F5F5;

}

.logobackground{
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    height: 170px;
}

.logoimg img{
    width: 130px;
    margin-left: 40px;
}

.logout{
margin-left: auto;

}

.logout a{
    color: black;
}






h2 {
    margin-left: 100px;
    font-size: 40px;
    line-height: 110px;
}



/* 왼측 카테고리 */

.contents {
    display: grid;
    grid-template-columns: 250px repeat(2, auto);

}


.left_nav{
    background-color: #747E8A;
    text-align: center;
    width: 250px;
    height: 100%;

}

.left_nav li{
    border-bottom: 1px solid rgb(92, 92, 92);

}


.prodList {
    color: white;
    background-color: #3F464F;
    display: block;
}

.prodList a{
    color: inherit;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 25px 0;
}

.sub_ProdList li a{
    background-color: #747E8A;
    transition: 150ms;
}

.sub_ProdList li:hover a{
    background-color: tomato;
}

.prodList .sub_ProdList{
    display: none;
    transition: 200ms;
}

.prodList:hover .sub_ProdList{
    display: block;
    height: 100%;
}


.pageBody{
    position: relative;
    padding-left: 70px;
    padding-top: 50px;
    padding-right: 70px;
    padding-bottom: 50px;
    background-color: #F5F5F5;
    height: calc(100vh - 170px);
    overflow-y: auto;
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;


}

.topTitle{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    height: 66px;
}


.box{
    position: absolute;
}

.mainHd{
    font-weight: bold;
}

.sectTop{
    position: relative;

}

.top-btn{
    position: relative;
}
.sectTopWrapper{
    position: relative;
    padding: 45px 70px 45px 70px;
    border: 1.5px solid #bdc5cd;
    background-color: white;
}
col{
    display: table-column;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
}
tr{
    display: table-row;
    visibility: inherit;
}

.w200 {
    width: 200px !important;
}

.w50{
    width: 50px !important;
    text-align: center;
}

.w400 {
    width: 400px !important;

}

.w140{
    width: 140px !important;
}

.w20{
    width: 20px !important;
}



.arrAlign li{
    float: left;
    padding-right: 10px;
    box-sizing: border-box;
}

.sectTop th{
    line-height: 36px;
    border-bottom: 1px solid #ebebeb;
    height: 60px;
    
}

.sectTop td{
    border-bottom: solid #ebebeb 1px;

}

select{
    width: 200px;
}
label{
    font-size: 13px;
}

#btn-prd-add{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 20px;
    
}


button#btn-prd-add:active {
    background-color: #3F464F;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    color: white;
    border: 0;
    font-size: 20px;
  }

  .arr-center li{
    padding-left: 300px;
    
}

#btnSelectDelete{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 15px;
    ;
}


button#btnSelectDelete:active {
    background-color: #3F464F;
    width: 100px;
    height: 30px;
    color: white;
    border: 0;
    font-size: 15px;
  }

  .optionth{
    background-color: #CFCFCF;
  }

  #btnAdd{
    display: block;
    margin: auto;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 20px;
}


button#btnAdd:active {
    background-color: #3F464F;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    color: white;
    border: 0;
    font-size: 20px;
  }

  #btnSubmitAdd{
    width: 130px;
    height: 50px;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 17px;
    
}


button#btnSubmitAdd:active {
    background-color: #3F464F;
    width: 130px;
    height: 50px;
    color: white;
    border: 0;
    font-size: 17px;

  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    height: 80%;
}

#closeModal {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: 50px;
    
}

.modalTbl{
    padding-left: 50px;
    padding-top:  50px;
}

.modalTbl>table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.modalTblhd{
    background-color: #CFCFCF;
    font-size: 35px;
    
}

.modalTbl th{
    line-height: 36px;
    border-bottom: 1px solid #ebebeb;
    height: 100px;
    font-size: 20px;

    
}

.modalTbl td{
    border-bottom: solid #ebebeb 1px;
    font-size: 20px;
}


  .colorRed{
    color: #CD4747;
    font-weight: bold;
}


.colorBlue{
    color: #26A9F3;
    font-weight: bold;
}

.modalResultTbl{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    height: 66px;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 15px;
    
}

.modalInsideTbl{
    
    padding-left: 10px;
}

.modalInsideTbl td{
    line-height: 36px;
    border-bottom: 1px solid #ebebeb;
    height: 30px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}


.modalBottom{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    text-align: center;
}

.moadlTblTotalResult{
    font-size: 18px;
    font-weight: bold;

}

#modalBtnPrdAdd{
    display: block;
    width: 200px;
    height: 50px;
    margin: 10px auto;
    color: white;
    background-color: #A7727D;
    border: 0;
    font-size: 20px;
}

button#modalBtnPrdAdd:active {
    display: block;
    width: 200px;
    height: 50px;
    margin: 10px auto;
    color: white;
    background-color: #3F464F;
    border: 0;
    font-size: 20px;
  }

.filebox label {
    display: inline-block;
    padding: 10px 60px;
    width: 200px;
    color: #fff;
    font-size: 20px;
    vertical-align: middle;
    background-color: #A7727D;
    cursor: pointer;
    height: 50px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.imgWrapper label{
    display: inline-block;
    padding: 7px ;
    padding-left: 35px;
    width: 200px;
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
    background-color: #A7727D;
    height: 40px;
    margin: 10px;
}

input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.tblTitle{
    text-align: left;
    padding-left: 40px;

}

.imgWrapper{
    display: flex;
    padding: 10px;
    width: 100vh;
}

#thumbnailPreview{
    margin-left: 10px;
    width: 200px;
    height: 200px;
}

#previewImage {
    width: 200px; /* 원하는 너비로 조절 */
    height: auto;
}

#subThumbnailPreview{
    margin-left: 10px;
    width: 200px;
    height: 200px;
}

#proPreview{
    margin-left: 10px;
    width: 200px;
    height: 200px;
}