<th:block xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/include/client/css/boardHeader/boardHeader.css}"/>
    <div id="boardHeaderWrap">
        <ul id="boardHeaderList">
            <li id="review_board">리뷰게시판</li>
            <li id="question_board">문의게시판</li>
            <li id="notice_board">공지사항</li>
            <li id="faq_board">자주하는질문</li>
            <li id="termsAndCondition_board">이용약관</li>
            <li id="privacyPolicy_board">개인정보처리방침</li>
        </ul>
    </div>
    <script th:src="@{/include/client/js/boardHeader/boardHeader.js}"></script>
</th:block>